<template>
  <div
    class="row pb-5"
    v-if="audit"
  >
    <AuditHeader
      :audit="audit"
      :current-object-type="currentObjectType"
      dusk="Audit-Header"
    />
    <router-view :current-object-type="currentObjectType" />
  </div>
</template>

<script>
import Audit from "@/models/audit";
import AuditHeader from "@/components/Audit/AuditHeader.vue";

export default {
  name: "AuditLayout",
  components: {
    AuditHeader
  },
  props: {
    auditId: {
      type: [Number, String],
      required: true
    }
  },
  computed: {
    audit() {
      return Audit.query()
        .with('assessment')
        .with('beach')
        .with('objects')
        .with('objects.media')
        .with('objects.subtype')
        .with('media')
        .with('comments')
        .with('comments.user')
        .with('comments.auditObject')
        .with('risks')
        .with('risks.auditObject')
        .find(this.auditId)
    },
    currentObjectType() {

      if (this.$route.params.objectTypeId) {
        return this.$route.params.objectTypeId
      }
      if (this.$route.params.objectId && this.audit && this.audit.objects) {
        let findObject = _.filter(this.audit.objects, {'id': this.$route.params.objectId})
        if (findObject && findObject[0]) {
          return findObject[0].type_id
        }
      }
      return ''
    }

  }
};
</script>

<style scoped>
section {
  min-height: 71vh;
}

</style>
