<template>
  <div
    class="row pb-5"
  >
    <div class="col-12 pt-4 pb-2 bg-light">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <input-plus
            label="Title"
            :required="true"
            v-model="audit.title"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <input-plus
            label="Date of visit"
            type="date"
            placeholder="dd/mm/yyyy"
            :required="true"
            v-model="audit.date_visit"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <input-plus
            label="Summary"
            v-model="audit.summary"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <radio-plus
            label="Mode"
            v-model="audit.status"
            :options="[ { value: 0, text: 'Offline' }, { value: 1, text: 'Online' }]"
          />
        </div>
      </div>

      <h3>
        Select Beach
      </h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_id"
            label=""
            :options="beachesOptions"
            :required="true"
            @input="selected"
            dusk="Beach-Selector"
          />
        </div>
      </div>

      <div
        class="row"
        v-if="audit.beach_id"
      >
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_hazard_rating"
            label="Hazard rating"
            :options="rating"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_type"
            label="Beach Type"
            :options="types"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_fvr_development"
            label="FVR Development"
            :options="fvr_development"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_fvr_population"
            label="FVR Population"
            :options="fvr_population"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_fvr_frequency"
            label="FVR Frequency"
            :options="fvr_frequency"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_local_population"
            label="Local population Rating"
            :options="population_rate"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_human_water"
            label="Human activity population in water"
            :options="human_activity_water"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <select-plus
            v-model="audit.beach_human_beach"
            label="Human activity population on beach"
            :options="human_activity_beach"
          />
        </div>
      </div>
    </div>
    <div
      class="col-12 text-right bg-light pb-2"
      v-if="audit.beach_id"
    >
      <button
        class="btn btn-primary"
        @click.prevent="createAudit"
        dusk="Create-Audit"
      >
        CREATE
        <icon
          :icon="['fal', 'thumbs-up']"
          fixed-width
        />
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Audit from '@/models/audit';
import Beach from '@/models/beach';
import moment from 'moment'
moment.locale('en-AU')

export default {
  name: "AuditNew",
  props: {
    assessment: {
      type: Object,
      required: true
    }
  },
  computed: {
    beachesOptions() {
      return Beach.getters("beachesOptions");
    },
    ...mapState("audit", {
      status: state => state.status,
      rating: state => state.rating,
      population_rate: state => state.population_rate,
      human_activity_beach: state => state.human_activity_beach,
      human_activity_water: state => state.human_activity_water,
      fvr_development: state => state.fvr_development,
      fvr_frequency: state => state.fvr_frequency,
      fvr_population: state => state.fvr_population,
    }),
    ...mapState("beach", {
      types: state => state.types
    })
  },
  data() {
    return {
      hasSubmenu: 'blog',
      audit: {
        id: null,
        assessment_id: null,
        beach_id: null,
        title: null,
        date_visit: null,
        status: 0,
        date: null,
        summary: null
      }
    };
  },
  mounted() {
    this.$store.commit("system/setTitle", 'New Audit', { root: true });
    this.audit.date_visit = moment().format('YYYY-MM-DD')
  },
  methods: {
    selected(params) {
      let beach = Beach.find(params)
      let metadata = beach.metadata

      this.audit.beach_type = metadata.beach_type
      this.audit.beach_hazard_rating = metadata.hazard_rating

    },
    createAudit() {
      if (this.audit === undefined || this.audit === null) {
        this.error = true;
        return false;
      }

      this.error = false;
      this.audit.assessment_id = this.assessment.id;

      Audit.dispatch('submitAudit', this.audit).then(
        response => {
          this.loading = false;
          this.errors = response.data.errors;
          if (this.errors) {
            this.$swal({
              icon: "error",
              title: "Audit",
              text:
                "Please fill in all. " + this.validation + " missing fields"
            });
          } else {
            this.done = true
            // console.log(' submitAudit did something     ',response)
            this.$swal({
              icon: "success",
              title: "Good Job!",
              text: "You had created a audit. Next step is add items."
            });
            this.$router.push({ name: 'ObjectGroupList' , params: { assessmentId: this.assessment.id, auditId: response.data.audit.id, objectTypeId: 'beach' }});
          }
        },
        error => {
          console.error(error);
          this.loading = false;
          this.$swal({
            icon: "error",
            title: "Audit",
            text: "Error saving :("
          });
        }
      );
    },
    beforeRouteLeave(to, from, next) {
      if (this.audit.id === null) {
        this.$swal({
          title: "Are you sure?",
          text: "You haven't saved this audit!",
          icon: "question",
          showCancelButton: true,
        }).then(result => {
          if (result.value) {
            next();
          } else {
            next(false);
          }
        });
      } else {
        next();
      }
    }
  }
};
</script>
