<template>
  <div
    class="row pb-5"
    v-if="audit"
  >
    <div
      class="col-12 bg-primary fixed-top pt-2 animated fadeIn faster"
      style="position: sticky; top: 45px; height: 50px;"
    >
      <h3 class="text-white">
        {{ audit.title }}
        <a
          href="#"
          class="btn btn-link text-white"
          @click.prevent="showEditAuditModal = true"
          dusk="Audit-Edit"
          v-if="isAdmin(audit) || isAuditor(audit)"
        >
          <icon :icon="['fal','edit']" />
        </a>

        <span
          class="badge badge-danger"
          v-if="audit.status === 0"
        >Offline</span>
        <span
          class="badge badge-success"
          v-else-if="audit.status >= 0"
        >Online</span>

        <span class="float-right text-white">{{ audit.date_visit | formatDate }}</span>
      </h3>
    </div>
    <AuditHeaderButtons
      :audit="audit"
      dusk="Audit-Header-Buttons"
    />

    <AuditEditModal
      :audit="audit"
      @close="showEditAuditModal = false"
      :show="showEditAuditModal"
    />
    <router-view />
    <div
      class="col-12 pt-2"
      v-if="objectId === null"
    >
      <div class="row">
        <div
          class="col-12 pt-2"
        >
          <div class="text-muted">
            {{ audit.assessment.title }}
            <icon :icon="['fal','angle-right']" /><icon :icon="['fal','angle-right']" /> {{ audit.title }}
          </div>

          <h3>Dashboard</h3>
        </div>
        <div
          class="col-8 pt-2"
        >
          <h4>
            <icon
              aria-hidden="true"
              :icon="['fal','exclamation-triangle']"
            />
            Top Risks
          </h4>
          <ul
            v-if="audit.risks.length > 0"
            class="list-group w-100 pb-2"
          >
            <router-link
              :to=" { name: 'AuditObjectEdit' , params: { assessmentId: audit.assessment_id, auditId: audit.id, objectId: risk.auditObject.id }}"
              tag="li"
              v-for="(risk, i) in risks"
              :key="i"
              class="list-group-item list-group-item-action flex-column align-items-start p-1 b-0 mb-1"
              :class="{ 'hidden': (i > 5)} "
            >
              <b>{{ risk.title }}</b> <AuditObjectRiskLevel :risk-score="risk.score" /><br>
              {{ risk.auditObject.title }}<br>
            </router-link>
          </ul>

          <h4>
            <icon
              aria-hidden="true"
              :icon="['fal','comments']"
            /> Latest Comments
          </h4>
          <ul
            v-if="audit.comments.length > 0"
            class="list-group w-100"
          >
            <router-link
              :to=" { name: 'AuditObjectEdit' , params: { assessmentId: audit.assessment_id, auditId: audit.id, objectId: comment.auditObject.id }}"
              tag="li"
              v-for="(comment, i) in comments"
              :key="i"
              class="list-group-item list-group-item-action flex-column align-items-start p-1 b-0 mb-1"
              :class="{ 'hidden': (i > 5)} "
            >
              <span class="float-right">{{ comment.updated_at | formatFullDate }}</span>
              {{ comment.text }} - {{ comment.user.first_name }} {{ comment.user.last_name }}<br>
            </router-link>
          </ul>

          <h4>
            <icon
              aria-hidden="true"
              :icon="['fal','comments']"
            /> Recommendations
          </h4>
          <ul
            v-if="audit.recommendations.length > 0"
            class="list-group w-100"
          >
            <router-link
              :to=" { name: 'AuditObjectEdit' , params: { assessmentId: audit.assessment_id, auditId: audit.id, objectId: recommendation.auditObject.id }}"
              tag="li"
              v-for="(recommendation, i) in recommendations"
              :key="i"
              class="list-group-item list-group-item-action flex-column align-items-start p-1 b-0 mb-1"
              :class="{ 'hidden': (i > 5)} "
            >
              <span class="float-right">{{ recommendation.updated_at | formatFullDate }}</span>
              {{ recommendation.text }} - {{ recommendation.user.first_name }} {{ recommendation.user.last_name }}<br>
            </router-link>
          </ul>
        </div>

        <div
          class="col-4 pt-2"
        >
          <h4>Stats</h4>
          <icon
            aria-hidden="true"
            :icon="['fal','photo-video']"
          />
          Media: {{ audit.media.length }}<br>
          <icon
            aria-hidden="true"
            :icon="['fal','comments']"
          />
          Comments: {{ audit.comments.length }}<br>
          <icon
            aria-hidden="true"
            :icon="['fal','comments']"
          />
          Recommendations: {{ audit.recommendations.length }}<br>
          <icon
            aria-hidden="true"
            :icon="['fal','exclamation-triangle']"
          />
          Risks: {{ audit.risks.length }}<br>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Audit from "@/models/audit";
import AuditEditModal from "@/components/Audit/AuditEditModal.vue";
import AuditHeaderButtons from "@/components/Audit/AuditHeaderButtons.vue";
import AuditObjectRiskLevel from "@/components/AuditObject/AuditObjectRiskLevel.vue";
import { mapGetters } from "vuex";

export default {
  name: "AuditEdit",
  components: {
    AuditEditModal,
    AuditHeaderButtons,
    AuditObjectRiskLevel
  },
  props: {
    auditId: {
      type: [Number, String],
      required: true
    },
    objectId: {
      type: [Number, String],
      default: null
    }
  },
  data() {
    return {
      showEditAuditModal: false
    };
  },
  computed: {
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuditor: "auth/isAuditor"
    }),
    audit() {
      return Audit.query()
        .with('assessment')
        .with('beach')
        .with('objects')
        .with('objects.media')
        .with('objects.subtype')
        .with('media')
        .with('comments')
        .with('comments.user')
        .with('comments.auditObject')
        .with('recommendations')
        .with('recommendations.user')
        .with('recommendations.auditObject')
        .with('risks')
        .with('risks.auditObject')
        .find(this.auditId)
    },
    risks() {
      return _.sortBy(this.audit.risks,'score').reverse()
    },
    comments() {
      return _.sortBy(this.audit.comments,'updated_at').reverse()
    },
    recommendations() {
      return _.sortBy(this.audit.recommendations,'updated_at').reverse()
    }
    // Group and Count
    // example() {
    //   var selectedMessages = _.chain(this.audit)
    //     .sortBy('score')
    //     .reverse()
    //     .groupBy('score')
    //     .map(function(a) {
    //       console.log(a)
    //       // since returning only a[0], assign a new property 'count' with the size of the array
    //       a[0]['count'] = _.size(a);
    //       return a[0];
    //     })
    //   //.map(function(b){...})
    //     .value()
    //   return selectedMessages
    // },

  }
};
</script>

<style scoped>
section {
  min-height: 71vh;
}

</style>
