// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;


// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    rgb( 237, 28, 46) !default;
$orange: #f0ad4e !default;
$green:  #5cb85c !default;
$blue:   rgb( 0, 96, 169);
$teal:   #e8eff6;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$theme-colors: (
  "primary": $blue,
  "secondary": $red,
  "success": $green,
  "info": $teal,
  "warning": $orange,
  "danger": $red
);

$text-color: $gray-dark !default;
//$font-family-sans-serif: "slatestd", Calibri, Roboto, "Helvetica Neue", Arial, sans-serif;
