@import "variables";

@import '~bootstrap';
@import "~animate.css/animate.min.css";

@import '~sweetalert2/dist/sweetalert2.min.css';

@import "fonts";
@import "navbar";
@import "custom-header";
@import "v-autocomplete";

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
    line-height: 1.1;
    color: $text-color;
    font-weight: 200 !important;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    position: static !important;
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
  }

header  {
  display: inline;
}

select {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.hidden {
  opacity: 0;
  height: auto;
  display: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}
a:focus {
  box-shadow: none;
}

.fixed-bottom {
  background: white;
  // border-top: 1px solid map_get($theme_colors, 'primary');
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.btn-link:focus, .btn-link.focus, .btn-link:hover, .btn-link.hover, .btn-link:active, .btn-link.active {
  text-decoration: none !important;
}

.container-fluid {
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}


.swal2-container {
  z-index: 99999 !important;
}
.swal2-shown  .sticky-top {
  position: fixed !important;
  width: 100%;
}

.swal2-select {
  z-index: 99999 !important;
}


.leaflet-div-icon {
  background: none !important;
  border: 0 !important;
  width: 200px !important;
}
.leaflet-tooltip {
  background-color: transparent;
  border: transparent;
}
*:focus {
  box-shadow: 0 !important;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;

}

.bg-grey {
  background-color: $gray;
}

.nav-buttons .nav-item {
  color: $white;
  display: inline-block;
  min-width: 4.4rem;
}


.nav-buttons .nav-item.active {
  background-color: $white;
  color: $black !important;
  border-bottom: 0;
}

.error-padding {
    padding-left: 20%;
}
