
// Header style!

    
.nav-item.nav-link {
  cursor: pointer !important;
}
.custom-header {
  color: #495057;
  background-color: $white;
  position: relative;
  min-height: 3rem;

  .gradient {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #D8E7F2;
  }

  b {
    font-weight: 500;
  }

  .date {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    text-align: right;
  }

  .location {
    position: relative;
    top: 0.3rem;
    left: 0.3rem;
    width: 60%;

    .name {
      display: inline-grid;
      width: 60%;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    small {
      display: inherit;
      width: 100%;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 0.4rem;
    }
  }

  .buttons {
    position: relative;

    .active {
      color: #495057 !important;
      background-color:white !important;
    }
  }


  .badge {
    font-weight: 500;
  }

}
