header {
    display: contents !important;
}

#navbar-title {
    max-width: 82%;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-title {
    font-weight: 400;
    font-size: 1.2rem;
}


.navbar-top {
    padding: 0.2rem 0.6rem 0.2rem 0.6rem !important;;
    height: 45px;
    flex-wrap: none;
    /* remove here */
    background-color: white !important;
    border-bottom: 1px solid map_get($theme_colors, 'primary');
    margin-bottom : 0;
    margin-top: 0;
}

.navbar .btn {
    padding: 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: map_get($theme_colors, 'primary');
}

.navbar .btn:hover  {
    background-color: transparent;
    text-decoration: none;
    color: map_get($theme_colors, 'primary');
}

footer .navbar {
  padding: 0; border-top: 1px solid map_get($theme_colors, 'primary');
  padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
  background-color: white;
}
footer .navbar a { padding: 0.5rem; text-decoration: none;  line-height: 0.7rem; font-size: 0.6rem; color: map_get($theme_colors, 'primary'); min-width: 15%;}
// footer .router-link-exact-active { color: white !important; background-color: map_get($theme_colors, 'primary'); }

footer {
  .col-2 {
    flex: 0 0 7%;
    max-width: 13%;
  }
}
