.v-autocomplete .v-autocomplete-input-group {
    input[type="search"] {
        //-webkit-box-sizing: content-box;
        //-moz-box-sizing: content-box;
        //box-sizing: content-box;
        -webkit-appearance: searchfield;
    }

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
    }


}

.v-autocomplete .v-autocomplete-input-group.v-autocomplete-selected .v-autocomplete-input {
    //color: green;
    //background-color: #f2fff2
}

.v-autocomplete .v-autocomplete-list {
    width: 100%;
    z-index: 1000;
    text-align: left;
    border: none;
    border-top: none;
    //min-height: 500px;
    overflow-y: auto;
    border-bottom: 1px solid #2aa3ff;
    background-color: #fff;
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #2aa3ff;
    border-left: 1px solid #2aa3ff;
    border-right: 1px solid #2aa3ff
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
    border-bottom: none
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
    background-color: #eee
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
    opacity: .8;
    font-size: .8em;
    display: block;
    font-family: sans-serif
}


.v-autocomplete {
    position: relative
}

.v-autocomplete .v-autocomplete-list {
    position: absolute
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer
}

.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item.v-autocomplete-item-active {
    color: #fff;
    background-color: #2f9af7
}
