<template>
  <div class="p-2">
    <div v-if="app_online === true">
      <span class="text-success p-2">
        <icon
          :icon="['fal','signal']"
          size="2x"
          transform="flip-h"
        /> Online
      </span>
      <br>
      
      <button
        class="btn btn-outline-primary mt-2 btn-sm"
        @click.prevent="goOffline"
        v-if="network_online && countAssessments > 0"
      >
        Download map<br> Go OFFLINE
      </button>
      <span
        class="text-danger"
        v-if="network_offline"
      >You need to be connected to the internet to go Offline.</span>
    </div>
    <div
      v-else
    >
      <span class="text-danger p-2">
        <icon
          :icon="['fal','signal-slash']"
          transform="flip-h"
          size="2x"
        /> Offline
      </span>
      <br>
      <button 
        class="btn btn-success btn-sm mt-2"
        @click.prevent="goOnline"
        v-if="network_online"
      >
        Go ONLINE
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "OnlineOffline",
  computed: {
    ...mapState("system", [
      'app_online','network_online','network_offline'
    ])
  },
  props: {
    countAssessments: {
      type: Number,
      required: true
    }
  },
  methods: {
    ...mapActions('system', [
      'goOffline','goOnline'
    ]),
  }
};
</script>
<style scoped>
</style>