<template>
  <button 
    class="btn btn-outline-primary btn-sm"
    v-if="app_online"
    :disabled="!app_online || spinning"
    @click.prevent="downloadDB"
  >
    <icon
      :icon="['fal','sync']" 
      :class="{'fa-spin' : spinning}"
      aria-hidden="true"
    />
    Reload
  </button>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "ReloadSystem",
  computed: {
    ...mapState("system", [
      'app_online','network_online','network_offline','app_loading'
    ]),
    spinning () {
      return this.app_loading
    }
  },
  methods: {
    ...mapActions('system', [
      'refresh'
    ]),
    async downloadDB() {
      await this.refresh();
    }
  }
};
</script>
<style scoped>
</style>