<template>
  <button 
    class="btn btn-outline-primary btn-sm"
    v-if="app_online"
    :disabled="!app_online || spinning || app_loading || !offlineAuditsCount"
    :class="{'btn-outline-danger' : offlineAuditsCount}"
    @click.prevent="upload"
  >
    <icon
      :icon="['fal','upload']" 
      :class="{'fa-spin' : spinning}"
      aria-hidden="true"
    />
    Upload 
    <span 
      v-if="offlineAuditsCount"
      class="badge badge-primary"
      :class="{'badge-danger' : offlineAuditsCount}"
    >
      <icon :icon="['fal','clipboard-list-check']" /> 
      {{ offlineAuditsCount }}</span>
  </button>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Audit from "@/models/audit";

export default {
  name: "UploadSystem",
  computed: {
    ...mapState("system", [
      'app_online','network_online','network_offline','app_loading','app_uploading'
    ]),
    spinning () {
      return this.app_uploading
    },
    offlineAuditsCount () {
      return Audit.query().where((audit) => {
        return !Number.isInteger(audit.id)
      }).count()
    }
  },
  methods: {
    ...mapActions('system', [
      'uploadData'
    ]),
    upload() {
      let self = this
      this.$swal
        .fire({
          title: "Are you ready upload offline content?",
          text: "Make sure you have stable internet connection",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            self.$swal.insertQueueStep({
              icon: 'error',
              title: 'Unable to get your public IP'
            })
          }
        })
        .then(result => {
          if (result.value) {
            this.uploadDB()
          }
        });
    },
    async uploadDB() {
      await this.uploadData();
    }
  }
};
</script>
<style scoped>
</style>