<template>
  <modal
    :show="true"
    @close="onclose()"
  >
    <span class="animated fadeIn text-left">
      <span v-if="weather !== {} && weather.weather !== undefined">
        <icon
          :icon="['fal','sun']"
          class="text-muted"
        />
        {{ weather.weather.air_temp }} °C /
        <icon
          :icon="['fal','tint']"
          class="text-muted"
        />
        {{ weather.water_temperature.water_temperature }} °C
        <br>
        <small class="text-muted">Wind</small>
        {{ weather.weather.wind_spd_kmh }}
        <small>km/h</small>
        - {{ weather.weather.wind_dir }}
        <br>

        <span
          v-for="(tide, key) in orderedTides"
          :key="key"
          class
        >
          <small class="text-muted">Tide</small>
          {{ tide.state }} @ {{ tide.time }} {{ tide.height }}m
        </span>
      </span>
      <!-- <span v-else class="text-right float-right">
        <small class="text-muted">No weather data</small>
      </span> -->
    </span>
  </modal>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "WeatherModal",
  computed: {
    ...mapState("location", {
      weather: state => state.weather
    }),

    orderedTides: function() {
      let tides = _.orderBy(this.weather.tides, "hour");
      var nowHour = new Date();

      let next = _.filter(tides, function(obj) {
        if (parseInt(nowHour.getHours()) <= parseInt(obj.hour)) {
          obj.next = "ok";
        }
        return obj.next === "ok";
      }).slice(0, 1);

      if (next.length === 0) {
        return _.orderBy(this.weather.tides, "hour", "desc").slice(0, 1);
      }

      return next;
    }
  },
  methods: {
    onclose() {
      this.$emit("close");
    }
  }
};
</script>
<style scoped>
</style>