<template>
  <div class="w-100">
    <div class="col-12">
      <h3>
        <icon
          aria-hidden="true"
          :icon="['fal','exclamation-triangle']"
        /> Risks related to {{ this.object.subtype.title }}
        <button
          class="btn btn-info btn-sm"
          @click.prevent="info = !info"
        >
          <icon
            aria-hidden="true"
            :icon="['fal','info-circle']"
          /> Toggle Info
        </button>
        <button
          class="btn btn-primary btn-sm"
          @click.prevent="newForm()"
          dusk="New-Risk"
          v-if="isAdmin(audit) || isAuditor(audit)"
        >
          <icon
            aria-hidden="true"
            :icon="['fal','plus']"
          /> New
        </button>
      </h3>


      <modal
        :show="info"
        @close="info = false"
      >
        <template v-slot:header>
          Risk Model Information
        </template>
        <span
          class=""
          v-if="info"
        >
          <p>Likelihood (0.5, 1, 3, 6, 10)</p>
          <p>Consequence (1, 2, 5, 10, 20)</p>
          <!-- <p>Exposure (1, 2, 5, 10, 20)</p> -->
          <p>Score = (Likelihood * Consequence)</p>
        </span>
      </modal>
    </div>


    <modal
      :show="riskForm"
      @close="closeModal"
    >
      <template v-slot:header>
        <span v-if="risk.id === ''">
          New Risk
        </span>
        <span v-else>
          Update Risk
        </span>
      </template>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <input-plus
            label="Risk Title"
            v-model="risk.title"
            :required="true"
          />
        </div>
        <div class="col-xs-12 col-sm-12">
          <radio-plus
            label="Likehood"
            v-model="risk.likehood"
            :options="likehood"
            :required="true"
          />
        </div>
        <div class="col-xs-12 col-sm-12">
          <radio-plus
            label="Consequence"
            v-model="risk.consequence"
            :options="consequence"
            :required="true"
          />
        </div>
        <div class="col-xs-12 col-sm-12">
          <input
            type="hidden"
            v-model="risk.exposure"
            value="1"
          >
          <!-- <radio-plus
            label="Exposure"
            v-model="risk.exposure"
            :options="exposure"
            :required="true"
          /> -->
        </div>
      </div>

      <div class="row">
        <div
          class="col-12 text-center"
          v-if="this.riskScore"
        >
          <h2>Score<br></h2>
          <div
            class="alert"
            :class="'alert-'+riskLevel(this.riskScore).badge"
          >
            <h1>{{ this.riskScore }}</h1>
            {{ riskLevel(this.riskScore).label }}
          </div>
        </div>
      </div>
      <template v-slot:footer>
        <button
          class="btn btn-primary"
          v-if="risk.id === ''"
          @click.prevent="createRisk"
          dusk="Risk-Save"
        >
          Create
        </button>
        <button
          class="btn btn-primary"
          v-else
          @click.prevent="updateRisk"
          dusk="Risk-Save"
        >
          Update
        </button>
      </template>
    </modal>

    <div
      class="m-2 alert alert-info"
      v-if="risks.length == 0"
    >
      Be the first to assign a risk.
    </div>

    <div
      class="table-responsive"
      v-else
    >
      <table class="table">
        <thead>
          <tr>
            <th scope="col-7">
              Title
            </th>
            <th scope="col-4">
              Level
            </th>
            <th
              scope="col-1"
              width="200px"
            />
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="model in risks"
            :key="model.id"
          >
            <td>{{ model.title }}</td>
            <td>
              <span
                class="badge"
                :class="'badge-'+riskLevel(model.score).badge"
              >{{ riskLevel(model.score).label }} {{ model.score }}</span>
            </td>
            <td
              class="text-right"
            >
              <button
                class="btn btn-link"
                @click="editForm(model)"
                :dusk="'Edit-Risk-'+model.id"
                v-if="isAdmin(model) || isAuditor(model)"
              >
                <icon :icon="['fal','edit']" />
              </button>
              <button
                class="btn btn-link"
                @click="deleteRisk(model)"
                :dusk="'Delete-Risk-'+model.id"
                v-if="isAdmin(model) || isAuditor(model)"
              >
                <icon :icon="['fal','trash-alt']" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import AuditObjectRisk from "@/models/risk";
import { mapGetters } from "vuex";

export default {
  name: "AuditObjectRisk",
  props: {
    risks: {
      type: Array,
      default: null,
      required: true
    },
    audit: {
      type: Object,
      required: true
    },
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      info: false,
      riskForm: false,
      risk: {
        id: "",
        likehood: "",
        consequence: "",
        exposure: 1,
        title: "",
        score: "",
      },
      score: 0,
      likehood: [
        {
          value: 0.5,
          text: "Rare (0.5)"
        },
        {
          value: 1,
          text: "Unlikely (1)"
        },
        {
          value: 3,
          text: "Possible (3)"
        },
        {
          value: 6,
          text: "Likely (6)"
        },
        {
          value: 10,
          text: "Almost certain (10)"
        }
      ],
      consequence: [
        {
          value: 1,
          text: "Insignificant (1)"
        },
        {
          value: 2,
          text: "Minor (2)"
        },
        {
          value: 5,
          text: "Moderate (5)"
        },
        {
          value: 10,
          text: "Major (10)"
        },
        {
          value: 20,
          text: "Severe (20)"
        }
      ],
      exposure: [
        {
          value: 1,
          text: "1"
        },
        {
          value: 2,
          text: "2"
        },
        {
          value: 5,
          text: "5"
        },
        {
          value: 10,
          text: "10"
        },
        {
          value: 20,
          text: "20"
        }
      ]
    }
  },
  computed: {
    riskScore() {
      if (
        this.risk.likehood > 0 &&
        this.risk.consequence > 0 &&
        this.risk.exposure > 0
      ) {
        return this.risk.likehood * this.risk.consequence * this.risk.exposure;
      } else {
        return "";
      }
    },
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuditor: "auth/isAuditor"
    }),
  },
  methods: {
    createRisk() {

      this.error = false;

      var payload = {
        assessment_id: this.object.assessment_id,
        beach_id: this.object.beach_id,
        audit_id: this.audit.id,
        audit_status: this.audit.status,
        audit_object_id: this.object.id,
        object_type_id: this.object.object_type_id,

        user_id: this.object.user_id,

        title: this.risk.title,
        likehood: this.risk.likehood,
        consequence: this.risk.consequence,
        exposure: this.risk.exposure,
        score: this.riskScore
      }

      AuditObjectRisk.dispatch('createRisk', payload).then(
        response => {
          this.loading = false;
          this.errors = response.data.errors;
          if (this.errors) {
            this.$swal({
              icon: "error",
              title: "3D Risk",
              text:
                "Please fill in all. " + this.validation + " missing fields"
            });
          } else {
            this.done = true
            this.$swal({
              icon: "success",
              title: "3D Risk created"
            });
            this.closeModal()
          }
        },
        error => {
          console.error(error);
          this.loading = false;
          this.$swal({
            icon: "error",
            title: "3D Risk",
            text: "Error saving :("
          });
        }
      );
    },
    updateRisk() {

      var payload = {
        id: this.risk.id,
        audit_status: this.audit.status,
        title: this.risk.title,
        likehood: this.risk.likehood,
        consequence: this.risk.consequence,
        exposure: this.risk.exposure,
        score: this.riskScore
      }

      this.error = false;
      AuditObjectRisk.dispatch('updateRisk', payload).then(
        response => {
          this.loading = false;
          this.errors = response.data.errors;
          if (this.errors) {
            this.$swal({
              icon: "error",
              title: "3D Risk",
              text:
                "Please fill in all. " + this.validation + " missing fields"
            });
          } else {
            this.done = true
            this.$swal({
              icon: "success",
              title: "3D Risk updated"
            });
            this.closeModal()
          }
        },
        error => {
          console.error(error);
          this.loading = false;
          this.$swal({
            icon: "error",
            title: "Risk",
            text: "Error saving :("
          });
        }
      );
    },

    newForm() {
      this.risk.id = ""
      this.risk.title = ""
      this.risk.likehood =  ""
      this.risk.consequence =  ""
      this.risk.exposure =  1
      this.riskForm = true
    },
    editForm(riskModel) {
      this.risk.id = riskModel.id
      this.risk.title = riskModel.title
      this.risk.likehood = riskModel.likehood
      this.risk.consequence = riskModel.consequence
      this.risk.exposure = riskModel.exposure
      this.riskForm = true
    },
    deleteRisk(risk) {
      this.errors = []
      this.running = true
      var params = {
        riskId: risk.id,
        status: this.object.audit.status,
      }
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to delete this risk?",
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          AuditObjectRisk.dispatch('deleteRisk', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (!this.errors) {
                this.$swal({
                  icon: "success",
                  title: "Risk Deleted"
                });
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Risk",
                text: "Error deleting :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
    closeModal() {
      this.risk = {
        id: "",
        likehood: "",
        consequence: "",
        exposure: 1,
        title: "",
        score: ""
      }
      this.riskForm = false
    },
    riskLevel(score) {
      if (score > 0 && score < 100) {
        return { badge: "success", label: "Acceptable" };
      } else if (score >= 100 && score < 500) {
        return { badge: "warning", label: "Tolerable" };
      } else if (score >= 500) {
        return { badge: "danger", label: "Unacceptable" };
      }

      return "";
    }

  }
};
</script>
