<template>
  <div>
    <div
      v-if="objectMetadata"
      class="row py-2"
    >
      <component
        :is="objectMetadata"
        :object="object"
      />
      <hr>
    </div>
  </div>
</template>

<script>
import ReefMetadata from "@/components/AuditObject/Metadata/ReefMetadata.vue"
import AccessMetadata from "@/components/AuditObject/Metadata/AccessMetadata.vue"
import RipMetadata from "@/components/AuditObject/Metadata/RipMetadata.vue"
import LifeSavingMetadata from "@/components/AuditObject/Metadata/LifeSavingMetadata.vue"
import EmergencyMetadata from "@/components/AuditObject/Metadata/EmergencyMetadata.vue"
// import HazardsMetadata from "@/components/AuditObject/Metadata/HazardsMetadata.vue"
import SignageMetadata from "@/components/AuditObject/Metadata/SignageMetadata.vue"
import CarParkMetadata from "@/components/AuditObject/Metadata/CarParkMetadata.vue"
import FacilityMetadata from "@/components/AuditObject/Metadata/FacilityMetadata.vue"

export default {
  name: "AuditObjectMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  components: {
    ReefMetadata,
    AccessMetadata,
    RipMetadata,
    EmergencyMetadata,
    LifeSavingMetadata,
    // HazardsMetadata,
    SignageMetadata,
    CarParkMetadata,
    FacilityMetadata
  },
  computed: {
    objectMetadata() {
      let metadata = {
        'ReefType': 'ReefMetadata',
        'AccessType': 'AccessMetadata',
        'RipType': 'RipMetadata',
        'EmergencyType': 'EmergencyMetadata',
        'LifeSavingType': 'LifeSavingMetadata',
        // 'HazardsType': 'HazardsMetadata',
        'SignageType': 'SignageMetadata',
        'FacilityType': 'FacilityMetadata',
        'CarParkType': 'CarParkMetadata',
      }
      return metadata[this.object.subtype.metadata_type]
    },
  },
  mounted() {
  },
  methods: {
  }
};
</script>
