<template>
  <span
    class="badge"
    :class="'badge-'+this.riskLevel.badge"
  >
    {{ this.riskLevel.label }}({{ this.riskScore }})
  </span>
</template>

<script>

export default {
  name: "AuditObjectRiskLevel",
  props: {
    riskScore: {
      type: [Number],
      default: null,
      required: true
    }
  },
  computed: {
    riskLevel() {
      if (this.riskScore > 0 && this.riskScore < 100) {
        return { badge: "success", label: "Acceptable" };
      } else if (this.riskScore >= 100 && this.riskScore < 500) {
        return { badge: "warning", label: "Tolerable" };
      } else if (this.riskScore >= 500) {
        return { badge: "danger", label: "Unacceptable" };
      }

      return "";
    }
  }
};
</script>