<template>
  <div class="w-100">
    <div class="col-12">
      <b>User Groups</b>
    </div>
    <div
      class="col-12"
      v-if="object.metadata.user_groups && object.metadata.user_groups.length > 0"
    >
      <div
        class=""
        v-for="(userGroup, i) in object.metadata.user_groups"
        :key="i"
      >
        {{ userGroupsAsOptions[userGroup] }}
      </div>
    </div>
    <div
      v-else
    >
      <div class="m-2 alert alert-info">
        No user groups have been selected.
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";


export default {
  name: "AuditObjectUserGroups",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      errors: {},
    };
  },
  components: {

  },
  computed: {
    ...mapState("database", {
      userGroups: state => state.object_subtypes.userGroups
    }),
    userGroupsAsOptions() {
      const userGroups = {}
      if (this.userGroups.length > 0) {
        _.forEach(this.userGroups, function(group) {
          userGroups[group.value] = group.text
        });
      }
      return userGroups;
    }
  },
  mounted() {
  },
  methods: {
  }
};
</script>
