<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="Title"
          v-model="object.title"
        />
        <input-plus
          label="Type"
          :value="subtypeMap[object.subtype_id]"
          :disabled="true"
        />
      </div>
    </div>

    <div
      v-if="objectType"
    >
      <div>
        <component
          :is="objectType"
          :object="object"
          :errors="errors"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ReefType from "@/components/AuditObject/Types/ReefType.vue"
import AccessType from "@/components/AuditObject/Types/AccessType.vue"
import RipType from "@/components/AuditObject/Types/RipType.vue"
import LifeSavingType from "@/components/AuditObject/Types/LifeSavingType.vue"
import EmergencyType from "@/components/AuditObject/Types/EmergencyType.vue"
import HazardsType from "@/components/AuditObject/Types/HazardsType.vue"
import SignageType from "@/components/AuditObject/Types/SignageType.vue"
import CarParkType from "@/components/AuditObject/Types/CarParkType.vue"
import FacilityType from "@/components/AuditObject/Types/FacilityType.vue"
import ObjectSubtype from "@/models/object_subtype"

export default {
  name: "AuditObjectForm",
  props: {
    object: {
      type: Object,
      required: true
    },
    errors: {
      type: Object,
      required: true
    }
  },
  components: {
    ReefType,
    AccessType,
    RipType,
    EmergencyType,
    LifeSavingType,
    HazardsType,
    SignageType,
    CarParkType,
    FacilityType
  },
  data() {
    return {
      error: false,
    };
  },
  computed: {
    metadataHasError() {
      let keys = Object.keys(this.errors);
      let hasError = false;
      keys.forEach((key) => {
        if (key.includes("metadata")) {
          hasError = true
          return;
        }
      })
      return hasError;
    },
    objectType() {
      return this.object.subtype.metadata_type
    },
    subtypes() {
      return ObjectSubtype.query().where('type_id', this.object.type_id).get()
    },
    subtypeMap() {
      var formatedOptions = {};
      if (this.subtypes.length > 0) {
        _.forEach(this.subtypes, function(subtype) {
          formatedOptions[subtype.id] = subtype.title
        });
      }
      return formatedOptions;
    },
  },
  mounted() {
  },
  methods: {
  }
};
</script>
