<template>
  <modal
    :show="show"
    @close="onclose()"
  >
    <template v-slot:header>
      Edit {{ object.type.title }}
    </template>

    <slot>
      <form
        id="needs-validation"
        novalidate
      >
        <AuditObjectForm
          :object="this.object"
          :errors="errors"
        />
      </form>
    </slot>

    <template v-slot:footer>
      <button
        class="btn btn-primary"
        @click.prevent="cancelUpdate"
        dusk="AuditObject-Cancel-Update"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        @click.prevent="saveUpdate"
        dusk="AuditObject-Save-Update"
      >
        Save
      </button>
    </template>
  </modal>
</template>

<script>
import { mapState } from "vuex"
import AuditObjectForm from "@/components/AuditObject/AuditObjectForm.vue"

export default {
  name: "AuditObjectEditModal",
  components: {
    AuditObjectForm
  },
  props: {
    object: {
      type: Object,
      required: true
    },
    errors: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    ...mapState("beach", {
      types: state => state.types
    }),

  },
  methods: {
    onclose() {
      this.$emit("close");
    },
    saveUpdate() {
      this.$emit("save", this.object);
    },
    cancelUpdate() {
      this.$emit("cancel", this.object);
    }
  }
};
</script>
