<template>
  <div class="w-100">
    <div
      v-if="!isSign"
    >
      <div class="col-12">
        <h3>
          <icon
            aria-hidden="true"
            :icon="['fal','map-signs']"
          /> Signs related to {{ this.object.subtype.title }}
          <button
            class="btn btn-primary btn-sm"
            @click.prevent="addSign"
            dusk="Add-Sign"
          >
            <icon
              aria-hidden="true"
              :icon="['fal','plus']"
            /> Add Existing Sign
          </button>
          <button
            class="btn btn-primary btn-sm"
            @click.prevent="createSign"
            dusk="Create-Sign"
          >
            <icon
              aria-hidden="true"
              :icon="['fal','plus']"
            /> Create New Sign
          </button>
        </h3>
      </div>

      <div
        class="m-2 alert alert-info"
        v-if="object.signs.length == 0"
      >
        Be the first to assign a sign.
      </div>

      <div
        class="table-responsive"
        v-else
      >
        <table class="table">
          <thead>
            <tr>
              <th scope="col-7">
                Title
              </th>
              <th
                scope="col-1"
                width="200px"
              />
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(sign, i) in object.signs"
              :key="sign.id"
            >
              <td>{{ sign.title }}</td>
              <td
                class="text-right"
              >
                <router-link
                  tag="button"
                  :dusk="'Edit-Sign-' + i"
                  class="btn btn-link"
                  :to=" { name: 'AuditObjectEdit' , params: { assessmentId: sign.assessment_id, auditId: sign.audit_id, objectId: sign.id }}"
                >
                  <icon :icon="['fal','edit']" />
                </router-link>
                <button
                  class="btn btn-link"
                  @click="removeSign(sign)"
                  :dusk="'Remove-Sign-'+i"
                >
                  <icon :icon="['fal','trash-alt']" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-else
    >
      <div class="col-12">
        <h3>
          <icon
            aria-hidden="true"
            :icon="['fal','exclamation-triangle']"
          /> Linked items to {{ this.object.title }}
        </h3>
      </div>

      <div
        class="m-2 alert alert-info"
        v-if="object.signChildren.length === 0"
      >
        No objects have been assigned.
      </div>

      <div
        class="table-responsive"
        v-else
      >
        <table class="table">
          <thead>
            <tr>
              <th scope="col-7">
                Title
              </th>
              <th
                scope="col-1"
                width="200px"
              />
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(childObject, i) in object.signChildren"
              :key="childObject.id"
            >
              <td>{{ childObject.title }}</td>
              <td
                class="text-right"
              >
                <router-link
                  tag="button"
                  :dusk="'Edit-Object-' + i"
                  class="btn btn-link"
                  :to=" { name: 'AuditObjectEdit' , params: { assessmentId: childObject.assessment_id, auditId: childObject.audit_id, objectId: childObject.id }}"
                >
                  <icon :icon="['fal','edit']" />
                </router-link>
                <button
                  class="btn btn-link"
                  @click="removeAuditObject(childObject)"
                  :dusk="'Remove-Object-'+i"
                >
                  <icon :icon="['fal','trash-alt']" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ObjectSubtype from "@/models/object_subtype";
import AuditObject from "@/models/audit_object";
import AuditObjectSign from "@/models/audit_object_sign";

export default {
  name: "AuditObjectSigns",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      errors: {},
    };
  },
  components: {

  },
  computed: {
    subtypes() {
      return ObjectSubtype.query().where('type_id', 28).orderBy('title', 'asc').get()
    },
    signs() {
      return AuditObject.query().where('type_id', 28).where('audit_id', this.object.audit_id).get()
    },
    isSign() {
      return this.object.type_id === 28
    }
  },
  mounted() {
  },
  methods: {
    subtypesAsOptions() {
      const inputOptions = new Map
      if (this.subtypes.length > 0) {
        _.forEach(this.subtypes, function(subtype) {
          inputOptions.set(subtype.id, subtype.title)
        });
      }
      return inputOptions;
    },
    signsAsOptions() {
      const signs = this.object.signs.map(sign => sign.id)
      const inputOptions = new Map
      if (this.signs.length > 0) {
        _.forEach(this.signs, function(sign) {
          if (!signs.includes(sign.id)) {
            inputOptions.set(sign.id, sign.title)
          }
        });
      }
      return inputOptions;
    },
    removeSign (sign) {
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to remove this sign?",
        reverseButtons: true,
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.errors = {}
          this.running = true

          let params = {
            audit_object: this.object,
            sign_object: sign,
            status: this.object.audit.status
          }

          AuditObjectSign.dispatch('removeSign', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error Detaching Sign :("
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Sign Removed"
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error Detaching Sign :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
    removeAuditObject (object) {
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to remove this audit object?",
        reverseButtons: true,
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.errors = {}
          this.running = true

          let params = {
            audit_object: object,
            sign_object: this.object,
            status: this.object.audit.status
          }

          AuditObjectSign.dispatch('removeSign', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error Detaching Audit Object :("
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Audit Object Removed"
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error Detaching Audit Object :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
    createSign() {
      const Wizard = this.$swal.mixin({
        confirmButtonText: 'Confirm',
        reverseButtons: true,
        showCancelButton: true,
        customClass: { input: 'form-control custom-select',},
      })
      let selectType = [
        {
          title: 'Sign Type',
          input: 'select',
          inputOptions: this.subtypesAsOptions(),
          inputValidator: (value) => {
            return !value && 'You need to choose something!'
          }
        }
      ]

      Wizard.queue(selectType).then((result) => {
        if (result.value) {
          this.errors = {}

          let objectSubtype = ObjectSubtype.find(parseInt(result.value[0]))

          let params = {
            object: this.object,
            subtype: objectSubtype,
            status: this.object.audit.status
          }
          AuditObjectSign.dispatch('createSign', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error Creating Sign :("
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Sign Created"
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error Creating Sign :("
              });
            }
          );
        }
      })
    },
    addSign() {
      const Wizard = this.$swal.mixin({
        confirmButtonText: 'Confirm',
        reverseButtons: true,
        showCancelButton: true,
        customClass: { input: 'form-control custom-select',},
      })
      let selectObject = [
        {
          title: 'Select Existing Sign',
          input: 'select',
          inputOptions: this.signsAsOptions(),
          inputValidator: (value) => {
            return !value && 'You need to choose something!'
          }
        }
      ]

      Wizard.queue(selectObject).then((result) => {
        if (result.value) {
          this.errors = {}

          let sign = AuditObject.find(result.value[0])

          let params = {
            audit_object: this.object,
            sign_object: sign,
            status: this.object.audit.status
          }

          AuditObjectSign.dispatch('attachSign', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error adding sign"
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Sign attached to " + this.object.title,
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error attaching sign :("
              });
            }
          );
        }
      })
    }
  }
};
</script>
