<template>
  <router-link
    :dusk="'Object-' + object.id"
    :to=" { name: 'AuditObjectEdit' , params: { assessmentId: object.assessment_id, auditId: object.audit_id, objectId: object.id }}"
    class="list-group-item list-group-item-action flex-column align-items-start p-2 b-0 h-50"
    style="height: 50px !important;"
  >
    <span class="float-left img border rounded mr-1">
      <icon
        :icon="['fal','camera']"
        size="2x"
        class="p-0 mx-2 my-1"
        v-if="objectModel.media.length === 0"
      />

      <img
        v-if="objectModel.media.length > 0"
        :src="objectModel.media[0].url"
        class="img-fluid"
        style="width: 40px;height: 40px;"
      >
    </span>

    <b>{{ objectModel.title }}</b>

    <span class="float-right">
      <icon
        aria-hidden="true"
        :icon="['fal','photo-video']"
        class="ml-2"
      /> {{ objectModel.media.length }}
      <icon
        aria-hidden="true"
        :icon="['fal','comments']"
        class="ml-2"
      /> {{ objectModel.comments.length }}
      <icon
        aria-hidden="true"
        :icon="['fal','comments']"
        class="ml-2"
      /> {{ objectModel.recommendations.length }}
      <span
        v-if="!isHazard"
      >
        <icon
          aria-hidden="true"
          class="ml-2"
          :icon="['fal','exclamation-triangle']"
        /> {{ objectModel.hazards.length }}
      </span>
      <span
        v-else
      >
        <icon
          aria-hidden="true"
          class="ml-2"
          :icon="['fal','exclamation-triangle']"
        /> {{ objectModel.hazardChildren.length }}
      </span>
      <icon
        aria-hidden="true"
        class="ml-2"
        :icon="['fal','exclamation-triangle']"
      /> {{ objectModel.risks.length }}
    </span>
    <span
      class="badge badge-danger text-white"
      v-if="objectModel.latitude === null || objectModel.latitude === '' || objectModel.latitude === 0"
    ><icon :icon="['fal','map-marker']" /> no location</span>
    <span
      class="badge badge-danger text-white"
      v-if="objectModel.riskUnacceptable > 0"
    ><icon :icon="['fal','exclamation-triangle']" /> {{ objectModel.riskUnacceptable }}</span>
    <br>
    {{ objectModel.subtype ? objectModel.subtype.title : '' }}
  </router-link>
</template>

<script>
import AuditObject from '@/models/audit_object';
export default {
  name: "AuditObjectHeader",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {
    objectModel() {
      return AuditObject.query().with('subtype').with('risks').with('media').with('comments').with('recommendations').with('hazardChildren').with('hazards').find(this.object.id)
    },
    isHazard() {
      return this.objectModel.type_id === 16
    }
  },
  mounted() {

  },
  methods: {
  }
};
</script>
