<template>
  <span class="float-right">
    <span
      class="px-2"
      v-if="media !== null"
    >
      <icon :icon="['fal','camera']" />
      {{ media }}
    </span>
    <span
      class="px-2"
      v-if="risk !== null"
    >
      <icon :icon="['fal','exclamation-triangle']" />
      {{ risk }}
    </span>
    <span
      class="px-2"
      v-if="comments !== null"
    >
      <icon :icon="['fal','comments']" />
      {{ comments }}
    </span>
    <span
      class="px-2"
      v-if="recommendations !== null"
    >
      <icon :icon="['fal','comments']" />
      {{ recommendations }}
    </span>
  </span>
</template>

<script>
//import { mapState, mapGetters, mapActions } from "vuex";

export default {
  name: "AuditObjectSummary",
  props: {
    media: {
      type: Number,
      default: null,
      required: false
    },
    risk: {
      type: Number,
      default: null,
      required: false
    },
    comments: {
      type: [Array, Number],
      default: null,
      required: false
    },
    recommendations: {
      type: [Array, Number],
      default: null,
      required: false
    }
  },
  computed: {
  },
  mounted() {
  },
  methods: {
  }
};
</script>
