<template>
  <div class="w-100">
    <div class="col-12">
      <h3>
        <icon
          aria-hidden="true"
          :icon="['fal','comments']"
        />
        Comments
      </h3>
    </div>
    <div
      class="m-2 alert alert-info"
      v-if="comments.length == 0"
    >
      Be the first to comment.
    </div>

    <div
      class="col-12 pb-2"
      v-else
    >
      <comment
        v-for="comment in comments"
        :key="comment.id"
        :comment="comment"
        :object="object"
      />
    </div>
    <div class="col-12">
      <div class="input-group mb-3">
        <input
          v-model="newCommentText"
          @keyup.enter="saveComment"
          type="text"
          class="form-control"
          placeholder="Insert your comments here"
          aria-label="Insert your comments here"
          dusk="New-Comment"
        >
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="button"
            @click="saveComment"
            :disabled="newCommentText.length < 1"
            dusk="Save-Comment"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Comment from '@/models/comment';

export default {
  name: "AuditObjectComments",
  props: {
    comments: {
      type: Array,
      default: null,
      required: true
    },
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      newCommentText: "",
      running: false,
      errors: null
    }
  },
  computed: {
    ...mapState("auth", {
      user: state => state.user
    }),
  },
  mounted() {},
  methods: {
    saveComment () {
      this.errors = []
      this.running = true
      var params = {
        text: this.newCommentText,
        assessment_id: this.object.assessment_id,
        beach_id: this.object.beach_id,
        audit_id: this.object.audit_id,
        audit_object_id: this.object.id,
        object_type_id: this.object.type_id,
        user_id: this.user.id,
        status: this.object.audit.status,
        commentable_type: 'auditObject',
        commentable_id: this.object.id
      }
      this.newCommentText = ''
      Comment.dispatch('submitComment', params).then(
        response => {
          this.running = false
          this.errors = response.data.errors;
          if (!this.errors) {
            this.$swal({
              icon: "success",
              title: "Comment Saved"
            });
          }
        },
        error => {
          console.error(error);
          this.running = false
          this.$swal({
            icon: "error",
            title: "Comment",
            text: "Error saving :("
          });
        }
      );
    },
  }
};
</script>
