<template>
  <div class="w-100">
    <div class="col-12">
      <h3>
        <icon
          aria-hidden="true"
          :icon="['fal','comments']"
        />
        Recommendations
      </h3>
    </div>
    <div
      class="m-2 alert alert-info"
      v-if="recommendations.length == 0"
    >
      Be the first to make a recommendation.
    </div>

    <div
      class="col-12 pb-2"
      v-else
    >
      <recommendation
        v-for="recommendation in recommendations"
        :key="recommendation.id"
        :recommendation="recommendation"
        :object="object"
      />
    </div>
    <div class="col-12">
      <div class="input-group mb-3">
        <input
          v-model="newRecommendationText"
          @keyup.enter="saveRecommendation"
          type="text"
          class="form-control"
          placeholder="Insert your recommendation here"
          aria-label="Insert your recommendation here"
          dusk="New-Recommendation"
        >
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="button"
            @click="saveRecommendation"
            :disabled="newRecommendationText.length < 1"
            dusk="Save-Recommendation"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Recommendation from '@/models/recommendation';

export default {
  name: "AuditObjectRecommendations",
  props: {
    recommendations: {
      type: Array,
      default: null,
      required: true
    },
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      newRecommendationText: "",
      running: false,
      errors: null
    }
  },
  computed: {
    ...mapState("auth", {
      user: state => state.user
    }),
  },
  mounted() {},
  methods: {
    saveRecommendation () {
      this.errors = []
      this.running = true
      var params = {
        text: this.newRecommendationText,
        assessment_id: this.object.assessment_id,
        beach_id: this.object.beach_id,
        audit_id: this.object.audit_id,
        audit_object_id: this.object.id,
        object_type_id: this.object.type_id,
        user_id: this.user.id,
        status: this.object.audit.status,
        recommendable_type: 'auditObject',
        recommendable_id: this.object.id
      }
      this.newRecommendationText = ''
      Recommendation.dispatch('submitRecommendation', params).then(
        response => {
          this.running = false
          this.errors = response.data.errors;
          if (!this.errors) {
            this.$swal({
              icon: "success",
              title: "Recommendation Saved"
            });
          }
        },
        error => {
          console.error(error);
          this.running = false
          this.$swal({
            icon: "error",
            title: "Recommendation",
            text: "Error saving :("
          });
        }
      );
    },
  }
};
</script>
