<template>
  <div class="w-100">
    <div
      v-if="!isHazard"
    >
      <div class="col-12">
        <h3>
          <icon
            aria-hidden="true"
            :icon="['fal','exclamation-triangle']"
          /> Hazards related to {{ this.object.subtype.title }}
          <button
            class="btn btn-primary btn-sm"
            @click.prevent="addHazard"
            dusk="Add-Hazard"
          >
            <icon
              aria-hidden="true"
              :icon="['fal','plus']"
            /> Add Existing Hazard
          </button>
          <button
            class="btn btn-primary btn-sm"
            @click.prevent="createHazard"
            dusk="Create-Hazard"
          >
            <icon
              aria-hidden="true"
              :icon="['fal','plus']"
            /> Create New Hazard
          </button>
        </h3>
      </div>

      <div
        class="m-2 alert alert-info"
        v-if="object.hazards.length == 0"
      >
        Be the first to assign a hazard.
      </div>

      <div
        class="table-responsive"
        v-else
      >
        <table class="table">
          <thead>
            <tr>
              <th scope="col-7">
                Title
              </th>
              <th
                scope="col-1"
                width="200px"
              />
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(hazard, i) in object.hazards"
              :key="hazard.id"
            >
              <td>{{ hazard.title }}</td>
              <td
                class="text-right"
              >
                <router-link
                  tag="button"
                  :dusk="'Edit-Hazard-' + i"
                  class="btn btn-link"
                  :to=" { name: 'AuditObjectEdit' , params: { assessmentId: hazard.assessment_id, auditId: hazard.audit_id, objectId: hazard.id }}"
                >
                  <icon :icon="['fal','edit']" />
                </router-link>
                <button
                  class="btn btn-link"
                  @click="removeHazard(hazard)"
                  :dusk="'Remove-Hazard-'+i"
                >
                  <icon :icon="['fal','trash-alt']" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-else
    >
      <div class="col-12">
        <h3>
          <icon
            aria-hidden="true"
            :icon="['fal','exclamation-triangle']"
          /> Linked items to {{ this.object.title }}
        </h3>
      </div>

      <div
        class="m-2 alert alert-info"
        v-if="object.hazardChildren.length === 0"
      >
        No objects have been assigned.
      </div>

      <div
        class="table-responsive"
        v-else
      >
        <table class="table">
          <thead>
            <tr>
              <th scope="col-7">
                Title
              </th>
              <th
                scope="col-1"
                width="200px"
              />
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(childObject, i) in object.hazardChildren"
              :key="childObject.id"
            >
              <td>{{ childObject.title }}</td>
              <td
                class="text-right"
              >
                <router-link
                  tag="button"
                  :dusk="'Edit-Object-' + i"
                  class="btn btn-link"
                  :to=" { name: 'AuditObjectEdit' , params: { assessmentId: childObject.assessment_id, auditId: childObject.audit_id, objectId: childObject.id }}"
                >
                  <icon :icon="['fal','edit']" />
                </router-link>
                <button
                  class="btn btn-link"
                  @click="removeAuditObject(childObject)"
                  :dusk="'Remove-Object-'+i"
                >
                  <icon :icon="['fal','trash-alt']" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ObjectSubtype from "@/models/object_subtype";
import AuditObject from "@/models/audit_object";
import AuditObjectHazard from "@/models/audit_object_hazard";

export default {
  name: "AuditObjectHazards",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      errors: {},
    };
  },
  components: {

  },
  computed: {
    subtypes() {
      return ObjectSubtype.query().where('type_id', 16).orderBy('title', 'asc').get()
    },
    hazards() {
      return AuditObject.query().where('type_id', 16).where('audit_id', this.object.audit_id).get()
    },
    isHazard() {
      return this.object.type_id === 16
    }
  },
  mounted() {
  },
  methods: {
    subtypesAsOptions() {
      const inputOptions = new Map
      if (this.subtypes.length > 0) {
        _.forEach(this.subtypes, function(subtype) {
          inputOptions.set(subtype.id, subtype.title)
        });
      }
      return inputOptions;
    },
    hazardsAsOptions() {
      const hazards = this.object.hazards.map(haz => haz.id)
      const inputOptions = new Map
      if (this.hazards.length > 0) {
        _.forEach(this.hazards, function(hazard) {
          if (!hazards.includes(hazard.id)) {
            inputOptions.set(hazard.id, hazard.title)
          }
        });
      }
      return inputOptions;
    },
    removeHazard (hazard) {
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to remove this hazard?",
        reverseButtons: true,
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.errors = {}
          this.running = true

          let params = {
            audit_object: this.object,
            hazard_object: hazard,
            status: this.object.audit.status
          }

          AuditObjectHazard.dispatch('removeHazard', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error Detaching Hazard :("
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Hazard Removed"
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error Detaching Hazard :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
    removeAuditObject (object) {
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to remove this audit object?",
        reverseButtons: true,
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.errors = {}
          this.running = true

          let params = {
            audit_object: object,
            hazard_object: this.object,
            status: this.object.audit.status
          }

          AuditObjectHazard.dispatch('removeHazard', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error Detaching Audit Object :("
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Audit Object Removed"
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error Detaching Audit Object :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
    createHazard() {
      const Wizard = this.$swal.mixin({
        confirmButtonText: 'Confirm',
        reverseButtons: true,
        showCancelButton: true,
        customClass: { input: 'form-control custom-select',},
      })
      let selectType = [
        {
          title: 'Hazard Type',
          input: 'select',
          inputOptions: this.subtypesAsOptions(),
          inputValidator: (value) => {
            return !value && 'You need to choose something!'
          }
        }
      ]

      Wizard.queue(selectType).then((result) => {
        if (result.value) {
          this.errors = {}

          let objectSubtype = ObjectSubtype.find(parseInt(result.value[0]))

          let params = {
            object: this.object,
            subtype: objectSubtype,
            status: this.object.audit.status
          }
          AuditObjectHazard.dispatch('createHazard', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error Creating Hazard :("
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Hazard Created"
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error Creating Hazard :("
              });
            }
          );
        }
      })
    },
    addHazard() {
      const Wizard = this.$swal.mixin({
        confirmButtonText: 'Confirm',
        reverseButtons: true,
        showCancelButton: true,
        customClass: { input: 'form-control custom-select',},
      })
      let selectObject = [
        {
          title: 'Select Existing Hazard',
          input: 'select',
          inputOptions: this.hazardsAsOptions(),
          inputValidator: (value) => {
            return !value && 'You need to choose something!'
          }
        }
      ]

      Wizard.queue(selectObject).then((result) => {
        if (result.value) {
          this.errors = {}

          let hazard = AuditObject.find(result.value[0])

          let params = {
            audit_object: this.object,
            hazard_object: hazard,
            status: this.object.audit.status
          }

          AuditObjectHazard.dispatch('attachHazard', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit Object",
                  text: "Error adding hazard"
                });
              } else {
                this.$swal({
                  icon: "success",
                  title: "Hazard attached to " + this.object.title,
                });
                this.errors = {}; // reset errors
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Audit Object",
                text: "Error attaching hazard :("
              });
            }
          );
        }
      })
    }
  }
};
</script>
