<template>
  <div class="home">
    <HomeTopBar :count-assessments="assessments.length" />
    <hr class="text-primary">
    <div
      v-if="app_loading"
      class=""
    >
      <!-- loading  -->
      <h2>
        Loading data...
        <icon
          :icon="['fal','sync']"
          class="fa-spin"
          size="2x"
          aria-hidden="true"
        />
      </h2>
      Assessments: {{ assessments.length }}<br>
      Audits: {{ audits }}<br>
      Audit Objects:  {{ auditObject }}<br>
      Media: {{ media }}<br>
      Risks: {{ risks }}<br>
    </div>
    <!-- home data -->
    <div v-else>
      <div class="row">
        <div class="col-12">
          <span
            class="float-right"
          >
            <ReloadSystem />
            <UploadSystem />
          </span>
          <h2>
            <icon :icon="['fal','book']" />
            Assessments
            <router-link
              :to="{ name: 'AssessmentNew' }"
              class="btn btn-outline-primary btn-sm"
              dusk="New-Assessment"
              v-if="app_online"
            >
              <icon
                :icon="['fal', 'plus']"
                fixed-width
              /> New
            </router-link>
          </h2>
        </div>
      </div>
      <div class="row">
        <div
          class="col-12"
          v-if="assessments.length > 0"
        >
          <ul
            class="list-group w-100"
          >
            <li
              v-for="(assessment, i) in assessments"
              :key="assessment.id"
              class="list-group-item list-group-item-action flex-column align-items-start p-0 b-0 mb-1"
              :class="{ 'hidden': (i > loadmoreAssessments)} "
            >
              <router-link
                tag="li"
                :to="{ name: 'AssessmentAudit' , params: { assessmentId: assessment.id}}"
                class="nav-item nav-link p-1 bg-info"
                :dusk="'Assessment-Audit-' + assessment.id"
              >
                <div class="w-100 bg-info p-2">
                  {{ assessment.title }}
                  <span class="badge badge-primary"><icon :icon="['fal','clipboard-list-check']" /> {{ assessment.audits.length }}</span>
                  <span class="float-right">
                    {{ assessment.start_date | formatDate }} - {{ assessment.end_date | formatDate }}
                  </span>
                </div>
              </router-link>
            </li>
          </ul>

          <ul
            v-if="assessments.length > loadmoreAssessments"
            class="list-group w-100"
          >
            <li
              class="list-group-item list-group-item-action p-1 text-center btn"
              @click.prevent="loadmoreAssessments += 5"
            >
              Load more
            </li>
          </ul>
        </div>
        <div
          class="alert alert-info col-12"
          v-else
        >
          <b>Create your first assessment and invite the team members. </b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import HomeTopBar from "@/components/HomeTopBar.vue";
import Assessment from '@/models/assessment';
import Audit from '@/models/audit';
import AuditObject from '@/models/audit_object';
import Media from '../models/media';
import Risk from '../models/risk';
import ReloadSystem from "@/components/Layout/ReloadSystem.vue";
import UploadSystem from "@/components/Layout/UploadSystem.vue";

export default {
  name: "Home",
  components: {
    HomeTopBar,
    ReloadSystem,
    UploadSystem
  },
  data() {
    return {
      loadmoreAudits: 4,
      loadmoreAssessments: 4
    };
  },
  computed: {
    ...mapState("auth", {
      user: state => state.user
    }),
    ...mapState("loading", {
      loading: state => state.loading
    }),
    ...mapState("location", {
      place: state => state.place
    }),
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuditor: "auth/isAuditor"
    }),
    ...mapState("system", [
      'app_loading','app_online'
    ]),
    audits() {
      return Audit.query().count()
    },
    auditObject () {
      return AuditObject.query().count()
    },
    media () {
      return Media.query().count()
    },
    risks () {
      return Risk.query().count()
    },
    assessments() {
      return Assessment.query().with('audits').all()
    },
    spinningLocation() {
      var loadingLocation = this.loading.location;
      if (loadingLocation !== null && loadingLocation.status === "loading") {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {

    selectAssessment () {
      const Wizard = this.$swal.mixin({
        confirmButtonText: 'Next',
        reverseButtons: true,
        showCancelButton: true,
        customClass: { input: 'form-control custom-select',},
      })

      if (this.AssessmentAsOptions.length > 0) {
        let steps = [
          {
            title: 'Select Assessment',
            input: 'select',
            inputOptions: this.AssessmentAsOptions,
            inputAttributes: {
              'dusk': 'New-Audit-Assessment'
            },
            inputValidator: (value) => {
              return !value && 'You need to choose something!'
            }
          }
        ]

        Wizard.queue(steps).then((result) => {
          if (result.value) {
            this.$router.push({
              name: 'AuditNew',
              params: { assessmentId: result.value[0] }
            })
          }
        })
      }
    },

    noLocation () {
      this.$swal({
        type: 'error',
        title: 'Check the location',
        text: 'Please enable the location to proceed!'
      })
    },
  },
  created() {
    document.getElementById("main-loading").style.display = "none";
  }
};
</script>
