<template>
  <div
    class="w-100"
    :class="{ 'main-page page': this.$route.meta.displayTopBar, 'main-page': this.$route.meta.displayBackTopBar}"
  >
    <LayoutTopBar />
    <div
      class="container-fluid"
    >
      <!--Internet-->
      <!-- <div
        v-if="!online"
        class="row alert alert-danger text-center"
      >
        <div class="col-12">
          <icon :icon="['fal','signal']" /> You are offline
          <br>
          <small
            v-if="loading.offline.timestamp !== null"
            class="text-muted text-center"
          >
            Lost internet
            <timeago
              :since="loading.offline.timestamp"
              :auto-update="1"
            />
          </small>
        </div>
      </div> -->

      <!--GPS -->
      <LayoutCurrentLocation />

      <transition
        name="slide-fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import LayoutTopBar from '@/components/LayoutTopBar.vue'
import LayoutCurrentLocation from '@/components/LayoutCurrentLocation.vue'


export default {
  name: 'Layout',
  components: {
    LayoutTopBar,
    // LayoutSideMenu,
    LayoutCurrentLocation
  },
  data () {
    return {
      set_location: false,
      running: false,
      autocomplete: null
    }
  },
  computed: {
    ...mapState('location', {
      location: state => state.location
    }),

    ...mapState('loading', {
      loading: state => state.loading
    }),

    ...mapState('auth', {
      user: state => state.user
    }),
    ...mapState('system', {
      sidebar_open: state => state.sidebar_open
    })
  },
  methods: {
    ...mapActions('system', ['loadDataLocaly']),
    menu () {
      if (this.sidebar_open) {
        this.$store.commit('system/openSideBar', false, { root: true })
      }
    }
  },
  async mounted () {
    await this.loadDataLocaly()
    // console.log('Layout mounted')
    if (window.Capacitor !== undefined) {
      // let envName = window.APP_ENV || 'not set'
      // window.Capacitor.Plugins.Accessibility.speak({ value: 'Beach Management started. Environment is ' + envName })
      setTimeout(() => {
        window.Capacitor.Plugins.SplashScreen.hide()
      }, 2000)
    }
  }
}
</script>
<style>
    .main-page {
        padding-bottom: 5rem;
        padding-top: 45px;
    }

    .page {
        position: absolute;
        top: 0;
    }

    .page .background {
        content: '';

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        opacity: 0.5;
    }

    .slide-fade-enter-active {
        transition: all .1s ease;
    }

    .slide-fade-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }
</style>
