<template>
  <div>
    <div
      id="login-modal"
      class="text-center d-flex flex-column"
    >
      <img
        src="/images/sls_logo.png"
        alt="SLS Logo"
        class="logo mb-3"
      >

      <div
        class="text-center login-form pb-2"
        :class="{'animated shake': error }"
      >
        <div class="row p-1">
          <div
            class="col-12 p-2"
            style="font-size: 2.3rem; font-weight: 200;"
          >
            {{ name }}
          </div>
        </div>
        <form
          class="form-horizontal"
          role="form"
          method="POST"
          @submit.prevent="login()"
        >
          <div
            v-if="error"
            class="alert text-danger"
            v-html="errorMessage"
          />

          <div class="form-group">
            <div class="col-12">
              <input
                id="username"
                v-model="username"
                type="text"
                class="form-control"
                name="username"
                required
                autocomplete
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                placeholder="Username"
                :disabled="loading"
                autofocus
              >
            </div>
          </div>
          <div class="form-group">
            <div class="col-12">
              <input
                id="password"
                v-model="password"
                type="password"
                class="form-control"
                name="password"
                autocomplete
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                placeholder="Password"
                :disabled="loading"
                required
              >
            </div>
          </div>
          <div class="form-group">
            <div class="col-12">
              <button
                id="login-user"
                type="submit"
                :disabled="loading"
                class="btn btn-danger btn-lg btn-block"
              >
                <icon
                  v-if="loading"
                  :icon="['fal','sync']"
                  :class="{'fa-spin' : loading}"
                  aria-hidden="true"
                /> Log in
              </button>
            </div>
          </div>

          <div class="row p-2">
            <div
              class="col-12"
              style="font-size: 1rem; font-weight: 200;"
            >
              <a
                href="https://members.sls.com.au/SLSA_Online/modules/reset/index.php?resetType=1"
                class="btn btn-link"
                target="_blank"
              >
                Forgot password?
              </a>
            </div>
          </div>
        </form>
      </div>
      <version />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Auth from '../includes/auth'
import GeoService from '../includes/geolocation'

export default {
  name: 'Login',
  data () {
    return {
      showVersion: false,
      username: null,
      password: null,
      loading: false,
      error: false,
      errorMessage: null
    }
  },
  computed: {
    version () {
      return window.APP_VERSION
    },
    name () {
      return window.APP_NAME || 'SLSA'
    },
    ...mapState('auth', {
      user: state => state.user
    }),
    ...mapState('auth', {
      token: state => state.token
    }),
  },
  created () {
    if (this.token !== null) {
      this.$router.push({ name: 'Home' })
    }
  },
  methods: {
    ...mapActions('system', ['refresh']),
    login () {
      if (this.username == null || this.password == null) {
        this.errorMessage = 'You must fill in username and password'
        return
      }
      this.loading = true
      this.error = false
      Auth.login(this.username, this.password)
        .then(() => {
          document.getElementById('password').blur()
          console.info('[Login.vue] We have logged in ')
          // if (process.env.NODE_ENV === 'production' && process.env.MIX_API_HOST !== 'http://localhost:8081') {
          //   this.$ga.set('userId', this.user.id)
          // }

          // setTimeout(() => {
          //   Auth.checkSession()
          // }, 1000 * 60 * 5)
          this.downloadDB()

          this.$swal({
            title: "Do you have GPS?",
            text: "We need to access your location.",
            icon: "question",
            showCancelButton: true,
          }).then(result => {
            if (result.value) {
              // fetch new location
              GeoService.getLocationAndDetails()
            } else {
              // refresh using user.location
              this.$store.dispatch('location/fetchLocationDetails')
            }
          });
          

          this.$router.push({ name: 'Home' })
        }, errorMessage => {
          this.loading = false
          this.error = true
          this.errorMessage = errorMessage
        })
    },
    async downloadDB() {
      await this.refresh();
    }
  }
}
</script>
<style scoped>

#login-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 24em;
    z-index: 99998;

    background-color: #0060a9 !important;
}

.login-form .alert {
    padding: 0.1rem 1.25rem;
}
.login-form .form-control {
    color: #636c72;
}

.login-form {
    background-color: #ffffff;
    max-width: 600px;
    width: 80%;
    border-radius: 0.3rem;
}
.logo {
    -webkit-filter: drop-shadow(1px 1px 30px #222 );
    filter: drop-shadow(1px 1px 30px #222);
}
</style>
