<template>
  <div class="logout">
    <div class="text-center">
      <div class="row">
        <div
          class="col-12 p-2"
          style="font-size: 1.8rem;"
        >
          <img
            :src="assetUrl('/images/sls_logo.png')"
            width="50px"
            alt="SLS Logo"
          >
          {{ name }}
        </div>
      </div>
      <h1>Loging you out..</h1>
    </div>
  </div>
</template>

<script>

import Auth from '@/includes/auth'

export default {
  name: 'Logout',
  computed: {
    name () {
      return process.env.MIX_APP_NAME || 'Operations App'
    }
  },
  created () {
    Auth.logout()
      .then(() => {
        this.$router.push({ name: 'Login' })
      }, error => {
        console.error('Bad Log', error)
      })
  }
}
</script>
