<template>
  <div class="content">
    <div class="pt-3 col-12 text-center ">
      <h5>
        <img
          :src="assetUrl('/images/sls_logo.png')"
          height="50px"
          class="img"
        > Beach Management
      </h5>
      <hr>
    </div>

    <transition
      appear
      name="slide-fade"
      mode="out-in"
    >
      <div
        v-if="this.step == 1"
        key="step1"
      >
        <h2>Welcome Saulo Onze,</h2>
        <h4>First phase</h4>

        <p>The first phase of this system is to help auditors to manage and export the data collected in the assessment audit.</p>

        <p>We are going to help you to prepare, collect, organise and export the audit information.</p>

        <p>* Prepare the information by reviewing the beaches previous informations.</p>

        <p>* Collect the Beach Audit even when offline. You can upload it later when connected to the Internet.</p>

        <p>* Review the audit using desktop or tablet</p>

        <p>* Export the audit information to Word, Excel, CSV or HTML.</p>
        <br>
        <a
          href="#"
          @click.prevent="step = 2"
          class="btn btn-primary"
        >All right!</a>
      </div>

      <div
        v-if="this.step == 2"
        key="step2"
      >
        <h1>Guide Workflow</h1>

        <h2>Assessment Wizard</h2>
        <p>1. Invite Members</p>
        <p>2. Assign Beaches</p>

        <h2>Assessment Status</h2>
        <h4>Pre-Site</h4>
        <p>1. Review Pre-loaded beaches objects? eg. accesses, hazards, facilities, etc.</p>
        <p>2. Add notes to sections before move to On-Site data collection</p>

        <h4>On-Site</h4>
        <p>1. Select the beach</p>
        <p>2. Create a new Audit</p>
        <p>3. Collect photos, GPS locations, add comments, add types and tags to catalog the data.</p>

        <h4>Pos-Site</h4>
        <p>1. Time to review the data collected in the Audit.</p>
        <p>2. Edit the data collected.</p>
        <p>3. Export Data</p>
        <br>
        <router-link
          to="/"
          class="btn btn-primary"
        >
          I understand
        </router-link>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
  name: "Welcome",
  data() {
    return {
      step: 1
    };
  }
};
</script>

<style>
</style>
