<template>
  <div>
    <modal
      :show="show"
      :fullscreen="false"
      :size="'medium'"
      @close="onclose"
    >
      <template v-slot:header>
        Add Members
      </template>

      <slot>
        <form
          id="needs-validation"
          novalidate
        >
          <div class="form-group row">
            <label
              for="name"
              class="col-3 col-form-label text-center"
            >Name</label>

            <div class="col-9">
              <autocomplete
                :items="users"
                placeholder="Search by first name or last name"
                @change="onchange"
                :input-attrs="{'type': 'text','id' : 'name', 'class': nameClass ,'autofocus':''}"
                :get-label="getUserLabel"
                @item-selected="handleSelectUser"
                @update-items="getMembers"
                ref="autocomplete"
              />
            </div>
          </div>

          <div class="form-group row">
            <label
              for="name"
              class="col-3 col-form-label text-center"
            >Roles</label>

            <div class="col-9">
              <select-plus
                :options="roles"
                v-model="role_id"
                :required="true"
                label=""
                dusk="Member-Role"
              />
            </div>
          </div>
        </form>
      </slot>

      <template v-slot:footer>
        <div class="form-group row">
          <button
            dusk="add-member"
            class="btn btn-primary"
            @click="saveUser"
            type="button"
            :disabled="running || (user_id === null && role_id === null)"
          >
            Add to Assessment
            <icon
              v-if="running"
              :icon="['fal','sync']"
              class="fa-spin"
            />
          </button>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
import Assessment from '@/models/assessment';
import { mapState } from "vuex";


export default {
  name: 'AddMemberForm',
  props: {
    show: {
      type: Boolean,
      required: true
    },
    assessment: {
      type: Object,
      required: true
    },
  },
  mounted: function () {

  },
  data: function () {
    return {
      users: [],
      errors: {},
      user_id: null,
      name: null,
      role_id: null,
      api: '/api/v1/users', // url to query
      running: false,
    }
  },
  computed: {
    ...mapState("database", {
      roles: state => state.assessmentUser.roles
    }),
    nameClass () {
      if (this.errors.email) {
        return 'is-invalid form-control custom-control p-1'
      }
      return 'form-control custom-control p-1'
    }
  },
  methods: {
    onclose() {
      this.user_id = null
      this.role_id = null
      this.$emit("close")
    },
    onchange (name) {
      this.user_id = null
      this.name = name
    },
    saveUser () {
      this.errors = {}
      this.running = true

      var params = {
        user_id: this.user_id,
        role_id: parseInt(this.role_id),
        assessment_id: this.assessment.id
      }

      Assessment.dispatch('saveMember', params).then(
        response => {
          console.log(response);
          this.running = false
          this.errors = response.data.errors
          if (this.errors) {
            let text = "<ul>"
            for (let key in this.errors) {
              text += "<li>" + this.errors[key][0] + "</li>"
            }
            this.$swal({
              icon: "error",
              title: "Adding Member",
              html:
                  "<div class='text-left error-padding'>Please fix the following errors: " + text + "</ul></div>"
            });
          } else {
            this.user_id = null
            this.name = null
            this.role_id = null
            this.$refs.autocomplete.clearInput()
            this.errors = {} // reset errrors
            this.$swal({
              icon: "success",
              title: "Adding Member",
              text: "User added to assessment."
            });
          }
        },
        error => {
          console.error(error);
          this.running = false
          this.$swal({
            icon: "error",
            title: "Adding Member",
            text: "Error adding member."
          });
        }
      );
    },
    getMembers (text) {
      this.running = true
      return new Promise((resolve, reject) => {
        axios.get(this.api + '?search=' + text).then(({ data }) => {
          this.users = data
          this.running = false
          resolve(data)
        }).catch(({ error }) => {
          // console.log('error getting user', error)
          this.running = false
          reject(error)
        })
      })
    },
    getUserLabel (item) {
      if (item !== null) {
        return item.first_name + ' ' + item.last_name
      }
      return ''
    },
    handleSelectUser (data) {
      if (data.id === undefined) {
        return
      }
      // console.log('we got user', data)
      this.user_id = data.id
      this.name = data.first_name + ' ' + data.last_name
    }
  }
}
</script>

<style scoped>
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0); /* Black background with opacity */
  z-index: 1200;
}
.invite-form {
    position: absolute;
    z-index: 1500;
    background-color: #f8f9fa !important;
    left: 5vw;
    width: 30%;
    min-width: 400px;
    transition: opacity .3s ease;
    border: 1px solid #0060a9;
}
</style>
