<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="Title"
          v-model="assessment.title"
          :required="true"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <select-plus
          label="Type"
          :options="types"
          v-model="assessment.type"
          :disabled="true"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="Summary"
          v-model="assessment.summary"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="State/Area Name"
          v-model="assessment.area"
          :required="true"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="Start Date"
          type="date"
          placeholder="dd/mm/yyyy"
          v-model="assessment.start_date"
          :required="true"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="End Date"
          type="date"
          placeholder="dd/mm/yyyy"
          v-model="assessment.end_date"
          :required="true"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <input-plus
          label="Delivery Date"
          type="date"
          placeholder="dd/mm/yyyy"
          v-model="assessment.delivery_date"
        />
      </div>
      <div class="col-xs-12 col-sm-6">
        <select-plus
          label="Status"
          :options="status"
          v-model="assessment.status"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AssessmentBasicForm",
  props: {
    assessment: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      error: false,
    };
  },
  computed: {
    ...mapState("assessment", {
      status: state => state.status,
      types: state => state.types
    }),
  },
  mounted() {
  },
  methods: {
  }
};
</script>
