<template>
  <transition
    enter-active-class="animated fadeInUp slow"
    leave-active-class="animated fadeOutDown slow"
    mode="out-in"
  >
    <footer class="fixed-bottom bg-info animated fadeInUp">
      <div
        id="navbar-secondary"
        class="buttons mx-2"
      >
        <ul class="nav nav-tabs navbar-bottom nav-fill">
          <router-link
            tag="a"
            :to="{ name: 'AssessmentStatus' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link text-center"
            exact-active-class="active"
            :dusk="'Assessment-Status-' + assessment.id"
          >
            <icon-layers
              class="fa-2x fa-fw"
            >
              <icon :icon="['fal', 'users']" />
              <icon-layers-text
                counter
                :value="assessment.users.length"
                position="top-right"
                v-if="assessment.users"
              />
            </icon-layers>
            <br>Info
          </router-link>
          <router-link
            tag="a"
            :to="{ name: 'AssessmentAudit' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            active-class="active"
            exact-active-class="active"
            :dusk="'Assessment-Audit-' + assessment.id"
          >
            <icon-layers
              class="fa-2x fa-fw"
            >
              <icon :icon="['fal', 'clipboard-list-check']" />
              <icon-layers-text
                counter
                :value="assessment.audits.length"
                position="top-right"
                v-if="assessment.audits"
              />
            </icon-layers>
            <br>Audits
          </router-link>
          <router-link
            tag="a"
            :to="{ name: 'AssessmentLocations' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            exact-active-class="active"
            :dusk="'Assessment-Locations-' + assessment.id"
          >
            <icon-layers
              class="fa-2x fa-fw"
            >
              <icon :icon="['fal', 'map']" />
              <icon-layers-text
                counter
                :value="assessment.objects.length"
                position="top-right"
                v-if="assessment.objects"
              />
            </icon-layers>
            <br>Locations
          </router-link>

          <router-link
            tag="a"
            :to="{ name: 'AssessmentComments' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            exact-active-class="active"
            :dusk="'Assessment-Comments-' + assessment.id"
          >
            <icon-layers
              class="fa-2x fa-fw"
            >
              <icon :icon="['fal', 'comments']" />
              <icon-layers-text
                counter
                :value="assessment.comments.length"
                position="top-right"
                v-if="assessment.comments"
              />
            </icon-layers>
            <br>Comments
          </router-link>

          <router-link
            tag="a"
            :to="{ name: 'AssessmentRecommendations' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            :dusk="'Assessment-Recommendations-' + assessment.id"
            exact-active-class="active"
          >
            <icon-layers
              class="fa-2x fa-fw"
            >
              <icon :icon="['fal', 'comments']" />
              <icon-layers-text
                counter
                :value="assessment.recommendations.length"
                position="top-right"
                v-if="assessment.recommendations"
              />
            </icon-layers>
            <br>Recommendations
          </router-link>
        </ul>
      </div>
    </footer>
  </transition>
</template>

<script>
export default {
  name: "AssessmentFooter",
  props: {
    assessment: {
      type: Object,
      required: true
    }
  },
  methods: {
    // onItemChanged(event, currentItem, lastActiveItem) {
    //   console.log(event);
    // }
  }
};
</script>

<style scoped>
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scroll::-webkit-scrollbar {
  display: none;
}


.fa-layers-counter {
  background-color: #1139abd1;
}
.fa-layers-top-right {
    right: -18px;
    transform: scale(0.5);
}

.navbar-bottom {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.navbar-bottom .nav-item {
  margin-bottom: 0px;
}
.navbar-bottom .nav-link {
  border-radius: 0px;
}

a.active {
  background-color: white;
}
a:hover {
  text-decoration: none;
}

</style>
