<template>
  <transition
    enter-active-class="animated fadeIn slow"
    leave-active-class="animated fadeOut slow"
    mode="out-in"
  >
    <div class="w-100 bg-info p-2">
      {{ assessment.title }}
      <span class="float-right">
        {{ assessment.start_date | formatDate }} - {{ assessment.end_date | formatDate }}
      </span>
      <span
        class=""
        v-if="assessment.area"
      >{{ assessment.area }}</span>
      <div
        id="navbar-secondary"
        class="buttons mx-2"
        v-if="buttons === true"
      >
        <ul class="nav  nav-fill pt-2">
          <router-link
            tag="li"
            :to="{ name: 'AssessmentStatus' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link p-2"
            exact-active-class="active"
            :dusk="'Assessment-Status-' + assessment.id"
          >
            <icon :icon="['fal','users']" />
            <span class="badge badge-success">{{ assessment.users.length }}</span>
          </router-link>
          <router-link
            tag="li"
            :to="{ name: 'AssessmentAudit' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link p-2"
            active-class="active"
            exact-active-class="active"
            :dusk="'Assessment-Audit-' + assessment.id"
          >
            <icon :icon="['fal','clipboard-list-check']" />
            <span class="badge badge-light">{{ assessment.audits.length }}</span>
          </router-link>
          <router-link
            tag="li"
            :to="{ name: 'AssessmentLocations' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            exact-active-class="active"
            :dusk="'Assessment-Locations-' + assessment.id"
          >
            <icon :icon="['fal','map']" />
            <span class="badge badge-light">{{ assessment.objects.length }}</span>
          </router-link>

          <router-link
            tag="li"
            :to="{ name: 'AssessmentComments' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            exact-active-class="active"
            :dusk="'Assessment-Comments-' + assessment.id"
          >
            <icon :icon="['fal','comments']" />
            <span class="badge badge-light">{{ assessment.comments.length }}</span>
          </router-link>

          <router-link
            tag="li"
            :to="{ name: 'AssessmentRecommendations' , params: { assessmentId: assessment.id}}"
            class="nav-item nav-link"
            exact-active-class="active"
            :dusk="'Assessment-Recommendations-' + assessment.id"
          >
            <icon :icon="['fal','comments']" />
            <span class="badge badge-light">{{ assessment.recommendations.length }}</span>
          </router-link>
        </ul>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "AssessmentHeader",
  props: {
    buttons: {
      type: Boolean,
      default: false
    },
    assessment: {
      type: Object,
      required: true
    }
  }
};
</script>
