<template>
  <div
    class="w-100 h-100"
    v-if="userLocation"
  >
    <div
      v-show="loadingMap"
      class="alert alert-danger animated slideInTop"
    >
      Loading map...
    </div>
    <div class="map_wrapper col-12">
      <div
        :id="this.mapId"
        class="map_object"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import 'leaflet.offline'
// import TileLayerOffline from 'leaflet.offline/src/TileLayerOffline'
// import ControlSaveTiles from 'leaflet.offline/src/ControlSaveTiles'
import Beach from '@/models/beach'
//import BeachMarker from '@/custom-leaflet/BeachMarker'
import SelectedIcon from '@/custom-leaflet/SelectedBeachIcon'
import UnselectedIcon from '@/custom-leaflet/UnselectedBeachIcon'


export default {
  name: 'BeachMapPicker',
  props: {
    latitude: {
      default: 0,
      type: [Number, String],
      required: true
    },
    longitude: {
      default: 0,
      type: [Number, String],
      required: true
    },
    selectedBeaches: {
      default: () => {},
      type: Array
    }
  },
  data () {
    return {
      mapId: this._uid + '-map',
      map: null,
      userLocation: true,
      loadingMap: true,
      beachMarkers: [],
      style: [
        {
          'featureType': 'all',
          'stylers': [{ 'saturation': 0 }, { 'hue': '#e7ecf0' }]
        }, {
          'featureType': 'road', 'stylers': [{ 'saturation': -70 }]
        }, {
          'featureType': 'transit',
          'stylers': [{ 'visibility': 'off' }]
        }, {
          'featureType': 'poi', 'stylers': [{ 'visibility': 'off' }]
        }, {
          'featureType': 'water',
          'stylers': [{ 'visibility': 'simplified' }, { 'saturation': -60 }]
        }
      ]
    }
  },
  watch: {
    selectedBeaches() {
      this.beachMarkers.forEach((marker) => {
        if (this.selectedBeaches.includes(marker.beachId)) {
          marker.selected = true
          marker.setIcon(SelectedIcon)
        } else {
          marker.selected = false
          marker.setIcon(UnselectedIcon)
        }
      })
    }
  },
  mounted() {
    this.loadingMap = false
    this.map = L.map(this.mapId);
    this.map.setView([this.location.lat, this.location.lng], 14);

    //offline baselayer, will use offline source if available
    var offlineLayer = L.tileLayer.offline('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1Ijoic2F1bG8xMSIsImEiOiJjaWVxcWRpMWkwMHp1d2drbWc2b3J4OTB5In0.8WHm7oBKegNi0cF0iy_VfA', // get from https://www.mapbox.com/studio/account/tokens/
      minZoom: 10,
      maxZoom: 20,
    }).addTo(this.map);

    offlineLayer.on('storagesize', (e) => {
      this.storageSize = e.storagesize;
    });

    // add beach markers to map
    this.beaches.forEach((beach) => {
      let marker = null;
      if (this.selectedBeaches.includes(beach.id)) {
        marker = L.marker([beach.latitude, beach.longitude]).addTo(this.map)
        //.bindPopup(beach.title + ' (' + beach.key + ')');
        marker.setIcon(SelectedIcon)
        marker.selected = true
      } else {
        marker = L.marker([beach.latitude, beach.longitude]).addTo(this.map)
        //.bindPopup(beach.title + ' (' + beach.key + ')');
        marker.setIcon(UnselectedIcon)
        marker.selected = false
      }
      marker.beachId = beach.id;
      marker.on('click', (e) => {
        let clickedMarker = e.target
        if (clickedMarker.selected) {
          marker.selected = false
          marker.setIcon(UnselectedIcon)
          this.$emit('unselect-beach', beach)
        } else {
          marker.selected = true
          marker.setIcon(SelectedIcon)
          this.$emit('select-beach', beach)
        }
      })
      this.beachMarkers.push(marker)
    })
  },
  computed: {
    ...mapState('location', {
      location: state => state.location
    }),

    empty () {
      if (this.location.latitude === 0 && this.location.longitude === 0) {
        return true
      }
      return false
    },

    beaches() {
      return Beach.query().all()
    }
    // currentLocation () {
    //   if (this.location !== null) {
    //     this.userLocation = true // eslint-disable-line vue/no-side-effects-in-computed-properties
    //     return new google.maps.LatLng(this.location.lat, this.location.lng)
    //   } else {
    //     return new google.maps.LatLng(52.357971, -6.516758)
    //   }
    // }
  }
}
</script>
<style scoped>
  .map_wrapper {
    position: relative;
    display: contents;
    top: 0;
    width: 100%;
  }

  .map_object {
    position: absolute;
    height: 74vmax;
    width: 95%;
  }
  .leaflet-marker-icon:focus {
    box-shadow:0;
  }
</style>
