<template>
  <div
    class="col-12"
    v-if="userLocation"
  >
    <div
      v-show="loadingMap"
      class="alert alert-danger animated slideInTop"
    >
      Loading map...
    </div>
    <div
      :id="this.mapId"
      class="w-100 map_object"
      :style="'height: '+height+'px'"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import 'leaflet.offline'
import Beach from '@/models/beach'

export default {
  name: 'MapDisplay',
  props: {
    latitude: {
      default: -32.057520000000,
      type: Number,
      required: false
    },
    longitude: {
      default: 115.741220000000,
      type: Number,
      required: false
    },
    objects: {
      type: Array,
      required: true
    },
    assessment: {
      default: null,
      type: Object,
      required: false
    },
  },
  data () {
    return {
      windowHeight: window.innerHeight,
      mapId: this._uid + '-map',
      map: null,
      userLocation: true,
      loadingMap: true,
      beachMarkers: [],
      centerLocation: null
    }
  },
  computed: {
    ...mapState('location', {
      location: state => state.location
    }),
    ...mapState("audit_object", {
      types: state => state.types,
    }),
    empty () {
      if (this.location.latitude === 0 && this.location.longitude === 0) {
        return true
      }
      return false
    },
    // dynamic height for map
    height () {
      return this.windowHeight - 370;
    },
    beaches() {
      return Beach.query().all()
    }
  },
  mounted() {
    this.loadingMap = false
    this.map = L.map(this.mapId)
    if (this.assessment && this.assessment.audits.length > 0) {
      let beachLocations = []
      this.assessment.audits.forEach((audit) => {
        beachLocations.push([audit.beach.latitude, audit.beach.longitude])
      })
      let bounds = L.latLngBounds(beachLocations)
      this.centerLocation = bounds.getCenter()
      this.map.fitBounds(bounds)
    } else {
      this.centerLocation = L.latLng([this.latitude, this.longitude])
      this.map.setView(this.centerLocation , 16)
    }
    window.addEventListener('resize', () => {
      this.windowHeight = window.innerHeight
    })
    new L.CircleMarker(this.centerLocation, {
      color: "blue",
      weight: 0.1,
      fillColor: "blue",
      fillOpacity: 0.1,
      radius: 50
    }).addTo(this.map);

    let objectIcon = L.divIcon({ html: '<i class="fal fa-crosshairs fa-2x text-primary"></i>', iconAnchor: [11, 11]})
    new L.marker(L.latLng(this.centerLocation)).setIcon(objectIcon).addTo(this.map)

    //offline baselayer, will use offline source if available
    new L.tileLayer.offline('https://api.tiles.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      id: 'mapbox/light-v10',
      accessToken: window.MAPBOX_API_KEY, // get from https://www.mapbox.com/studio/account/tokens/
      minZoom: 10,
      maxZoom: 20,
    }).addTo(this.map);

    var layerControl = L.control.layers(null, null, {collapsed: false}).addTo(this.map)
    // add beach layer
    var layerBeachesGroup = L.layerGroup().addTo(this.map);
    var visibleLayers = {};
    layerControl.addOverlay(layerBeachesGroup, '<i class="fal fa-umbrella-beach text-dark"></i> <span data-type="-1" class="text-muted">Beaches</span>');

    // use -1 to represent beach layer so we can tell when it is object layer being toggled or beach layer
    visibleLayers["-1"] = true;

    // add layer controls for all objects
    var layerGroups = {}
    this.objects.forEach((object) => {
      if (!layerGroups[object.type_id]) {
        layerGroups[object.type_id] = L.layerGroup().addTo(this.map)
      }
    })

    for (var key in layerGroups) {
      let type =  _.filter(this.types, {typeId: parseInt(key) })[0];

      layerControl.addOverlay(layerGroups[key], '<i class="fal '+type.icon+' text-primary"></i> <span data-type="' + key + '" class="text-primary">'+ type.label + '</span>');
      visibleLayers[key] = true;
    }

    let drawMapLayers = () => {
      let bounds = this.map.getBounds()
      let sw = bounds._southWest
      let ne = bounds._northEast

      layerBeachesGroup.clearLayers()
      // if beaches layer visible
      if (visibleLayers["-1"]) {
        this.beaches.forEach((beach) => {
          // check if lat and lon between sw and ne
          let beachInRange = beach.longitude < ne["lng"] && beach.latitude < ne["lat"] && beach.longitude > sw["lng"] && beach.latitude > sw["lat"]
          // and display
          if (beachInRange) {
            let beachIcon = L.divIcon({ html: '<i class="fal fa-umbrella-beach text-dark"></i> <span class="text-muted">'+beach.title+'</span>'})
            let beachMarker =  L.marker(

              L.latLng([beach.latitude, beach.longitude])

            ).setIcon(beachIcon).addTo(this.map)
            layerBeachesGroup.addLayer(beachMarker)
          }
        })
      }

      // clean up layers so we don't have heaps of objects being left behind after a while
      for (var key in layerGroups) {
        layerGroups[key].eachLayer((layer) => {
          layerGroups[key].removeLayer(layer);
        })
      }

      // re populate with objects in view
      this.objects.forEach((object) => {
        let objectInRange = object.longitude < ne["lng"] && object.latitude < ne["lat"] && object.longitude > sw["lng"] && object.latitude > sw["lat"]
        if (objectInRange && visibleLayers[object.type_id]) {
          let icon =  _.filter(this.types, {typeId: object.type_id })[0].icon;

          let objectIcon = L.divIcon({ html: '<i class="fal '+icon+' text-primary"></i> <span class="text-primary">'+object.title+'</span>'})

          if (object.latitude !== null && object.longitude !== null) {
            let objectMarker = L.marker(

              L.latLng([object.latitude , object.longitude])

            ).setIcon(objectIcon).addTo(this.map)
            layerGroups[object.type_id].addLayer(objectMarker)
          }
        }
      })
    }

    // make sure we render markers when map loads
    if (this.map._loaded) {
      drawMapLayers()
    } else {
      this.map.on('load', drawMapLayers)
    }

    // redraw map layers when drag and zoom
    this.map.on('dragend', drawMapLayers)
    this.map.on('zoomend', drawMapLayers)

    // render markers when user turns on layer
    this.map.on('overlayadd', (e) => {
      // Get type of object for layer or -1 to get beaches layer
      let div = document.createElement('div');
      div.innerHTML = e.name
      let type = div.children[1].dataset.type

      let bounds = e.target.getBounds()
      let sw = bounds._southWest
      let ne = bounds._northEast

      if (type == "-1") {
        visibleLayers[type] = true
        // render beaches in view
        this.beaches.forEach((beach) => {
          let beachInRange = beach.longitude < ne["lng"] && beach.latitude < ne["lat"] && beach.longitude > sw["lng"] && beach.latitude > sw["lat"]
          if (beachInRange) {
            let beachIcon = L.divIcon({ html: '<i class="fal fa-umbrella-beach text-dark"></i> <span class="text-muted">'+beach.title+'</span>'})
            let beachMarker =  L.marker(

              L.latLng([beach.latitude, beach.longitude])

            ).setIcon(beachIcon).addTo(this.map)
            layerBeachesGroup.addLayer(beachMarker)
          }
        })
      } else if (type) {
        visibleLayers[type] = true
        // render objects on layer that was toggled and in view
        this.objects.forEach((object) => {
          if (object.type_id == type) {
            let objectInRange = object.longitude < ne["lng"] && object.latitude < ne["lat"] && object.longitude > sw["lng"] && object.latitude > sw["lat"]
            if (objectInRange) {
              let icon =  _.filter(this.types, {typeId: object.type_id })[0].icon;

              let objectIcon = L.divIcon({ html: '<i class="fal '+icon+' text-primary"></i> <span class="text-primary">'+object.title+'</span>'})

              if (object.latitude !== null && object.longitude !== null) {
                let objectMarker = L.marker(

                  L.latLng([object.latitude , object.longitude])

                ).setIcon(objectIcon).addTo(this.map)
                layerGroups[object.type_id].addLayer(objectMarker)
              }
            }
          }
        })
      }
    })

    this.map.on('overlayremove', (e) => {
      let div = document.createElement('div');
      div.innerHTML = e.name
      // keep track of which layer is visible - not native to leaflet
      if (div.children[1].dataset.type) {
        visibleLayers[div.children[1].dataset.type] = false;
      }
    })
  }
}
</script>
<style scoped>
  .map_object {
    position: relative;
    height: 200px;
    z-index: 0;
  }
</style>
