<template>
  <div class="dialogbox pb-2">
    <UserInitialsAvatar
      :name="comment.user.first_name+ ' ' + comment.user.last_name"
      class="float-left"
    />
    <b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b>

    {{ comment.updated_at > comment.created_at ? comment.updated_at : comment.created_at | formatFullDate }} {{ comment.updated_at > comment.created_at ? '(edited)' : '' }}

    <div class="body">
      <div
        v-if="!updating"
      >
        <span
          class="float-right"
          v-if="belongsToMe(comment) || isAdmin(comment)"
        >
          <button
            class="btn btn-link py-0"
            @click="updateComment"
            :dusk="'Edit-Comment-'+comment.id"
          >
            <icon :icon="['fal','edit']" />
          </button>
          <button
            class="btn btn-link py-0"
            @click="deleteComment"
            :dusk="'Delete-Comment-'+comment.id"
          >
            <icon :icon="['fal','trash-alt']" />
          </button>
        </span>
        <div
          v-if="commentText"
          class="message"
        >
          <span>{{ commentText }}</span>
        </div>
      </div>
      <div
        v-else
        class="input-group"
      >
        <input
          v-model="updatedComment"
          type="text"
          class="form-control"
          dusk="Comment-Update-Text"
        >
        <div
          class="input-group-append"
          v-if="updating"
        >
          <button
            class="btn btn-primary"
            type="button"
            @click="cancelUpdate"
            dusk="Comment-Cancel-Update"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary"
            type="button"
            @click="saveUpdate"
            :disabled="updatedComment.length < 1"
            dusk="Comment-Save-Update"
          >
            Update
          </button>
        </div>
      </div>
      <!-- <img
        v-if="comment.image_source"
        class="img-thumbnail"
        height="300"
        :src="assetUrl(comment.image_source)"
      > -->
    </div>
  </div>
</template>

<script>
import Comment from '@/models/comment';
import { mapGetters } from "vuex";

export default {
  props: {
    comment: {
      type: Object,
      required: true
    },
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      updating: false,
      updatedComment: '',
      commentText: '',
      running: false,
      errors: null
    };
  },
  mounted() {
    this.commentText = this.comment.text
  },
  computed: {
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      belongsToMe: "auth/belongsToMe"
    }),
  },
  methods: {
    updateComment () {
      this.updatedComment = this.comment.text
      this.updating = true
    },
    saveUpdate () {
      this.commentText = this.updatedComment
      this.updating = false
      this.errors = []
      this.running = true
      var params = {
        id: this.comment.id,
        status: this.object.audit.status,
        text: this.updatedComment
      }

      Comment.dispatch('updateComment', params).then(
        response => {
          this.running = false
          this.errors = response.data.errors;
          if (!this.errors) {
            this.$swal({
              icon: "success",
              title: "Comment updated"
            });
          }
        },
        error => {
          console.error(error);
          this.running = false
          this.commentText = this.comment.text
          this.$swal({
            icon: "error",
            title: "Comment",
            text: "Error updating :("
          });
        }
      );
    },
    cancelUpdate () {
      this.updating = false
    },
    deleteComment () {
      this.errors = []
      this.running = true
      var params = {
        commentId: this.comment.id,
        status: this.object.audit.status,
        auditId: this.object.audit.id
      }
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to delete this comment?",
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          Comment.dispatch('deleteComment', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (!this.errors) {
                this.$swal({
                  icon: "success",
                  title: "Comment Deleted"
                });
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Comment",
                text: "Error deleting :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -22px; /* Same as body margin top + border */
  left: 12px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -22px;
  left: 12px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 12px;
  left: -22px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 12px;
  right: -22px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  height: auto;
  margin: 5px 0 5px 3rem;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.5;
}
</style>
