<template>
  <div class="row">
    <div class="col-4">
      <div
        class="pt-2"
        v-if="have_location"
      >
        <icon
          :icon="['fal','map-marker']"
          aria-hidden="true"
        /> 
        <b v-if="place.locality">{{ place.locality }} 
          <span v-if="place.adminLevels['1']">{{ place.adminLevels['1'].code }}</span>
          <span v-if="place.adminLevels['2']">{{ place.adminLevels['2'].code }}</span>
        </b>
        <b
          class="text-muted"
          v-else
        >Location</b>

        <a
          class="btn-link btn-sm"
          @click.prevent="refresh()"
          href="#"
        >
          <icon
            :icon="['fal','sync']"
            :class="{'fa-spin' : spinning}"
            aria-hidden="true"
          />
        </a>
      </div>
      <span
        class="float-left"
        v-if="have_location"
      >
        <!-- <icon :icon="['fal','map-marker']" aria-hidden="true" /> 
      <b v-if="place.locality">{{ place.locality }} {{ place.adminLevels['1'].code }}</b>
      <b class="text-muted" v-else>Location</b>

      <a class="btn-link btn-sm" @click.prevent="refresh()" href="#">
        <icon :icon="['fal','sync']" :class="{'fa-spin' : spinning}" aria-hidden="true" />
      </a> -->
        <small class="text-muted d-none d-sm-inline">Lat.</small>
        <small>{{ parseFloat(location.lat).toFixed(2) }}</small>,
        <small class="text-muted d-none d-sm-inline">Long.</small>
        <small>{{ parseFloat(location.lng).toFixed(2) }}</small>
        <br>
        <small
          v-if="timestamp && have_location"
          class="text-muted"
        >
          <timeago
            :datetime="loading.location.timestamp"
            :auto-update="60"
            :converter-options="{addSuffix: false}"
          />
        </small>
        <small
          class="text-muted"
          v-else
        >timeago</small>
        <br>
        <a
          href="#"
          class="btn btn-outline-primary btn-sm"
          @click.prevent="show_weather = true"
        >Weather</a>
        <WeatherModal
          :weather="location.weather"
          @close="show_weather = false" 
          v-if="show_weather"
        />
      </span>
      <span
        class="text-left d-none d-sm-block p-2"
        v-else
      >
        <span class="text-muted">
          <icon
            :icon="['fal','map-marker']"
            aria-hidden="true"
          /> No Location<br>
        </span>
        <!--  
      <br>
      <a class="btn btn-primary btn-sm" @click.prevent="refresh()" href="#">
        <icon :icon="['fal','sync']" :class="{'fa-spin' : spinning}" aria-hidden="true" /> Use GPS
      </a> -->
      </span>
    </div>
    <div class="col-4 text-center ">
      <img
        :src="assetUrl('/images/sls_logo.png')"
        class="logo img img-fluid"
        @dblclick="askEnvironment()"
      >
      <h5>Beach Management</h5>
    </div>

    <div
      class="col-4 pt-2 text-right"
    >
      <OnlineOffline :count-assessments="countAssessments" />
    </div>
  </div>
</template>

<script>
import WeatherModal from "@/components/Layout/WeatherModal.vue";
import OnlineOffline from "@/components/Layout/OnlineOffline.vue";
import GeoService from "@/includes/geolocation";
import { mapState, mapGetters } from "vuex";

export default {
  name: "HomeTopBar",
  components: {
    WeatherModal,
    OnlineOffline,
  },
  data() {
    return {
      show_weather: false
    };
  },
  props: {
    countAssessments: {
      type: Number,
      required: true
    }
  },
  computed: {
    ...mapState("auth", {
      user: state => state.user
    }),
    ...mapState("loading", {
      loading: state => state.loading
    }),
    ...mapState("location", {
      place: state => state.place
    }),
    ...mapState("location", {
      location: state => state.location
    }),
    ...mapGetters({
      have_location: "location/have_location"
    }),
    spinning() {
      if (
        this.loading !== undefined &&
        this.loading.location !== null &&
        this.loading.location.status === "loading"
      ) {
        return true;
      } else {
        return false;
      }
    },
    timestamp() {
      if (
        this.loading === undefined ||
        this.loading.location === null ||
        this.loading.location.timestamp == null
      ) {
        return false;
      } else {
        return true;
      }
    }
  },
  methods: {
    refresh() {
      GeoService.getLocationAndDetails();
    },
    async askEnvironment() {
      if (window.Capacitor !== undefined) {
        let envName = window.APP_ENV || 'Env not set'
        let { value: environmentChoice } = await this.$swal.fire({
          title: `Current Environment:&nbsp<span style="color:green">${envName.toUpperCase()}</span>`,
          input: 'select',
          inputOptions: {
            'Development': {
              'https://bm.test':'Local - bm.test',
              'https://bm.nano.rocks':'Staging - bm.nano.rocks',
              'https://bm.nano.town':'QA - bm.nano.town'
            },
            'Production': {
              'https://bm.sls.com.au':'Production - bm.sls.com.au'
            }
          },
          inputPlaceholder: 'Select environment',
          showCancelButton: true
        })
        if(environmentChoice) {
          window.Capacitor.Plugins.SplashScreen.show()
          // store the new URL in Native storage and reload. The false means reload from cache.
          window.Capacitor.Plugins.Storage.set({
            key: 'envURL',
            value: environmentChoice
          }).then(() => {
            window.location.reload(false)
          })
        }
      }
    }
  }
};
</script>
<style scoped>
.logo {
  width: 100px;
}
</style>