<template>
  <header>
    <nav
      v-if="$route.meta.displayTopBar"
      class="navbar navbar-top sticky-top animated fadeInDown"
    >
      <span
        id="navbar-title"
        class="navbar-title"
      >{{ title }}</span>

      <button
        id="btn-logout"
        type="button"
        class="btn btn-link"
        dusk="logout"
        @click.prevent="logout()"
      >
        <icon
          :icon="['fal', 'sign-out']"
          fixed-width
          size="2x"
        />
      </button>
    </nav>

    <nav
      v-if="$route.meta.displayBackTopBar"
      class="navbar navbar-top sticky-top justify-content-start animated fadeInDown"
    >
      <a
        href="#"
        class="float-left pr-3 text-primary"
        @click.prevent="goBack()"
      >
        <icon
          :icon="['fal', 'arrow-left']"
          fixed-width
          size="2x"
        />
      </a>
      <span
        id="navbar-title"
        class="navbar-title"
      >{{ title }}</span>
    </nav>
  </header>
</template>

<script>
import Auth from "@/includes/auth";
import { mapState } from "vuex";

export default {
  name: "BaseTopBar",
  computed: {
    ...mapState("system", {
      sidebar_open: state => state.sidebar_open
    }),

    ...mapState("system", {
      title: state => state.navbar_title
    })
  },
  methods: {
    goBack() {
      if (this.$route.name === "AssessmentNew" || this.$route.name === "AssessmentStatus" || this.$route.name === "AssessmentAudit" || this.$route.name === "AssessmentLocations" || this.$route.name === "AssessmentComments" || this.$route.name === "AssessmentRecommendations") {
        this.$router.push({ name: "Home" });
      } else if (this.$route.name === "AuditLayout" || this.$route.name === "ObjectGroupList"  ) {
        this.$router.push({ name: "AssessmentAudit" });
      } else if (this.$route.name === "AuditObjectEdit") {
        this.$router.push({ name: 'ObjectGroupList' , params: { assessmentId: this.$route.params.assessmentId, auditId: this.$route.params.auditId, objectTypeId: 'beach' }});
      } else  {
        window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
      }
    },
    logout() {
      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes!"
        })
        .then(result => {
          if (result.value) {
            Auth.logout().then(() => {
              console.info("We have logged out");
            });
          }
        });
    },
    menu() {
      this.$store.commit("system/openSideBar", !this.sidebar_open, {
        root: true
      });
    },
    closeMenu() {
      this.$store.commit("system/openSideBar", false, { root: true });
    }
  }
};
</script>
