<template>
  <div>
    <transition
      name="slide-fade"
      mode="out-in"
    >
      <div
        v-if="haveError"
        id="location-alert"
        class="row alert alert-danger text-center mb-0"
      >
        <div class="col-12">
          <b class="alert-heading">
            We need to access your current location.
          </b>

          <div
            v-if="this.location !== null && this.location.error !== null"
            class="text-center"
          >
            <!-- Error getting your location:
            <strong>{{ this.location.error }}</strong> -->
            <strong>Allow LOCATION in phone settings.</strong>
            <br>
            And then press retry GPS.
            <hr style="margin: 0.3rem">
          </div>
          <button
            class="btn btn-danger btn-sm"
            @click.prevent="refresh()"
          >
            <icon
              :icon="['fal','sync']"
              :class="{'fa-spin' : spinning}"
              aria-hidden="true"
            />
            Retry GPS
          </button>
          <!-- or
          <a
            class="#"
            @click.prevent="autocompleteCity()"
          >
            Set Location
          </a> -->

          <div
            v-show="set_location"
            id="locationField"
            class="p-1"
          >
            <input
              id="autocomplete"
              class="form-control"
              placeholder="Enter a city"
              type="text"
            >
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import GeoService from '@/includes/geolocation'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'LayoutCurrentLocation',
  props: {
    display: {
      default: 'alert',
      type: String
    }
  },
  data () {
    return {
      set_location: false,
      autocomplete: null
    }
  },
  computed: {

    ...mapState('loading', {
      loading: state => state.loading
    }),
    ...mapState('location', {
      location: state => state.location
    }),
    ...mapGetters({
      have_location_error: 'location/have_location_error'
    }),
    ...mapGetters({
      have_location: 'location/have_location'
    }),

    haveError () {
      return (this.have_location_error || !this.have_location) &&
                    this.$route.name !== 'Login' && this.$route.name !== 'Logout' && this.$route.name !== 'Welcome'
    },

    spinning () {
      if (this.loading.location !== null && this.loading.location.status === 'loading') {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    refresh () {
      GeoService.getLocationAndDetails()
    },
    // autocompleteCity () {
    //   console.log('[Location.vue] Auto complete', this.autocomplete)

    //   this.set_location = true
    //   this.autocomplete = new google.maps.places.Autocomplete((
    //     document.getElementById('autocomplete')), {
    //     types: ['(cities)'],
    //     componentRestrictions: { 'country': 'au' }
    //   })

    //   google.maps.event.addListener(this.autocomplete, 'place_changed', () => {
    //     let place = this.autocomplete.getPlace()
    //     let location = place.geometry.location.toJSON()
    //     this.$store.commit('location/setLocation', location, { root: true })
    //     this.$store.dispatch('location/fetchLocationDetails', { root: true })
    //   })
    // }
  }
}
</script>
