<template>
  <!-- This does not work  -->
  
  <div>
    <!-- // modal  -->
    <modal
      :show="showModal"
      @close="showModal = false"
    >
      <template v-slot:header>
        <div class="">
          {{ file.updated_at | formatFullDate }}
        </div>
      </template>

      <div class="col-12 animated fadeIn text-left">
        <img
          @click="showModal = true"
          v-if="isImage"
          :src="src"
          class="img-fluid"
        >

        <video
          v-if="isVideo"
          @click="showModal = true"
          :src="src"
          :id="'video-file-'+_uid"
          controls="false" 
          crossorigin="anonymous"
          class="img-fluid"
        />
        <div class="text-muted">
          {{ file.name }} 
          <span class="text-smaller">Size: {{ (imageSize/1024/1024) | round }} Mb</span> 
        </div>
      </div>


      <template v-slot:footer>
        <button
          class="btn btn-link text-danger mr-auto"
          @click.prevent="removeImage"
        >
          <icon
            :icon="['fal','trash-alt']"
            aria-hidden="true"
          /> Remove
        </button>
        <a
          v-if="!file.is_offline"
          :href="file.url"
          :download="file.name"
          class="btn btn-link text-primary"
        >
          <icon
            :icon="['fal','download']"
            aria-hidden="true"
          /> Download
        </a>
      </template>
    </modal>
    <!-- Image  -->
    <div
      class=""
    >
      <img
        @click="showModal = true"
        v-if="isImage"
        :src="src"
        class="img-thumbnail"
      >

      <video
        v-if="isVideo"
        :src="src"
        :id="'video-file-'+_uid"
        controls="false" 
        crossorigin="anonymous"
        class="img-thumbnail"
      />
      <div class="caption text-right">
        {{ file.updated_at | formatFullDate }}
      </div>
    </div>

    <div class="pt-2 pb-2">
      <div
        v-if="file.progress != null"
        class="progress"
        style="height: 20px;"
      >
        <div
          class="progress-bar text-center"
          role="progressbar"
          :style="'width: '+file.progress+'%;'"
        >
          {{ file.progress }}
        </div>
      </div>

      <!-- <button 
        :disabled="uploading"
        v-if="file.is_offline && 0"
        class="btn btn-sm btn-info"
        @click="uploadImage()"
      >
        <icon
          :class="{'fa-spin' : uploading}"
          :icon="['fal','upload']"
          aria-hidden="true"
        />
      </button> -->
    </div>
    
    <canvas
      ref="canvas"
      style="display:none"
    />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Media',
  props: {
    file: {
      type: null,
      default: null
    }
  },
  data () {
    return {
      showModal: false,
      uploading: false
    }
  },
  computed: {
    src () {
      return this.file.url
    },
    cordova () {
      return Vue.cordova
    },
    
    isImage () {
      if(this.file.is_offline) {
        return this.file.url.startsWith("data:image");
      } else {
        return this.file.mime_type.startsWith("image");
      }
    },
    isVideo () {
      if(this.file.is_offline) {
        return this.file.url.startsWith("data:video");
      } else {
        return this.file.mime_type.startsWith("video");
      }
    },
    imageSize () {
      if (this.file.size !== null && this.file.size !== undefined) {
        return this.file.size
      } else if (this.previewImageData !== null && this.previewImageData !== undefined) {
        var base64str = this.previewImageData.split('base64,')[1]
        var decoded = atob(base64str)
        return decoded.length / 1000
      }
      return 0
    }
  },
  created () {
    if (this.image !== null && this.image !== '') {
      this.imageData = this.image
    }
  },
  methods: {
    ...mapActions('media', ['deleteMedia', 'uploadMedia']),
    // remove Image from local only ATM
    uploadImage () {
      this.uploading = true
      let self = this
      this.uploadMedia(this.file)
        .then(function () {
          // console.log('media uploaded in input-photo', media)
          self.uploading = false
        }).catch(function (error) {
          // console.log('media errro', error)
          self.uploading = false
          self.$swal({
            type: 'error',
            title: error,
            text: 'Image could not be uplaoded  correctly'
          })
        })
    },
    removeImage () {
      this.$swal.fire({
        title: 'Do you want to delete this file?',
        icon: 'error',
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.deleteMedia(this.file)
        } else {
          return false
        }
      })
    }
  }
}
</script>
