<template>
  <transition>
    <div
      v-if="showing"
      class="modal-mask"
      @keypress="handleKeys"
    >
      <div
        class="modal"
        tabindex="-1"
        role="dialog"
      >
        <div
          class="modal-dialog"
          :class="classDialogObject"
          role="document"
        >
          <div
            class="modal-content"
            :class="classContentObject"
          >
            <div class="modal-header">
              <h3 class="modal-title">
                <slot name="header" />
              </h3>
              <a
                href="#"
                class="float-right pr-2 text-primary"
                dusk="close-modal"
                @click.prevent="close()"
              >
                <icon :icon="['fal','times']" />
              </a>
            </div>

            <div class="modal-body">
              <slot>
                <div class="col-12">
                  This is Default Modal Body
                </div>
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button
                  type="button"
                  class="btn btn-outline-dark"
                  @click="close()"
                >
                  Close
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  props: {
    show: {
      type: [Boolean],
      default: false
    },
    fullscreen: {
      type: [Boolean],
      default: true
    },
    size: {
      type: [String],
      default: ""
    }
  },
  data() {
    return {
      showing: false,
      // modal-xl modal-dialog-scrollable modal-dialog-centered
      classDialogObject: {
        "modal-xl": this.size === "x-large",
        "modal-lg": this.size === "large",
        "modal-sm": this.size === "small",
        "full_modal-dialog": this.fullscreen
      },
      classContentObject: {
        "full_modal-content": this.fullscreen
      }
    };
  },
  watch: {
    show: {
      immediate: true,
      handler(show) {
        this.showing = show;
      }
    }
  },
  mounted() {
    document.addEventListener("keydown", this.handleKeys);
    this.showing = this.show;
  },
  destroyed() {
    document.removeEventListener("keydown", this.handleKeys);
  },
  methods: {
    close() {
      this.showing = false;
      this.$emit("close");
    },
    handleKeys(event) {
      if (this.showing && event.code === "Escape") {
        this.close();
      }
    }
  }
};
</script>
<style>
.modal {
    display: block !important; /* I added this to see the modal, you don't need this */
}
.modal-mask {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-body{
    height: 250px;
    overflow-y: auto;
}


.modal-header {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.modal-dialog {
  font-size: 1rem;
  margin: 3rem auto;
    overflow-y: initial !important
}

.full_modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.full_modal-content {
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
}
</style>
