<template>
  <div class="dialogbox pb-2">
    <UserInitialsAvatar
      :name="recommendation.user.first_name+ ' ' + recommendation.user.last_name"
      class="float-left"
    />
    <b>{{ recommendation.user.first_name }} {{ recommendation.user.last_name }}</b>

    {{ recommendation.updated_at > recommendation.created_at ? recommendation.updated_at : recommendation.created_at | formatFullDate }} {{ recommendation.updated_at > recommendation.created_at ? '(edited)' : '' }}

    <div class="body">
      <div
        v-if="!updating"
      >
        <span
          class="float-right"
          v-if="belongsToMe(recommendation) || isAdmin(recommendation)"
        >
          <button
            class="btn btn-link py-0"
            @click="updateRecommendation"
            :dusk="'Edit-Recommendation-'+recommendation.id"
          >
            <icon :icon="['fal','edit']" />
          </button>
          <button
            class="btn btn-link py-0"
            @click="deleteRecommendation"
            :dusk="'Delete-Recommendation-'+recommendation.id"
          >
            <icon :icon="['fal','trash-alt']" />
          </button>
        </span>
        <div
          v-if="recommendationText"
          class="message"
        >
          <span>{{ recommendationText }}</span>
        </div>
      </div>
      <div
        v-else
        class="input-group"
      >
        <input
          v-model="updatedRecommendation"
          type="text"
          class="form-control"
          dusk="Recommendation-Update-Text"
        >
        <div
          class="input-group-append"
          v-if="updating"
        >
          <button
            class="btn btn-primary"
            type="button"
            @click="cancelUpdate"
            dusk="Recommendation-Cancel-Update"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary"
            type="button"
            @click="saveUpdate"
            :disabled="updatedRecommendation.length < 1"
            dusk="Recommendation-Save-Update"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Recommendation from '@/models/recommendation';
import { mapGetters } from "vuex";

export default {
  props: {
    recommendation: {
      type: Object,
      required: true
    },
    object: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      updating: false,
      updatedRecommendation: '',
      recommendationText: '',
      running: false,
      errors: null
    };
  },
  mounted() {
    this.recommendationText = this.recommendation.text
  },
  computed: {
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      belongsToMe: "auth/belongsToMe"
    }),
  },
  methods: {
    updateRecommendation () {
      this.updatedRecommendation = this.recommendation.text
      this.updating = true
    },
    saveUpdate () {
      this.recommendationText = this.updatedRecommendation
      this.updating = false
      this.errors = []
      this.running = true
      var params = {
        id: this.recommendation.id,
        status: this.object.audit.status,
        text: this.updatedRecommendation
      }

      Recommendation.dispatch('updateRecommendation', params).then(
        response => {
          this.running = false
          this.errors = response.data.errors;
          if (!this.errors) {
            this.$swal({
              icon: "success",
              title: "Recommendation updated"
            });
          }
        },
        error => {
          console.error(error);
          this.running = false
          this.recommendationText = this.recommendation.text
          this.$swal({
            icon: "error",
            title: "Recommendation",
            text: "Error updating :("
          });
        }
      );
    },
    cancelUpdate () {
      this.updating = false
    },
    deleteRecommendation () {
      this.errors = []
      this.running = true
      var params = {
        recommendationId: this.recommendation.id,
        status: this.object.audit.status,
        auditId: this.object.audit.id
      }
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to delete this recommendation?",
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          Recommendation.dispatch('deleteRecommendation', params).then(
            response => {
              this.running = false
              this.errors = response.data.errors;
              if (!this.errors) {
                this.$swal({
                  icon: "success",
                  title: "Recommendation Deleted"
                });
              }
            },
            error => {
              console.error(error);
              this.running = false
              this.$swal({
                icon: "error",
                title: "Recommendation",
                text: "Error deleting :("
              });
            }
          );
        } else {
          return false
        }
      })
    },
  }
}
</script>

<style scoped>
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -22px; /* Same as body margin top + border */
  left: 12px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -22px;
  left: 12px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 12px;
  left: -22px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 12px;
  right: -22px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  height: auto;
  margin: 5px 0 5px 3rem;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.5;
}
</style>
