<template>
  <div class="avatar rounded mr-2">
    {{ initials }}
  </div>
</template>

<script>
export default {
  name: 'UserAvatar',
  props: {
    name: {
      type: String,
      default: ''
    }
  },
  computed: {
    initials () {
      var names = this.name.split(' ');
      return names[0][0] + names[1][0]
    }
  }
}
</script>

<style lang="scss" scoped>
.avatar {
  background: linear-gradient(to bottom, rgba( 108, 185, 209, 200 ) 0%, rgba( 0, 96, 169,0.6 ) 100% );
  height: 40px;
  width: 40px;
  text-align: center;
  color: white;
  white-space: nowrap;
}

.avatar:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
</style>
