<template>
  <div
    class="keep-bottom"
    @click="showVersion = !showVersion"
  >
    <p
      v-if="showVersion"
      class="text-center text-black"
    >
      <span class="text-info">Version:</span> {{ version }}@{{ env }}<br>
      <span class="text-info">API:</span> {{ host }}<br>
      <span class="text-info">Released:</span> {{ released | formatDateCalendar }}<br>
    </p>
    <p
      v-else
      class="text-info"
    >
      ©
    </p>
  </div>
</template>

<script>
export default {
  name: 'Version',
  data () {
    return {
      showVersion: false
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    version () {
      return window.APP_VERSION || 'Version not  App'
    },
    name () {
      return window.APP_NAME || 'Operations App'
    },
    env () {
      return window.APP_ENV || 'Env not Set'
    },
    host () {
      return window.API_HOST || 'Host not Set'
    },
    released () {
      return window.BUILDED_AT || 'Builded at not Set'
    }
  },
  mounted () {
    if (this.show) {
      this.showVersion = true
    }
  }
}
</script>

<style scoped>

/* style="position: fixed; bottom: 5px; height: 50px; width: 100%; font-size: 11px;" */

.keep-bottom {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
}

</style>
