<template>
  <div>
    <div class="col-xs-12 col-sm-6">
      <select-plus
        :options="accessWidth"
        v-model="object.metadata.width"
        label="Width (m)"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <select-plus
        :options="accessGradient"
        v-model="object.metadata.gradient"
        label="Gradient"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <select-plus
        :options="accessCondition"
        v-model="object.metadata.condition"
        label="Condition"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <select-plus
        :options="accessSurface"
        v-model="object.metadata.surface"
        label="Surface"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AccessType",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState("database", {
      accessGradient: state => state.object_subtypes.accessGradient,
      accessSurface: state => state.object_subtypes.accessSurface,
      accessWidth: state => state.object_subtypes.accessWidth,
      accessCondition: state => state.object_subtypes.accessCondition
    }),
  },
  methods: {

  }
};
</script>
