<template>
  <div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Distance (km)"
        v-model="object.metadata.distance"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Response Time (m)"
        v-model="object.metadata.response_time"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "EmergencyType",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
