<template>
  <div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Count"
        v-model="object.metadata.count"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Distance (m)"
        v-model="object.metadata.distance"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Manager"
        v-model="object.metadata.manager"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Manager's Phone"
        v-model="object.metadata.manager_phone"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "FacilityType",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
