<template>
  <div>
    <div
      class="row"
    >
      <div class="col-12">
        <h3>
          <icon
            aria-hidden="true"
            :icon="['fal','users']"
          /> User Groups
        </h3>
      </div>
      <div
        class="col-4"
        v-for="(userGroup, i) in userGroups"
        :key="i"
      >
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            :value="userGroup['value']"
            :dusk="'Check-'+userGroup['text']"
            v-model="object.metadata.user_groups"
            :id="userGroup['text']"
          >
          <label
            class="form-check-label"
            :for="userGroup['text']"
          > {{ userGroup["text"] }}</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "HazardsType",
  props: {
    object: {
      type: Object,
      required: true
    },
    errors: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selectedGroups: [],
    };
  },
  computed: {
    ...mapState("database", {
      userGroups: state => state.object_subtypes.userGroups
    }),
  },
  methods: {
    addToArray() {
      this.object.metadata.signs.push({eban: '', type: ''})
    },
    removeFromArray(i) {
      this.object.metadata.signs.splice(i, 1)
    }
  }
};
</script>
