<template>
  <div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Manager"
        v-model="object.metadata.manager"
      />
    </div>
    <div class="col-xs-12 col-sm-6">
      <input-plus
        label="Provider"
        v-model="object.metadata.provider"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "LifeSavingType",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
