<template>
  <div>
    <p
      class="text-danger"
      v-if="errors['metadata.symbols']"
    >
      A Sign requires at least one symbol
    </p>
    <button
      class="btn btn-primary"
      @click.prevent="addToArray"
    >
      Add Symbol
    </button>
    <div
      v-for="(symbol, i) in object.metadata.symbols"
      class="col-xs-12 col-sm-6 p-2 mb-3"
      :key="i"
    >
      <div>
        <input-plus
          label="Symbol"
          v-model="symbol.symbol"
          :required="true"
        />
      </div>
      <div>
        <select-plus
          :options="symbolTypes"
          v-model="symbol.type"
          :required="true"
          label="Type"
        />
      </div>
      <div>
        <select-plus
          :options="classifications"
          v-model="symbol.classification"
          :required="true"
          label="Type"
        />
      </div>
      <button
        class="float-right btn btn-danger"
        @click.prevent="removeFromArray(i)"
      >
        Remove
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "SignageType",
  props: {
    object: {
      type: Object,
      required: true
    },
    errors: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState("database", {
      symbolTypes: state => state.object_subtypes.symbols,
      classifications: state => state.object_subtypes.classifications
    }),
  },
  methods: {
    addToArray() {
      this.object.metadata.symbols.push({symbol: '', type: '', classification: ''})
    },
    removeFromArray(i) {
      this.object.metadata.symbols.splice(i, 1)
    }
  }
};
</script>
