<template>
  <modal
    :show="true"
    @close="onclose()"
  >
    <template v-slot:header>
      Edit Assessment
    </template>

    <slot>
      <form
        id="needs-validation"
        novalidate
      >
        <AssessmentBasicForm :assessment="assessment" />
      </form>
    </slot>

    <template v-slot:footer>
      <button
        class="btn btn-primary"
        @click.prevent="updateAssessmentBasic"
        dusk="Modal-Save"
      >
        Save
      </button>
    </template>
  </modal>
</template>

<script>
import AssessmentBasicForm from "@/components/Assessment/AssessmentBasicForm.vue";

// import { mapState, mapGetters } from "vuex";
export default {
  name: "AssessmentEditModal",
  components: {
    AssessmentBasicForm
  },
  props: {
    assessment: {
      required: true,
      type: Object
    },
  },
  methods: {
    onclose() {
      this.$emit("close");
    },
    updateAssessmentBasic() {
      this.$emit("save", this.assessment);
    }
  },
  created () {
  }
};
</script>
