<template>
  <div class="row">
    <div
      class="col-12 pt-2"
      v-if="assessment"
    >
      <h2>
        <icon :icon="['fal','book']" />  Details
        <a
          href="#"
          class="btn btn-link"
          @click.prevent="showEditAssessmentModal = true"
          dusk="Assessment-Edit"
          v-if="isAdmin(assessment)"
        >
          <icon :icon="['fal','edit']" /></a>
        <a
          href="#"
          class="btn btn-link"
          dusk="Assessment-Export"
          @click.prevent="exportAssessment"
          v-if="isAdmin(assessment)"
        >
          Export <icon :icon="['fal','download']" />
        </a>
        <form
          ref="exportForm"
          id="export-form"
          :action="'/export/' + assessmentId"
          method="POST"
          style="display: none;"
        >
          <input
            type="hidden"
            name="api_token"
            :value="token"
          >
        </form>
      </h2>
      <div class="row bg-light pt-2 m-2 rounded">
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>Title</small><br>
          <b>{{ assessment.title }}</b>
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>Type</small><br>
          <b>{{ types.find(stat => stat.value === assessment.type).text }}</b>
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>Summary</small><br>
          {{ assessment.summary }}
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>State/Area Name</small><br>
          <b>{{ assessment.area }}</b>
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>Start Date</small><br>
          <b>{{ assessment.start_date | formatDateCalendar }}</b>
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>End Date</small><br>
          <b>{{ assessment.end_date | formatDateCalendar }}</b>
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>Delivery Date</small><br>
          <b>{{ assessment.delivery_date | formatDateCalendar }}</b>
        </div>
        <div class="col-xs-12 col-sm-6 pb-2">
          <small>Status</small><br>
          <b>{{ status.find(stat => stat.value === assessment.status).text }}</b>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-6 col-xs-12">
          <h2>
            <icon :icon="['fal','users']" />  Members
            <a
              v-if="isAdmin(assessment)"
              href="#"
              class="btn btn-primary btn-sm"
              @click.prevent="showMemberForm = !showMemberForm"
              dusk="Invite-Member"
            >
              <icon
                :icon="['fal', 'envelope']"
                fixed-width
              /> Invite
            </a>
          </h2>
        </div>
        <!-- <div class="col-6 col-xs-12">
          <input
            placeholder="Search"
            class="form-control"
          >
        </div> -->
        <add-member-form
          :show="showMemberForm"
          :assessment="this.assessment"
          @close="showMemberForm = false"
          dusk="AddMemberForm"
        />
      </div>

      <div class="row pt-2">
        <div class="col-12">
          <ul
            v-if="assessment.users && assessment.users.length > 0"
            class="list-group w-100"
          >
            <li
              v-for="(member) in assessment.users"
              :key="member.id"
              class="list-group-item list-group-item-action flex-column align-items-start p-2"
            >
              <span class="float-right">
                <a
                  href="#"
                  class="btn btn-link"
                  :dusk="'remove-member' + member.id"
                  @click.prevent="removeMember(member.id)"
                ><icon :icon="['fal','trash-alt']" /></a>
              </span>
              <b>{{ member.first_name }} {{ member.last_name }}</b><br>
              {{ member.role_id }}
            </li>
          </ul>

          <div
            v-if="!assessment.users || assessment.users.length <= 0"
            class="col-12"
          >
            <div class="alert alert-light text-center">
              <h1>Invite the team members and assign the permission role.</h1>
              <a
                href="#"
                class="btn btn-primary btn-lg"
                @click.prevent="showMemberForm = true"
              >
                <icon
                  :icon="['fal', 'envelope']"
                  fixed-width
                /> Invite
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <AssessmentEditModal
      :assessment="assessmentEdit"
      @close="showEditAssessmentModal = false"
      @save="saveAssessment"
      v-if="showEditAssessmentModal"
    />
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import AssessmentEditModal from "@/pages/Assessment/AssessmentEditModal.vue";
import AddMemberForm from "@/components/Assessment/AddMemberForm.vue";
import Assessment from '@/models/assessment';
import AssessmentUser from '@/models/assessment_user';


export default {
  name: "AssessmentStatus",
  components: {
    AssessmentEditModal,
    AddMemberForm
  },
  props: {
    assessmentId: {
      required: true,
      type: [String, Number]
    },
    assessment: {
      required: true,
      type: Object
    },
  },
  data() {
    return {
      showEditAssessmentModal: false,
      showMemberForm: false,
      assessmentEdit: {
        id: null,
        title: null,
        type: 1,
        summary: null,
        area: null,
        status: 1,
        start_date: null,
        end_date: null,
        delivery_date: null,
      },
    };
  },
  computed: {
    ...mapState("assessment", {
      status: state => state.status,
      types: state => state.types
    }),
    ...mapGetters({
      isAdmin: "auth/isAdmin"
    }),
    ...mapState('auth', {
      token: state => state.token
    })
  },
  methods: {
    saveAssessment(assessmentEdit) {
      // console.log("saving assessment")
      if (this.assessmentEdit === undefined || this.assessmentEdit === null) {
        this.error = true;
        return false;
      }

      this.error = false;

      Assessment.dispatch('updateAssessment', assessmentEdit).then(
        response => {
          this.loading = false;
          this.errors = response.data.errors;
          if (this.errors) {
            this.$swal({
              icon: "error",
              title: "Assessment",
              text:
                "Please fill in all. " + this.validation + " missing fields"
            });
          } else {
            Assessment.$updateLocally({ where: assessmentEdit.id, data: response.data.assessment })
            this.done = true
            this.$swal({
              icon: "success",
              title: "Assessment updated"
            });
            this.showEditAssessmentModal = false
          }
        },
        error => {
          console.error(error);
          this.loading = false;
          this.$swal({
            icon: "error",
            title: "Assessment",
            text: "Error saving :("
          });
        }
      );
    },
    removeMember (userId) {
      window.swal.fire({
        title: 'Do you want to remove this user from this assessment?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          return new Promise((resolve, reject) => {
            let payload = {}
            axios.delete('/api/v1/assessments/' + this.assessment.id + '/members/' + userId + '/remove', payload).then(({ data }) => {
              this.running = false
              if (data.status === 'ok') {
                AssessmentUser.delete([this.assessment.id, userId])
                resolve(data)
              }
              if (data.error) {
                this.errors = data.errors
                this.user_id = null
              }
            }).catch((error) => {
              // console.log('error saving user', error)
              this.running = false
              reject(error)
            })
          })
        } else {
          return false
        }
      })
    },
    exportAssessment () {
      this.$refs["exportForm"].submit()
    },
  },
  mounted () {
    this.assessmentEdit = _.clone(this.assessment)
  }
};
</script>
