<template>
  <div class="">
    <div class="row pt-2">
      <div class="col-sm-6 col-xs-12">
        <h2>
          <icon
            :icon="['fal','comments']"
          />
          Comments
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul
          v-if="comments.length > 0"
          class="list-group w-100"
        >
          <router-link
            :to=" { name: 'AuditObjectEdit' , params: { assessmentId: comment.audit.assessment_id, auditId: comment.audit.id, objectId: comment.auditObject.id }}"
            tag="li"
            v-for="(comment) in comments"
            :key="comment.id"
            class="list-group-item list-group-item-action flex-column align-items-start p-2"
            :dusk="'Comment-' + comment.id"
          >
            <span class="float-right">{{ comment.created_at | formatFullDate }}</span>
            <b>{{ comment.assessment.title }}</b> - {{ comment.audit.title }}<br><b>{{ comment.auditObject.title }}</b><br>
            {{ comment.text }} - {{ comment.user.first_name }} {{ comment.user.last_name }}
          </router-link>
        </ul>

        <div
          v-else
          class="col-12"
        >
          <div class="alert alert-info">
            <b>No comments found.</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Comment from '@/models/comment';

export default {
  name: "AssessmentComments",
  props: {
    assessmentId: {
      required: true,
      type: [String, Number]
    },
    assessment: {
      required: true,
      type: Object
    },
  },
  computed: {
    comments() {
      let id = parseInt(this.assessmentId)
      return Comment.query().where('assessment_id', id).with('user').with('audit').with('assessment').with('auditObject').orderBy('updated_at', 'desc').all()
    },

  },
  mounted() {
  },
  methods: {
  }
};
</script>
