<template>
  <div
    class="row"
    v-if="assessment"
  >
    <div class="col-12">
      <router-view
        :assessment="assessment"
      />
    </div>
    
    <AssessmentFooter
      :assessment="assessment"
      v-if="displayFooter"
    />
  </div>
</template>

<script>
// import { mapState, mapGetters, mapActions } from "vuex";
import Assessment from '@/models/assessment';
import AssessmentFooter from "@/components/Assessment/AssessmentFooter.vue";

export default {
  name: "AssessmentLayout",
  components: {
    AssessmentFooter
  },
  props: {
    assessmentId: {
      required: true,
      type: [String, Number]
    }
  },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    displayFooter() {
      if (this.$route.name === "AssessmentStatus" || this.$route.name === "AssessmentAudit" || this.$route.name === "AssessmentLocations" || this.$route.name === "AssessmentComments" || this.$route.name === "AssessmentRecommendations") {
        return true
      }
      return false
    },
    assessment() {
      return Assessment.query().with('beaches').with('users').with('audits').with('audits.media').with('audits.beach').with('audits.objects').with('objects').with('audits.objects.subtype').with('comments').with('recommendations').find(this.assessmentId)
    },
  },
  async mounted () {
  },
  watch: {
    assessment: {
      immediate: true,
      handler(assessment) {
        if (assessment != undefined)
          this.$store.commit("system/setTitle", assessment.title, { root: true });
      }
    }
  },
  methods: {
  }
};
</script>
