<template>
  <div
    class="pt-3"
    v-if="assessment"
  >
    <form
      id="needs-validation"
      novalidate
    >
      <AssessmentBasicForm :assessment="assessment" />

      <div class="row p-2">
        <div class="col-6" />
        <div class="col-6 text-right">
          <a
            href="#"
            class="btn btn-primary"
            @click.stop.prevent="createAssessment()"
            dusk="Create-Assessment"
          >
            CREATE
            <icon
              :icon="['fal', 'thumbs-up']"
              fixed-width
            />
          </a>
        </div>
      </div>

      <!-- <div
        class="text-center"
        v-if="done"
      >
        <div
          class="alert alert-light text-center py-4"
          style="background-color: #EEEEEE;"
        >
          <img
            :src="assetUrl('/images/good_job.png')"
            class="img img-fluid"
          >
          <h1 class="text-primary" />
          <h4>You had created a draft assessment.</h4>
          <p>We had send the invitations to the members and assign the beaches.</p>
          <p>You can explore the beaches details and plan the  data collection.</p>


          <router-link
            tag="a"
            :to="{ name: 'AssessmentStatus' , params: { assessmentId: 1}}"
            class="btn btn-primary"
            active-class="active"
            exact-active-class="active"
          >
            SEE ASSESSMENT
          </router-link>
        </div>
      </div> -->
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AssessmentBasicForm from "@/components/Assessment/AssessmentBasicForm.vue";
import Assessment from '@/models/assessment';
import AssessmentUser from '@/models/assessment_user';

export default {
  name: "AssessmentNew",
  components: {
    AssessmentBasicForm
  },
  data() {
    return {
      error: false,
      errors: [],
      done: false,
      assessment: {
        title: null,
        type: 1,
        summary: null,
        area: null,
        status: 1,
        start_date: null,
        end_date: null,
        delivery_date: null,
      }
    };
  },
  mounted () {
    this.$store.commit("system/setTitle", "New Assessment", { root: true });
  },
  computed: {
    ...mapState("system", {
      online: state => state.online
    }),

    validation() {
      if (this.totalErrors.length) {
        return this.totalErrors.length;
      }
      return null;
    },
    totalErrors() {
      let errors = [];
      Object.keys(this.errors).forEach(function(key) {
        errors.push(key);
      });
      return errors;
    }
  },
  methods: {
    createAssessment() {
      if (this.assessment === undefined || this.assessment === null) {
        this.error = true;
        return false;
      }

      this.error = false;

      Assessment.dispatch('submitAssessment', this.assessment).then(
        response => {
          this.loading = false;
          this.errors = response.data.errors;
          if (this.errors) {
            let text = "<ul>"
            for (let key in this.errors) {
              text += "<li>" + this.errors[key][0] + "</li>"
            }
            console.log(text)
            this.$swal({
              icon: "error",
              title: "Assessment",
              html:
                "<div class='text-left error-padding'>Please fix the following errors: " + text + "</ul></div>"
            });
          } else {
            let pivots = []
            response.data.assessment.users.forEach((user) => {
              pivots.push(user.pivot)
            })
            Assessment.$createLocally({ data: response.data.assessment })
            AssessmentUser.$createLocally({data: pivots})
            this.done = true
            this.$swal({
              icon: "success",
              title: "Good Job!",
              text: "You had created a draft assessment. Next step is invite the team and assign the beaches."
            });
            this.$router.push({ name: 'AssessmentStatus' , params: { assessmentId: response.data.assessment.id }});
          }
        },
        error => {
          console.error(error);
          this.loading = false;
          this.$swal({
            icon: "error",
            title: "Assessment",
            text: "Error saving :("
          });
        }
      );
    }
  },
  beforeRouteLeave(to, from, next) {
    if (this.done === false) {
      this.$swal({
        title: "Are you sure?",
        text: "You haven't saved this assessment!",
        icon: "question",
        showCancelButton: true,
      }).then(result => {
        if (result.value) {
          next();
        } else {
          next(false);
        }
      });
    } else {
      next();
    }
  }
};
</script>
<style scoped lang="scss">
.row {
  padding-bottom: 0.6rem;
}

.row .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sticky-offset {
  top: 45px;
}
</style>
