<template>
  <div class="row">
    <div class="col-12 pt-2">
      <h2>
        <icon
          :icon="['fal','clipboard-list-check']"
        /> Audits

        <router-link
          tag="a"
          :to="{ name: 'AuditNew' , params: { assessmentId: $route.params.assessmentId}}"
          class="btn btn-outline-primary btn-sm"
          exact-active-class="active"
          dusk="New-Audit"
          v-if="isAdmin(assessment) || isAuditor(assessment)"
        >
          <icon
            :icon="['fal','plus']"
            fw
          /> New
        </router-link>
      </h2>
    </div>
    <div
      class="col-12 pt-2"
    >
      <ul
        v-if="assessment.audits.length > 0"
        class="list-group w-100"
      >
        <li
          v-for="(audit) in assessment.audits"
          :key="audit.id"
          class="list-group-item list-group-item-action flex-column align-items-start p-0 mb-2"
        >
          <router-link
            class="text-white"
            :dusk="'Audit-' + audit.id"
            :to="{ name: 'ObjectGroupList' , params: { assessmentId: audit.assessment_id, auditId: audit.id, objectTypeId: 'beach'}}"
          >
            <div class="col-12 p-2 text-white bg-primary rounded">
              <span class="float-right">
                {{ audit.date_visit | formatDate }}
              </span>

              <h3
                class="mb-0"
              >
                {{ audit.title }}
                <small>- {{ audit.beach.title }}</small>

                <span
                  class="badge badge-danger"
                  v-if="audit.status === 0"
                >Offline
                </span>
                <span
                  class="badge badge-success"
                  v-else-if="audit.status > 0"
                >Online</span>
              </h3>
            </div>
          </router-link>
        </li>
      </ul>
      <div v-else>
        <div class="alert alert-info">
          <b>Be the first to create an audit in this assessment.</b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import { mapState, mapGetters, mapActions } from "vuex";
import { mapGetters } from "vuex";

export default {
  name: "AssessmentAudit",
  computed: {
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuditor: "auth/isAuditor"
    })
  },
  props: {
    assessmentId: {
      required: true,
      type: [String, Number]
    },
    assessment: {
      required: true,
      type: Object
    },
  },
  data() {
    return {
    };
  }
};
</script>
