<template>
  <modal
    :show="true"
    @close="onclose()"
  >
    <template v-slot:header>
      Assign Beach
    </template>

    <slot>
      <div class="row">
        <div class="col-8">
          <BeachMapPicker
            @select-beach="assignBeach"
            @unselect-beach="unassignBeach"
            :selected-beaches="this.assessment.beaches"
            :latitude="location.latitude"
            :longitude="location.longitude"
          />
        </div>
        <div class="col-4">
          <h4>Beaches assigned</h4>

          <div
            class="col-12" 
            v-for="(beach) in this.assessment.beaches"
            :key="beach.id"
          >
            {{ beach.title }} <small class="text-muted">{{ beach.key }}</small>
          </div>
        </div>
      </div>
    </slot>

    <template v-slot:footer>
      <button class="btn btn-primary">
        Save
      </button>
    </template>
  </modal>
</template>

<script>
import { mapState } from "vuex";
import Beach from '@/models/beach';
import BeachMapPicker from "@/components/Assessment/BeachMapPicker.vue";

// import { mapState, mapGetters } from "vuex";
export default {
  name: "AssessmentBeachModal",
  components: {
    BeachMapPicker
  },
  props: {
    assessment: {
      required: true,
      type: Object
    },
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    onclose() {
      this.$emit("close");
    },
    assignBeach(beach) {
      // console.log(beach)
      if (beach instanceof Beach) {
        this.assessment.beaches.push(beach.id)
      } else {
        this.assessment.beaches.push(parseInt(this.beach_id))
        this.beach_id = null
      }
    },
    unassignBeach(beach) {
      // console.log("unassign", beach);
      this.assessment.beaches = this.assessment.beaches.filter(beachId => beachId !== beach.id);
    },
    setMapCenter(center) {
      // console.log(center)
      this.mapCenter = center
    }
  },
  computed: {
    ...mapState('location', {
      location: state => state.location
    }),
  }
};
</script>
