<template>
  <div class="row">
    <div class="col-12 pt-2">
      <h2>
        <icon
          :icon="['fal','map']" 
        /> Locations
      </h2>
    </div>

    <MapDisplay
      :objects="assessment.objects"
      :assessment="assessment"
    />
  </div>
</template>

<script>
// import { mapState, mapGetters, mapActions } from "vuex";
import { mapState } from "vuex";

import MapDisplay from "@/components/Location/MapDisplay.vue";

export default {
  name: "AssessmentLocations",
  components: {
    MapDisplay
  },
  props: {
    assessmentId: {
      required: true,
      type: [String, Number]
    },
    assessment: {
      required: true,
      type: Object
    },
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState('location', {
      location: state => state.location
    }),
  },
  mounted() {
  },
  methods: {
  }
};
</script>
