<template>
  <div class="">
    <div class="row pt-2">
      <div class="col-sm-6 col-xs-12">
        <h2>
          <icon
            :icon="['fal','comments']"
          />
          Recommendations
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul
          v-if="recommendations.length > 0"
          class="list-group w-100"
        >
          <router-link
            :to=" { name: 'AuditObjectEdit' , params: { assessmentId: recommendation.audit.assessment_id, auditId: recommendation.audit.id, objectId: recommendation.auditObject.id }}"
            tag="li"
            v-for="(recommendation) in recommendations"
            :key="recommendation.id"
            class="list-group-item list-group-item-action flex-column align-items-start p-2"
            :dusk="'Recommendation-' + recommendation.id"
          >
            <span class="float-right">{{ recommendation.created_at | formatFullDate }}</span>
            <b>{{ recommendation.assessment.title }}</b> - {{ recommendation.audit.title }}<br><b>{{ recommendation.auditObject.title }}</b><br>
            {{ recommendation.text }} - {{ recommendation.user.first_name }} {{ recommendation.user.last_name }}
          </router-link>
        </ul>

        <div
          v-else
          class="col-12"
        >
          <div class="alert alert-secondary">
            No recommendations found.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Recommendation from '@/models/recommendation';

export default {
  name: "AssessmentRecommendations",
  props: {
    assessmentId: {
      required: true,
      type: [String, Number]
    },
    assessment: {
      required: true,
      type: Object
    },
  },
  computed: {
    recommendations() {
      let id = parseInt(this.assessmentId)
      return Recommendation.query().where('assessment_id', id).with('user').with('audit').with('assessment').with('auditObject').orderBy('updated_at', 'desc').all()
    },

  },
  mounted() {
  },
  methods: {
  }
};
</script>
