<template>
  <modal
    :show="show"
    @close="onclose()"
  >
    <template v-slot:header>
      Edit Audit
    </template>

    <slot>
      <form
        id="needs-validation"
        novalidate
      >
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <input-plus
              label="Title"
              v-model="auditEdit.title"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <input-plus
              label="Date of visit"
              type="date"
              placeholder="dd/mm/yyyy"
              v-model="auditEdit.date_visit"
            />
          </div>
          <div class="col-xs-12 col-sm-12">
            <input-plus
              label="Summary"
              v-model="auditEdit.summary"
            />
          </div>
        </div>

        <h3 class="pt-2">
          <icon :icon="['fal','umbrella-beach']" /> {{ auditEdit.beach.title }} <small>{{ auditEdit.beach.key }}</small>
        </h3>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_hazard_rating"
              label="Hazard rating"
              :options="this.rating"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_type"
              label="Beach Type"
              :options="types"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_fvr_development"
              label="FVR Development"
              :options="fvr_development"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_fvr_population"
              label="FVR Population"
              :options="fvr_population"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_fvr_frequency"
              label="FVR Frequency"
              :options="fvr_frequency"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_local_population"
              label="Local population Rating"
              :options="population_rate"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_human_water"
              label="Human activity population in water"
              :options="human_activity_water"
            />
          </div>
          <!-- <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_human_water_conflict"
              label="Human activity population in water conflict"
              :options="human_activity_water_conflict"
            />
          </div> -->
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_human_beach"
              label="Human activity population on beach"
              :options="human_activity_beach"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <select-plus
              v-model="auditEdit.beach_human_beach_conflict"
              label="Human activity population on beach conflict"
              :options="human_activity_beach_conflict"
            />
          </div>
        </div>
      </form>
    </slot>

    <template v-slot:footer>
      <button
        class="btn btn-primary"
        @click.prevent="cancelUpdate"
        dusk="Cancel-Update"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        @click.prevent="saveAudit"
        dusk="Save-Audit"
      >
        Save
      </button>
    </template>
  </modal>
</template>

<script>
import { mapState } from "vuex";
import Audit from "@/models/audit";

export default {
  name: "AuditEditModal",
  props: {
    auditId: {
      type: [Number, String],
      required: true
    },
    show: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    ...mapState("beach", {
      types: state => state.types
    }),
    ...mapState("audit", [
      'status', 'rating', 'population_rate', 'human_activity_beach_conflict',
      'human_activity_beach', 'human_activity_water',
      'fvr_development', 'fvr_frequency', 'fvr_population'
    ]),
  },
  watch: {
    show: {
      immediate: true,
      handler() {
        // reset to original audit details when we open or close modal
        this.auditEdit = Audit.query()
          .with("beach")
          .find(this.auditId);
      }
    }
  },
  data() {
    return {
      auditEdit: null
    }
  },
  methods: {
    onclose() {
      this.$emit("close");
    },
    cancelUpdate() {
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to cancel? Any unsaved changes may be lost.",
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.$emit("close");
        } else {
          return false
        }
      })
    },
    saveAudit() {
      if (this.auditEdit === undefined || this.auditEdit === null) {
        this.error = true;
        return false;
      }

      this.error = false;
      Audit.dispatch('updateAudit', this.auditEdit).then(
        response => {
          this.loading = false;
          this.errors = response.data.errors;
          if (this.errors) {
            let text = "<ul>"
            for (let key in this.errors) {
              text += "<li>" + this.errors[key][0] + "</li>"
            }
            this.$swal({
              icon: "error",
              title: "Audit",
              html: "<div class='text-left error-padding'>Please fix the following errors: " + text + "</ul></div>"
            });
          } else {
            this.done = true
            this.$swal({
              icon: "success",
              title: "Audit updated"
            });
            this.$emit("close");
          }
        },
        error => {
          console.error(error);
          this.loading = false;
          this.$swal({
            icon: "error",
            title: "Audit",
            text: "Error saving :("
          });
        }
      );
    }
  }
};
</script>
