<template>
  <div
    class="row pb-1"
    v-if="audit"
  >
    <div class="row bg-light pt-2 m-2 rounded">
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>Hazard rating</small>
        <br>
        <b v-if="rating.find(stat => stat.value == audit.beach_hazard_rating)">
          {{ rating.find(stat => stat.value == audit.beach_hazard_rating).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>Beach Type</small>
        <br>
        <b v-if="types.find(stat => stat.value == audit.beach_type)">
          {{ types.find(stat => stat.value == audit.beach_type).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6">
        <small>FVR Development</small>
        <br>
        <b v-if="fvr_development.find(stat => stat.value == audit.beach_fvr_development)">
          {{ fvr_development.find(stat => stat.value == audit.beach_fvr_development).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>FVR Population</small>
        <br>
        <b v-if="fvr_population.find(stat => stat.value == audit.beach_fvr_population)">
          {{ fvr_population.find(stat => stat.value == audit.beach_fvr_population).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>FVR Frequency</small>
        <br>
        <b v-if="fvr_frequency.find(stat => stat.value == audit.beach_fvr_frequency)">
          {{ fvr_frequency.find(stat => stat.value == audit.beach_fvr_frequency).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>Local population Rating</small>
        <br>
        <b v-if="population_rate.find(stat => stat.value == audit.beach_local_population)">
          {{ population_rate.find(stat => stat.value == audit.beach_local_population).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>Human activity population in water</small>
        <br>
        <b v-if="human_activity_water.find(stat => stat.value == audit.beach_human_water)">
          {{ human_activity_water.find(stat => stat.value == audit.beach_human_water).text }}
        </b>
        <span v-else>-</span>
      </div>
      <div class="col-xs-12 col-sm-6 pb-2">
        <small>Human activity population on beach</small>
        <br>
        <b v-if="human_activity_beach.find(stat => stat.value == audit.beach_human_beach)">
          {{ human_activity_beach.find(stat => stat.value == audit.beach_human_beach).text }}
        </b>
        <span v-else>-</span>
      </div>
    </div>

    <div
      class="col-8 pt-2"
    >
      <h4>
        <icon
          aria-hidden="true"
          :icon="['fal','exclamation-triangle']"
        />
        Top Risks
      </h4>
      <ul
        v-if="audit.risks && audit.risks.length > 0"
        class="list-group w-100 pb-2"
      >
        <router-link
          :to=" { name: 'AuditObjectEdit' , params: { assessmentId: audit.assessment_id, auditId: audit.id, objectId: risk.auditObject.id }}"
          tag="li"
          v-for="(risk, i) in risks"
          :key="i"
          class="list-group-item list-group-item-action flex-column align-items-start p-1 b-0 mb-1"
          :class="{ 'hidden': (i > 5)} "
        >
          <b>{{ risk.title }}</b> <AuditObjectRiskLevel :risk-score="risk.score" /><br>
          {{ risk.auditObject.title }}<br>
        </router-link>
      </ul>

      <!-- <h4>
            <icon
              aria-hidden="true"
              :icon="['fal','comments']"
            /> Latests Comments
          </h4>
          <ul
            v-if="audit.comments.length > 0"
            class="list-group w-100"
          >
            <router-link
              :to=" { name: 'AuditObjectEdit' , params: { assessmentId: audit.assessment_id, auditId: audit.id, objectId: comment.auditObject.id }}"
              tag="li"
              v-for="(comment, i) in comments"
              :key="i"
              class="list-group-item list-group-item-action flex-column align-items-start p-1 b-0 mb-1"
              :class="{ 'hidden': (i > 5)} "
            >
              <span class="float-right">{{ comment.updated_at | formatFullDate }}</span>
              {{ comment.text }} - {{ comment.user.first_name }} {{ comment.user.last_name }}<br>
            </router-link>
          </ul> -->
    </div>

    <div
      class="col-4 pt-2"
    >
      <h4>Stats</h4>
      <icon
        aria-hidden="true"
        :icon="['fal','photo-video']"
      />
      Media: {{ audit.media.length }}<br>
      <icon
        aria-hidden="true"
        :icon="['fal','comments']"
      />
      Comments: {{ audit.comments.length }}<br>
      <icon
        aria-hidden="true"
        :icon="['fal','exclamation-triangle']"
      />
      Risks: {{ audit.risks.length }}<br>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AuditObjectRiskLevel from "@/components/AuditObject/AuditObjectRiskLevel.vue";

export default {
  name: "AuditBeach",
  props: {
    audit: {
      type: Object,
      required: true
    }
  },
  components: {
    AuditObjectRiskLevel
  },
  computed: {
    ...mapState("beach", [
      'types'
    ]),
    ...mapState("audit", [
      'status', 'rating', 'population_rate',
      'human_activity_beach', 'human_activity_water',
      'fvr_development', 'fvr_frequency', 'fvr_population'
    ]),

    risks() {
      return _.sortBy(this.audit.risks,'score').reverse()
    }
  },
  methods: {
  }
};
</script>
