<template>
  <div />
</template>

<script>
// import { mapState } from "vuex";

export default {
  name: "AuditRisks",
  props: {
    audit: {
      type: Object,
      required: true
    }
  },
  computed: {
  },
  methods: {
  }
};
</script>