<template>
  <div
    class="col-12 bg-primary fixed-top pt-2 animated fadeIn faster audit-header"
    v-if="audit"
  >
    <h3 class="text-white">
      {{ audit.title }}

      <small>- {{ audit.beach.title }}</small>
      <a
        href="#"
        class="btn btn-link text-white"
        @click.prevent="showEditAuditModal = true"
        dusk="Audit-Edit"
        v-if="isAdmin(audit) || isAuditor(audit)"
      >
        <icon :icon="['fal','edit']" />
      </a>

      <span
        class="badge badge-danger"
        v-if="audit.status === 0"
      >Offline</span>
      <span
        class="badge badge-success"
        v-else-if="audit.status >= 0"
      >Online</span>

      <span class="float-right text-white">{{ audit.date_visit | formatDate }}</span>
    </h3>

    <div
      class="nav nav-buttons bg-primary"
    >
      <!-- <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType === 'risks'}"
        href="#"
        @click.prevent="selectType('beach')"
        dusk="Audit-Risks"
      >
        <icon
          :icon="['fal','exclamation-triangle']"
          size="2x"
        />
        <br>Risks
      </a> -->
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType === 'beach'}"
        href="#"
        @click.prevent="selectType('beach')"
        dusk="Audit-Beach"
      >
        <icon
          :icon="['fal','clipboard-list-check']"
          size="2x"
        />
        <br>Beach
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType === 'map'}"
        href="#"
        @click.prevent="selectType('map')"
        dusk="Audit-Map"
      >
        <icon
          :icon="['fal','map']"
          size="2x"
        />
        <br>Map
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 6}"
        href="#"
        @click.prevent="selectType(6)"
        dusk="Audit-Access"
      >
        <icon
          :icon="['fal','road']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[6] }}</span>
        <br>Access
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 1}"
        href="#"
        @click.prevent="selectType(1)"
        dusk="Audit-Activities"
      >
        <icon
          :icon="['fal','volleyball-ball']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[1] }}</span>
        <br>Act./Users
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 19}"
        href="#"
        @click.prevent="selectType(19)"
        dusk="Audit-Services"
      >
        <icon
          :icon="['fal','flag']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[19] }}</span>
        <br>Services
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 13}"
        href="#"
        @click.prevent="selectType(13)"
        dusk="Audit-Support"
      >
        <icon
          :icon="['fal','siren-on']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[13] }}</span>
        <br>Support
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 12}"
        href="#"
        @click.prevent="selectType(12)"
        dusk="Audit-Equipment"
      >
        <icon
          :icon="['fal','life-ring']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[12] }}</span>
        <br>Equip.
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 14}"
        href="#"
        @click.prevent="selectType(14)"
        dusk="Audit-Facilities"
      >
        <icon
          :icon="['fal','restroom']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[14] }}</span>
        <br>Facilities
      </a>
      <a
        class="p-1 nav-item nav-link text-center ml-auto"
        :class="{'active': this.currentObjectType == 16}"
        href="#"
        @click.prevent="selectType(16)"
        dusk="Audit-Hazards"
      >
        <icon
          :icon="['fal','exclamation-triangle']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[16] }}</span>
        <br>Hazards
      </a>
      <a
        class="p-1 nav-item nav-link text-center"
        :class="{'active': this.currentObjectType == 28}"
        href="#"
        @click.prevent="selectType(28)"
        dusk="Audit-Signages"
      >
        <icon
          :icon="['fal','map-signs']"
          size="2x"
        />
        <span class="badge badge-light">{{ typesCounter[28] }}</span>
        <br>Signs
      </a>
    </div>
    <AuditEditModal
      :audit-id="audit.id"
      @close="showEditAuditModal = false"
      :show="showEditAuditModal"
    />
  </div>
</template>

<script>
import AuditEditModal from "@/components/Audit/AuditEditModal.vue";
import { mapGetters } from "vuex";

export default {
  name: "AuditHeader",
  components: {
    AuditEditModal
  },
  props: {
    audit: {
      type: Object,
      required: true
    },
    currentObjectType: {
      type: [Number, String],
      default: ''
    }
  },
  data() {
    return {
      showEditAuditModal: false
    };
  },
  methods: {
    selectType(selectedType) {
      //if (selectedType !== parseInt(this.currentObjectType)) {
      this.$router.push({ name: 'ObjectGroupList' , params: { assessmentId: this.audit.assessment_id, auditId: this.audit.id, objectTypeId: selectedType }});
      // }
    }
  },
  computed: {
    typesCounter: function() {
      return _.countBy(this.audit.objects, 'type_id')
    },
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuditor: "auth/isAuditor"
    }),
  }
};
</script>

<style scoped>
a:hover {
  text-decoration: none;
}

.beach-details  h3 {
  color:white;
}
.audit-header {
  position: sticky; top: 45px; height: 106px;
}
</style>
