<template>
  <div class="v-autocomplete">
    <div
      class="v-autocomplete-input-group is-invalid"
      :class="{'v-autocomplete-selected': value}"
    >
      <input
        v-model="searchText"
        type="text"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="none"
        spellcheck="false"
        v-bind="inputAttrs"
        :class="inputAttrs.class || inputClass"
        :placeholder="inputAttrs.placeholder || placeholder"
        :disabled="inputAttrs.disabled || disabled"
        @blur="blur"
        @focus="focus"
        @input="inputChange"
        @keyup.enter="keyEnter"
        @keydown.enter.prevent=""
        @keydown.tab="keyEnter"
        @keydown.up="keyUp"
        @keydown.down="keyDown"
      >
    </div>

    <div
      v-if="show"
      class="v-autocomplete-list"
    >
      <div
        v-for="(item, i) in internalItems"
        :key="i"
        class="v-autocomplete-list-item"
        :class="{'v-autocomplete-item-active': i === cursor}"
        @click="onClickItem(item)"
        @mouseover="cursor = i"
      >
        <div
          :dusk="'Autocomplete-'+i"
          :is="componentItem"
          :item="item"
          :search-text="searchText"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Item from '@/components/Autocomplete/Item.vue'
import utils from '@/components/Autocomplete/utils.js'

export default {
  name: 'Autocomplete',
  props: {
    componentItem: { default: () => Item, type: Object },
    minLen: { type: Number, default: utils.minLen },
    wait: { type: Number, default: utils.wait },
    value: { type: [ Number, String ], default: null },
    getLabel: {
      type: Function,
      default: item => item
    },
    items: { type: Array, default: null },
    autoSelectOneItem: { type: Boolean, default: false },
    placeholder: { type: String, default: null },
    inputClass: { type: String, default: 'v-autocomplete-input' },
    disabled: { type: Boolean, default: false },
    inputAttrs: { type: Object, default: () => { return {} } },
    keepOpen: { type: Boolean, default: false }
  },
  data () {
    return {
      searchText: '',
      showList: false,
      cursor: -1,
      internalItems: this.items || []
    }
  },
  computed: {
    hasItems () {
      return !!this.internalItems.length
    },
    show () {
      return (this.showList && this.hasItems) || this.keepOpen
    }
  },
  watch: {
    items (newValue) {
      this.setItems(newValue)
      let item = utils.findItem(this.items, this.searchText, this.autoSelectOneItem)
      if (item) {
        this.onSelectItem(item)
        this.showList = false
      }
    },
    value (newValue) {
      if (!this.isSelectedValue(newValue)) {
        this.onSelectItem(newValue)
        this.searchText = this.getLabel(newValue)
      }
    }
  },
  created () {
    utils.minLen = this.minLen
    utils.wait = this.wait
    this.onSelectItem(this.value)
  },
  methods: {
    inputChange (e) {
      if (e.target.value !== this.searchText) {
        this.searchText = e.target.value
      }
      this.showList = true
      this.cursor = -1
      this.onSelectItem(null, 'inputChange')
      utils.callUpdateItems(this.searchText, this.updateItems)
      this.$emit('change', this.searchText)
    },

    clearInput () {
      this.searchText = ''
      this.setItems([])
    },

    updateItems () {
      this.$emit('update-items', this.searchText)
    },

    focus () {
      this.$emit('focus', this.searchText)
      if (this.items.length !== 0) {
        this.showList = true
      }
    },

    blur () {
      this.$emit('blur', this.searchText)
      setTimeout(() => { this.showList = false }, 200)
    },
    onClickItem (item) {
      this.onSelectItem(item)
      this.$emit('item-clicked', item)
    },

    onSelectItem (item) {
      if (item) {
        this.internalItems = [item]
        this.searchText = this.getLabel(item)
        this.$emit('item-selected', item)
      } else {
        this.setItems(this.items)
      }
      this.$emit('input', item)
    },

    setItems (items) {
      this.internalItems = items || []
    },

    isSelectedValue (value) {
      return this.internalItems.length === 1 && value === this.internalItems[0]
    },

    /* eslint-disable no-unused-vars */
    keyUp (e) {
      if (this.cursor > -1) {
        this.cursor--
        this.itemView(this.$el.getElementsByClassName('v-autocomplete-list-item')[this.cursor])
      }
    },

    keyDown (e) {
      if (this.cursor < this.internalItems.length) {
        this.cursor++
        this.itemView(this.$el.getElementsByClassName('v-autocomplete-list-item')[this.cursor])
      }
    },

    keyEnter (e) {
      if (this.showList && this.internalItems[this.cursor]) {
        this.onSelectItem(this.internalItems[this.cursor])
        this.showList = false
      }
    },
    /* eslint-enable no-unused-vars */

    itemView (item) {
      if (item && item.scrollIntoView) {
        item.scrollIntoView(false)
      }
    }


  }
}
</script>

<style>
  .v-autocomplete {
    position: relative;
  }
  .v-autocomplete .v-autocomplete-list {
    position: absolute;
  }
  .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer;
  }
  .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item.v-autocomplete-item-active {
    background-color: #f3f6fa;
    color: black;
  }
</style>
