<template>
  <div>
    <span>{{ item.first_name }}</span>
    <abbr>{{ item.last_name }}</abbr>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
      default: function () {}
    }
  }
}
</script>
