<template>
  <div class="col-12">
    <p>
      Width (m): {{ widthAsOptions[object.metadata.width] }}
    </p>
    <p>
      Gradient: {{ gradientAsOptions[object.metadata.gradient] }}
    </p>
    <p>
      Condition: {{ conditionAsOptions[object.metadata.condition] }}
    </p>
    <p>
      Surface: {{ surfaceAsOptions[object.metadata.surface] }}
    </p>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AccessMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState("database", {
      accessGradient: state => state.object_subtypes.accessGradient,
      accessSurface: state => state.object_subtypes.accessSurface,
      accessWidth: state => state.object_subtypes.accessWidth,
      accessCondition: state => state.object_subtypes.accessCondition
    }),
    widthAsOptions() {
      const widthOptions = {}
      if (this.accessWidth.length > 0) {
        _.forEach(this.accessWidth, (width) => {
          widthOptions[width.value] = width.text;
        });
      }
      return widthOptions;
    },
    surfaceAsOptions() {
      const surfaceOptions = {}
      if (this.accessSurface.length > 0) {
        _.forEach(this.accessSurface, (surface) => {
          surfaceOptions[surface.value] = surface.text;
        });
      }
      return surfaceOptions;
    },
    conditionAsOptions() {
      const conditionOptions = {}
      if (this.accessCondition.length > 0) {
        _.forEach(this.accessCondition, (condition) => {
          conditionOptions[condition.value] = condition.text;
        });
      }
      return conditionOptions;
    },
    gradientAsOptions() {
      const gradientOptions = {}
      if (this.accessGradient.length > 0) {
        _.forEach(this.accessGradient, (gradient) => {
          gradientOptions[gradient.value] = gradient.text;
        });
      }
      return gradientOptions;
    },
  },
  methods: {

  }
};
</script>
