<template>
  <div class="col-12">
    <p>
      Count: {{ object.metadata.count }}
    </p>
    <p>
      Distance (m): {{ object.metadata.distance }}
    </p>
    <p>
      Manager: {{ object.metadata.manager }}
    </p>
    <p>
      Manager's Phone: {{ object.metadata.manager_phone }}
    </p>
  </div>
</template>

<script>
export default {
  name: "CarParkMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
