<template>
  <div class="col-12">
    <p>
      Distance (km): {{ object.metadata.distance }}
    </p>
    <p>
      Response Time (m): {{ object.metadata.response_time }}
    </p>
  </div>
</template>

<script>
export default {
  name: "EmergencyMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
