<template>
  <div class="w-100">
    <div class="row">
      <div class="pl-4 col-xs-12 col-sm-6">
        Signs
      </div>
    </div>
    <div class="w-100">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col-7">
                Eban
              </th>
              <th scope="col-4">
                Type
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(sign, i) in object.metadata.signs"
              :key="i"
            >
              <td>{{ sign.eban }}</td>
              <td>
                <span>{{ signsValues[sign.type] }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "HazardsMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState("database", {
      signTypes: state => state.object_subtypes.signs
    }),
    signsValues() {
      var values = {};
      if (this.signTypes.length > 0) {
        _.forEach(this.signTypes, function(sign) {
          values[sign.value] = sign.text
        });
      }
      return values;
    }
  },
  methods: {

  }
};
</script>
