<template>
  <div class="col-12">
    <p>
      Manager: {{ object.metadata.manager }}
    </p>
    <p>
      Provider: {{ object.metadata.provider }}
    </p>
  </div>
</template>

<script>
export default {
  name: "LifeSavingMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
