<template>
  <div class="col-12">
    <p>
      Spacing (m): {{ object.metadata.spacing }}
    </p>
  </div>
</template>

<script>
export default {
  name: "RipMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {

  },
  methods: {

  }
};
</script>
