<template>
  <div class="w-100">
    <div class="row">
      <div class="pl-4 col-xs-12 col-sm-6">
        Symbols
      </div>
    </div>
    <div class="w-100">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr /><tr>
              <th scope="col-7">
                Symbol
              </th>
              <th scope="col-4">
                Type
              </th>
              <th scope="col-4">
                Classification
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(symbol, i) in object.metadata.symbols"
              :key="i"
            >
              <td>{{ symbol.symbol }}</td>
              <td>
                <span>{{ symbolsValues[symbol.type] }}</span>
              </td>
              <td>
                <span>{{ classificationsValues[symbol.classification] }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "SignageMetadata",
  props: {
    object: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState("database", {
      symbolTypes: state => state.object_subtypes.symbols,
      classifications: state => state.object_subtypes.classifications
    }),
    symbolsValues() {
      var values = {};
      if (this.symbolTypes.length > 0) {
        _.forEach(this.symbolTypes, function(sign) {
          values[sign.value] = sign.text
        });
      }
      return values;
    },
    classificationsValues() {
      var values = {};
      if (this.classifications.length > 0) {
        _.forEach(this.classifications, function(sign) {
          values[sign.value] = sign.text
        });
      }
      return values;
    }
  },
  methods: {

  }
};
</script>
