<template>
  <div class="form-group row">
    <div class="col-6 label">
      {{ this.label }}
      <!--<div class="invalid-help">This field required.</div>-->
    </div>
    <div class="col-6 input-group">
      <input
        type="time"
        :class="{'is-invalid': isError}"
        class="form-control input-time"
        :disabled="disabled"
        :value="value"
        placeholder="__:__ __"
        aria-describedby="btnGroupAddon"
        @input="input($event)"
        @change="change($event)"
        :dusk="dusk"
      >
      <span
        id="btnGroupAddon"
        class="input-group-append"
        @focus="$event.target.select()"
      >
        <span class="input-group-text">
          <icon
            :icon="['fal','clock']"
            aria-hidden="true"
          />
        </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Clock',
  props: {
    label: {
      default: 'Label',
      type: String
    },
    dusk: {
      default: null,
      type: String
    },
    value: {
      type: [String, Number],
      default: ''
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isError () {
      if (this.required) {
        if (this.value === '' || this.value === null || this.value === undefined) {
          return true
        }
      }
      return false
    }
  },
  methods: {
    input (event) {
      this.$emit('input', event.target.value)
    },
    change (event) {
      this.$emit('change', event.target.value)
    }
  }
}
</script>
<style scoped>
.input-time {
  padding: 0.3rem;
}

.form-control.is-danger {
  border: 1px solid map_get($theme_colors, 'primary');
}

.row .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>
