<template>
  <div class="form-group row">
    <div
      class="col-6 label"
      v-html="label"
    />
    <div class="col-6">
      <div class="input-group">
        <span
          class="input-group-prepend"
          @click.prevent="reductionCounter()"
        >
          <span class="input-group-text">
            <icon
              :icon="['fal','minus']"
              aria-hidden="true"
            />
          </span>
        </span>
        <input
          type="number"
          class="form-control text-center"
          :value="inputValue"
          :dusk="dusk"
          :max="max"
          :step="step"
          @input="input($event)"
          @change="change($event)"
          :class="{'is-invalid': isError}"
          :disabled="disabled"
        >
        <span
          class="input-group-append"
          @click.prevent="incrementCounter()"
        >
          <span class="input-group-text">
            <icon
              :icon="['fal','plus']"
              aria-hidden="true"
            />
          </span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Counter',
  props: {
    label: {
      default: 'Label',
      type: String
    },
    dusk: {
      default: null,
      type: String
    },
    value: {
      type: [String, Number],
      default: ''
    },
    max: {
      type: Number,
      default: 9999
    },
    step: {
      type: Number,
      default: 1
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      delay: 500,
      timer: null,
      inputValue: null
    }
  },
  watch: {
    value () {
      this.inputValue = this.value
    }
  },
  computed: {
    isError () {
      if (this.required) {
        if (this.inputValue === '' || this.inputValue === null || this.inputValue === undefined) {
          return true
        }
      }
      return false
    }
  },
  created () {
    this.inputValue = parseFloat(this.value) || null
  },
  methods: {
    input (event) {
      if (this.max !== null && parseInt(event.target.value) >= this.max) {
        this.inputValue = this.max
      } else {
        this.inputValue = event.target.value
      }
      this.$emit('input', this.inputValue)
    },
    change (event) {
      if (this.max !== null && parseInt(event.target.value) >= this.max) {
        this.inputValue = this.max
      } else {
        this.inputValue = event.target.value
      }
      this.$emit('change', this.inputValue)
    },
    incrementCounter () {
      this.inputValue = parseFloat(this.inputValue) || 0
      if (this.max !== null && this.inputValue >= this.max) this.inputValue = this.max
      if (!this.disabled) {
        this.inputValue = this.inputValue + 1
        clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          this.$emit('input', this.inputValue)
        }, this.delay) // 1s
      }
    },
    reductionCounter () {
      this.inputValue = parseFloat(this.inputValue) || 0
      if (this.max !== null && this.inputValue >= this.max) this.inputValue = this.max
      if (this.inputValue > 0 && !this.disabled) {
        this.inputValue = parseFloat(this.inputValue) - 1
        clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          this.$emit('input', this.inputValue)
        }, this.delay) // 1s
      }
    }
  }
}
</script>
<style scoped>
    .row .label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>
