<template>
  <div>
    <select
      v-model="entityFilter"
      class="form-control custom-select"
      @change="entityChanged"
    >
      <option
        v-for="entity in entitiesSorted"
        :key="entity.key"
        :value="entity.key"
      >
        {{ entity.value }}
      </option>
    </select>
    <!--    <pre>-->
    <!--      {{ entitiesSorted }}-->

    <!--      {{ entities }}-->
    <!--    </pre>-->
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  props: {
    type: {
      default: 'entities',
      type: String
    }
  },
  data () {
    return {
      entityFilter: null
    }
  },
  computed: {
    entitiesSorted () {
      let entities = this.entities
      if (this.type === 'entitiesFamily') {
        entities = this.entitiesFamily
      } else if (this.type === 'fullEntities') {
        entities = this.fullEntities
      }

      let sorted = _.sortBy(
        _.toPairs(entities), 1
      )

      let sortedObject = []
      sorted.forEach(function (value) {
        let item = {}
        item.key = value[0]
        item.value = value[1]
        sortedObject.push(item)
      })

      return sortedObject
    },
    ...mapGetters({
      selected_entity: 'auth/selected_entity'
    }),
    ...mapGetters({
      entitiesInspector: 'auth/entitiesInspector',
      entitiesFamily: 'auth/entitiesFamily',
      entities: 'auth/entities'
    }),
    fullEntities () {
      return Object.assign({}, this.entities, this.entitiesInspector)
    }
  },
  methods: {
    ...mapMutations('auth', ['setSelectedEntity']),
    entityChanged () {
      var selectedEntity = {}
      selectedEntity.id = this.entityFilter
      selectedEntity.title = this.entities[this.entityFilter]
      this.setSelectedEntity(selectedEntity)
    }
  },
  mounted () {
    this.entityFilter = this.selected_entity.id
  }
}
</script>
