<template>
  <div class="input-group">
    <span
      class="input-group-prepend"
      @click.prevent="reductionCounter"
    >
      <span class="input-group-text">
        <icon
          :icon="['fal','minus']"
          aria-hidden="true"
        />
      </span>
    </span>
    <input
      type="number"
      :value="this.inputValue"
      class="form-control text-center"
      :class="{'is-invalid': isError}"
      :disabled="disabled"
      :dusk="dusk"
      @input="input($event)"
      @change="change($event)"
    >
    <span
      class="input-group-append"
      @click.prevent="incrementCounter"
    >
      <span class="input-group-text">
        <icon
          :icon="['fal','plus']"
          aria-hidden="true"
        />
      </span>
    </span>
  </div>
</template>

<script>
export default {
  name: 'InputCounter',
  props: {
    label: {
      default: 'Label',
      type: String
    },
    dusk: {
      default: null,
      type: String
    },
    value: {
      type: [String, Number],
      default: ''
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    offset: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      delay: 800,
      timer: null,
      inputValue: null
    }
  },
  computed: {
    isError () {
      if (this.required) {
        if (this.inputValue === '' || this.inputValue === null || this.inputValue === undefined) {
          return true
        }
      }
      return false
    }
  },
  created () {
    this.inputValue = parseFloat(this.value) || null
  },
  methods: {
    input (event) {
      this.$emit('input', event.target.value)
    },
    change (event) {
      this.$emit('change', event.target.value)
    },
    incrementCounter () {
      this.inputValue = parseFloat(this.inputValue) || 0
      if (!this.disabled) {
        this.inputValue = (this.inputValue + this.offset).toFixed(2)
        clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          this.$emit('input', this.inputValue)
        }, this.delay) // 1s
      }
    },
    reductionCounter () {
      this.inputValue = parseFloat(this.inputValue) || 0
      if (this.inputValue > 0 && !this.disabled) {
        this.inputValue = (parseFloat(this.inputValue) - this.offset).toFixed(2)
        clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          this.$emit('input', this.inputValue)
        }, this.delay) // 1s
      }
    }
  }
}
</script>
