<template>
  <label
    class="btn btn-primary btn-sm"
  >
    <icon
      aria-hidden="true"
      :icon="['fal','plus']"
    />
    Add
    <input
      v-if="isAndroidWebView"
      type="button"
      name=""
      style="display:none"
      @click="sourcePrompt"
    >
    <input
      ref="file"
      type="file"
      name=""
      :multiple="!androidCameraToggle"
      :capture="androidCameraToggle"
      :accept="[androidCameraToggle ? 'image/*' : 'image/*;capture=camera']"
      style="display:none"
      @change="addImage"
    >
    <icon
      v-if="loading"
      :icon="['fal','sync']"
      :class="{'fa-spin' : loading}"
      aria-hidden="true"
    />
    <canvas
      ref="canvas"
      style="display:none"
    />
  </label>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import EXIF from 'exif-js'
import moment from 'moment'
export default {
  name: 'InputMedia',
  props: {
    media: {
      type: Array,
      default: null
    },
    auditObject: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      androidCameraToggle: false,
      hasAutoRotate: true,
      loading: false,
      smallWidth: 2000,
      smallHeight: 2000
    }
  },
  computed: {
    ...mapState("system", [
      'app_online','network_online','network_offline'
    ]),
    cordova () {
      return Vue.cordova
    },
    auditStatus () {
      return parseInt(this.auditObject.audit.status)
    },
    isAndroidWebView () {
      if (window.Capacitor !== undefined) {
        return window.Capacitor.isAndroid
      }
      return false
    }
  },
  async created () {
    this.hasAutoRotate = await this.browserAutoRotates()
  },
  methods: {
    ...mapActions('media', ['createMedia']),
    getSize (data) {
      var base64str = data.split('base64,')[1]
      var decoded = atob(base64str)
      return decoded.length
    },
    finalize(data,name) {
      // Deal  with resize
      // we offline && is Image - lets resize 
      // auditStatus 1 online 0 offline
      if(!this.auditStatus && this.isImage(data))  {
        // this.$log.debug(name+" InputMedia resizing promise WE are in offline - resize")
        // we set the main image data to resize here and after we save it
        let self = this
        this.resize(data)
          .then(function (resizedData) {
            // self.$log.debug(name+"InputMedia completed file original size: "+self.getSize(data) +" VS " +self.getSize(resizedData))
            self.createLocalMedia(resizedData,name)
          })
          .catch(function (originalData) {
            // failed or too small
            // self.$log.debug("InputMedia resize not needed size: "+self.getSize(originalData))
            self.createLocalMedia(originalData, name)
          })
      } else {
        // this.$log.debug(name+"InputMedia NOT resising we are online || not image")
        // save to db now
        this.createLocalMedia(data,name)
      }
    },
    isImage (data) {
      return data.startsWith("data:image")
    },
    // resize image 
    resize (img) {
      return new Promise((resolve, reject) => {
        let tempImage = new Image()
        let self = this
        tempImage.onload = function () {
          // self.$log.debug('InputMedia resize Image on Load')
          // const smallCanvas = document.createElement('canvas')
          var smallCanvas = document.createElement('canvas')
          //let smallCanvas = self.$refs.canvas
          let smallCtx = smallCanvas.getContext('2d')
          // smallCtx.clearRect(0, 0, tempImage.width, tempImage.height)
          // self.$log.debug("InputMedia @resize original w "+tempImage.width+ "h "+tempImage.height)
          if (tempImage.width < self.smallWidth && tempImage.height < self.smallHeight) {
            // self.$log.debug("InputMedia @resize too small not reising")
            return reject(tempImage.src)
          }
          // resize only if bigger then 2000 pixels?
          if (tempImage.width > self.smallWidth && tempImage.width > tempImage.height) {
            // self.$log.debug("InputMedia @resize reising as its width bigger then 2k")
            smallCanvas.width = self.smallWidth
            smallCanvas.height = 3 * self.smallWidth / 4; // tempImage.height * 0.2   
            // self.$log.debug("InputMedia @resize new width "+smallCanvas.width+" height "+smallCanvas.height)
          } else if (tempImage.height > self.smallHeight) {
            // self.$log.debug("InputMedia @resize reising as its height bigger  then 2k")
            smallCanvas.height = self.smallHeight 
            smallCanvas.width =  3 * self.smallHeight / 4; // tempImage.height * 0.2   
            // self.$log.debug("InputMedia @resize new width "+smallCanvas.width+" height "+smallCanvas.height)
          }
          smallCtx.drawImage(tempImage, 0, 0, smallCanvas.width, smallCanvas.height)
          // self.$log.debug('InputMedia resize Image on Done')
          return resolve(smallCanvas.toDataURL('image/jpeg', 0.90))
        }
        tempImage.src = img
      })
      
    },
    orientation (img, exifdata) {
      // Set variables
      let canvas = this.$refs.canvas
      let ctx = canvas.getContext('2d')
      let exifOrientation = exifdata.Orientation
      let width = exifdata.PixelXDimension
      let height = exifdata.PixelYDimension
      // this.$log.debug('Exif orientation: ' + exifOrientation)
      // this.$log.debug('Image: ', img)
      // this.$log.debug('File: ', file)
      // this.$log.debug('Width: ', width)
      // this.$log.debug('Height: ', height)
      // ctx.clearRect(0, 0, width, height)
      // set proper canvas dimensions before transform & export
      if (exifOrientation >= 5) {
        canvas.width = height
        canvas.height = width
      } else {
        canvas.width = width
        canvas.height = height
      }

      // transform context before drawing image
      switch (exifOrientation) {
      case 2:
        ctx.transform(-1, 0, 0, 1, width, 0)
        break
      case 3:
        ctx.transform(-1, 0, 0, -1, width, height)
        break
      case 4:
        ctx.transform(1, 0, 0, -1, 0, height)
        break
      case 5:
        ctx.transform(0, 1, 1, 0, 0, 0)
        break
      case 6:
        ctx.transform(0, 1, -1, 0, height, 0)
        break
      case 7:
        ctx.transform(0, -1, -1, 0, height, width)
        break
      case 8:
        ctx.transform(0, -1, 1, 0, 0, width)
        break
      default:
        ctx.transform(1, 0, 0, 1, 0, 0)
      }
      // Draw img into canvas
      ctx.drawImage(img, 0, 0, width, height)
      return canvas.toDataURL('image/jpeg')
    },
    openFinder () {
      if (this.cordova) {
        this.camera()
      } else {
        this.$refs.file.click()
      }
    },
    camera () {
      let cameraOptions = {
        quality: 80,
        destinationType: Camera.DestinationType.DATA_URL,
        sourceType: window.device.isVirtual ? Camera.PictureSourceType.PHOTOLIBRARY : Camera.PictureSourceType.CAMERA,
        allowEdit: false,
        encodingType: Camera.EncodingType.JPEG,
        mediaType: Camera.MediaType.PICTURE,
        correctOrientation: true,
        // targetWidth: 640,
        // targetHeight: 480,
        cameraDirection: Camera.Direction.BACK,
        saveToPhotoAlbum: false
      }
      if (navigator.camera !== undefined) {
        navigator.camera.getPicture(this.cameraSuccess, this.cameraError, cameraOptions)
      } else {
        // this.$log.debug('No camera')
        // Camera.PictureSourceType.PHOTOLIBRARY
      }
    },
    // Corvoa stuff TODO
    cameraCleanup () {
      navigator.camera.cleanup()
    },
    cameraSuccess (data) {
      this.$log.debug('Camera done', data)
      // this.imageData = 'data:image/jpeg;base64,' + data
      // this.$emit('update:image', this.imageData)
    },
    cameraError (message) {
      // this.$log.debug('Failed because: ', message)
      this.$swal({
        icon: 'error',
        title: 'Error opening Camera',
        text: message
      })
    },
    // action to create indexDB | API 
    createLocalMedia (data,name) {
      // get image filename
      let self = this
      // let name = this.$refs.file.value.split(/(\\|\/)/g).pop()
      // Read image as base64 and set to imageData
      // this.$log.debug("InputMedia about to saveImage with size: "+this.getSize(data))      
      let payload = {
        url: data, //e.target.result,
        size: this.getSize(data),
        name: name,
        assessment_id: this.auditObject.assessment_id,
        beach_id: this.auditObject.beach_id,
        audit_id: this.auditObject.audit_id,
        audit_object_id: this.auditObject.id,
        object_type_id: this.auditObject.type_id,
        user_id: this.auditObject.user_id,
        created_at: moment().format(),
        updated_at: moment().format(),
        audit_status:  this.auditStatus
      }
      
      this.createMedia(payload).then(() => {
        // self.$log.info("InputMedia createMedia done 👍🏻")
        self.loading = false
        self.$refs.file.value = ''
      }).catch(function (error) {
        console.error("InputMedia createMedia error", error)
        self.loading = false
        self.$refs.file.value = ''
        self.$swal({
          icon: 'error',
          title: error,
          text: 'Image could not be saved correctly'
        })
      })
    },
    // method to call on CHANGE
    addImage (event) {
      this.loading = true;
      let self = this
      // Reference to the DOM input element
      var input = event.target
      // this.$log.debug("InputMedia we got "+this.$refs.file.files.length+" files")
      for (var i = 0; i < this.$refs.file.files.length; i++) {
        let file = input.files[i]
        if (file) {
          // create a new FileReader to read this image and convert to base64 format
          var reader = new FileReader()
          // Define a callback function to run, when FileReader finishes its job
          reader.onload = (e) => {
            let data = e.target.result
            let fileName = e.target.fileName
            // if jpeg check if we ned to rotate
            if (data.startsWith("data:image/jpeg")) {
              EXIF.getData(file, function () {
                let exifdata = EXIF.getAllTags(this);
                // TODO save lon/lat?
                // we have EXIF data
                if (window.Capacitor == undefined) {
                  if (!self.hasAutoRotate) {
                    if (exifdata.Orientation !== undefined && exifdata.Orientation !== 1) {
                      // self.$log.debug(fileName+"# InputMedia orientation needed:", exifdata.Orientation)
                      let tempImage = new Image()
                      tempImage.onload = function () {
                        // self.$log.debug(fileName+"# InputMedia orientation DONE")
                        self.finalize(self.orientation(tempImage, exifdata), fileName)
                      }
                      tempImage.src = data
                    } else {
                      // self.$log.debug(fileName+"# InputMedia No orientation needed")
                      self.finalize(data, fileName)      
                    }
                  } else {
                    // self.$log.debug(fileName+"# Browser new enough to handle orientation automatically")
                    self.finalize(data, fileName)
                  }
                } else {
                  // self.$log.debug(fileName+"# InputMedia Orientation already handled by Capacitor")
                  self.finalize(data, fileName)      
                }
              })

            } else {
              // this.$log.debug(fileName+"# InputMedia is not jpeg / image ")
              this.finalize(data, fileName)
            }
          }
          // Start the reader job - read file as a data url (base64 format)
          reader.fileName = file.name
          reader.readAsDataURL(input.files[i])
        }
      }
      // Ensure that you have a file before attempting to read it
    },
    async sourcePrompt() {
      const swalWithBootstrapButtons = this.$swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary p-2',
          cancelButton: 'btn btn-primary p-2'
        }
      })
      swalWithBootstrapButtons.fire({
        title: 'Upload Photo',
        text: "Choose image source.",
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Camera',
        cancelButtonText: 'Photo Album'
      }).then((result) => {
        if (result.dismiss !== 'backdrop') {
          this.androidCameraToggle = (result.value === true)
          this.$nextTick(() => {
            this.$refs.file.click()
          })
        }
      })
    },
    browserAutoRotates () {
      // returns a promise that resolves to true if the browser automatically rotates images based on exif data and false otherwise
      return new Promise((resolve, reject) => {
        // load an image with exif rotation and see if the browser rotates it
        const image = new Image()
        image.onload = () => {
          resolve(image.naturalWidth === 1)
        }
        image.onerror = reject
        // this jpeg is 2x1 with orientation=6 so it should rotate to 1x2
        image.src = 'data:image/jpeg;base64,/9j/4QBiRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAYAAAEaAAUAAAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAAITAAMAAAABAAEAAAAAAAAAAABIAAAAAQAAAEgAAAAB/9sAQwAEAwMEAwMEBAMEBQQEBQYKBwYGBgYNCQoICg8NEBAPDQ8OERMYFBESFxIODxUcFRcZGRsbGxAUHR8dGh8YGhsa/9sAQwEEBQUGBQYMBwcMGhEPERoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoa/8IAEQgAAQACAwERAAIRAQMRAf/EABQAAQAAAAAAAAAAAAAAAAAAAAf/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIQAxAAAAF/P//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAQUCf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Bf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Bf//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEABj8Cf//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAT8hf//aAAwDAQACAAMAAAAQH//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Qf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Qf//EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAT8Qf//Z'
      })
    }
  }
}
</script>
