<template>
  <div class="form-group">
    <div
      class="label"
    >
      <span
        class="form-label"
        v-html="label"
      />
    </div>
    <div>
      <input
        :type="type"
        :value="value"
        class="form-control"
        :placeholder="placeholder"
        :disabled="disabled"
        :class="{'is-invalid': isError, 'text-muted': disabled}"
        @input="input($event)"
        @change="change($event)"
        :dusk="dusk ? dusk : 'input-'+label.replace(/\s/g, '-').toLowerCase()"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputPlus',
  props: {
    label: {
      default: 'Label',
      type: String
    },
    value: {
      type: [String, Number],
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    dusk: {
      type: String,
      default: ''
    }
  },
  computed: {
    isError () {
      if (this.required) {
        if (this.value === '' || this.value === null || this.value === undefined) {
          return true
        }
      }
      return false
    }
  },
  methods: {
    input (event) {
      this.$emit('input', event.target.value)
    },
    change (event) {
      this.$emit('change', event.target.value)
    }
  }
}
</script>
<style scoped>

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>
