<template>
  <div class="form-group">
    <div class="label">
      <span
        class="form-label"
        v-html="label"
      />
    </div>
    <div
      class="btn-group row w-100 mx-auto btn-group-sm"
      data-toggle="buttons"
    >
      <label
        v-for="option in formatedOptions"
        :key="option.value"
        class="btn btn-light"
        :disabled="disabled"
        :class="{'active': option.value == value, 'col-12': optionsFullWidth }"
        :dusk="'radio-'+label.replace(/\s/g, '-').toLowerCase()+'-'+option.value"
      >
        <input
          type="radio"
          :value="option.value"
          :disabled="disabled"
          :class="{'is-invalid': isError}"
          :checked="option.value == value"
          autocomplete="off"
          @input="input($event)"
          @change="change($event)"
        > {{ option.text }}
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RadioPlus',
  props: {
    label: {
      default: 'Label',
      type: String
    },
    value: {
      type: [String, Number],
      default: ''
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    options: {
      type: Array,
      default: undefined
    },
    optionsFullWidth: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    formatedOptions () {
      if (this.options !== undefined) {
        return this.options
      }
      return []
    },
    isError () {
      if (this.required) {
        if (this.value === '' || this.value === null || this.value === undefined) {
          return true
        }
      }
      return false
    }
  },
  methods: {
    input (event) {
      this.$emit('input', event.target.value)
    },
    change (event) {
      this.$emit('change', event.target.value)
    }
  }
}
</script>
<style scoped>
  input[type="radio"] {display:none;}
  .btn-light {
    border-color: #ced4da;
  }
</style>
