<template>
  <div
    class="form-group"
  >
    <div
      v-if="label"
      class="label"
    >
      <span
        class="form-label"
        v-html="label"
      />
    </div>
    <div>
      <select
        class="form-control custom-select"
        :dusk="dusk ? dusk : 'select-'+label.replace(/\s/g, '-').toLowerCase()"
        :class="{'is-invalid': isError}"
        :disabled="disabled"
        v-model="selectedOption"
        @change="change($event)"
      >
        <option
          disabled
          selected
          value
        />
        <option
          v-for="option in formatedOptions"
          :key="option.value"
          :value="option.value"
        >
          {{ option.text }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectPlus',
  props: {
    label: {
      default: '',
      type: String
    },
    value: {
      type: [String, Number],
      default: ''
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    options: {
      type: Array,
      default: undefined
    },
    dusk: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      selectedOption: null
    }
  },
  watch: {
    value (newValue) {
      this.selectedOption = newValue
    }
  },
  computed: {
    formatedOptions () {
      if (this.options !== undefined) {
        return this.options
      }
      return []
    },
    isError () {
      if (this.required) {
        if (this.value === '' || this.value === null || this.value === undefined) {
          return true
        }
      }
      return false
    }
  },
  methods: {
    // input (event) {
    //   this.selectedOption = event.target.value
    //   this.$emit('input', event.target.value)
    // },
    change (event) {
      this.selectedOption = event.target.value
      this.$emit('input', event.target.value)
    }
  },
  mounted () {
    this.selectedOption = this.value
  }
}
</script>

<style scoped>
.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>
