<template>
  <div class="form-group">
    <div
      class="label"
    >
      <span
        class="form-label"
        v-html="label"
      />
    </div>
    <div>
      <textarea
        :value="value"
        :disabled="disabled"
        :placeholder="placeholder"
        class="form-control"
        :class="{'is-invalid': isError}"
        :rows="rows"
        width="100%"
        @input="input($event)"
        @change="change($event)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextAreaPlus',
  props: {
    label: {
      default: '',
      type: String
    },
    value: {
      default: '',
      type: [Number, String]
    },
    disabled: {
      type: Boolean,
      default: false
    },
    autoSave: {
      default: false,
      type: Boolean
    },
    placeholder: {
      type: String,
      default: 'Start typing...'
    },
    required: {
      type: [String, Boolean],
      default: false
    },
    rows: {
      default: 3,
      type: Number
    }
  },
  data () {
    return {
      'message': null
    }
  },
  computed: {
    isError () {
      if (this.required) {
        if (this.value === '' || this.value === null || this.value === undefined) {
          return true
        }
      }
      return false
    }
  },
  methods: {
    input (event) {
      this.$emit('input', event.target.value)
    },
    change (event) {
      this.$emit('change', event.target.value)
      this.value = event.target.value
    }
  }
}
</script>
