<template>
  <div
    class="col-12 pb-2 pt-2"
    v-if="object && object.audit && object.subtype"
  >
    <div class="row">
      <div class="col-12  text-muted pb-2">
        {{ object.assessment.title }}
        <icon :icon="['fal','angle-right']" /><icon :icon="['fal','angle-right']" />  {{ object.audit.title }}
        <icon :icon="['fal','angle-right']" /><icon :icon="['fal','angle-right']" />  {{ object.type.title }}
        <icon :icon="['fal','angle-right']" /><icon :icon="['fal','angle-right']" />  {{ object.subtype.title }}
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-6"
      >
        <h3 class="mb-0">
          {{ object.title }}
          <a
            href="#"
            class="btn btn-link"
            @click.prevent="openEditModal"
            dusk="AuditObject-Edit"
            v-if="isAdmin(audit) || isAuditor(audit)"
          >
            <icon :icon="['fal','edit']" />
          </a>
        </h3>
        <AuditObjectMetadata :object="object" />

        <AuditObjectUserGroups
          v-if="isHazard"
          :object="object"
        />
      </div>
      <div
        class="col-xs-12 col-sm-6"
        style="height:150px"
      >
        <location-map-picker
          label="Location"
          :latitude.sync="object.latitude || 0"
          :longitude.sync="object.longitude || 0"
          :object.sync="object"
        />
      </div>
    </div>

    <div class="row  py-2">
      <div class="col-12">
        <h3>
          <icon
            aria-hidden="true"
            :icon="['fal','photo-video']"
          /> Media

          <!-- Media buttin input here -->
          <input-media
            :audit-object="object"
          />
        </h3>
      </div>

      <!-- Media files here  -->
      <div
        class="col-4"
        v-for="media in object.media"
        :key="media.id"
      >
        <media
          :file="media"
        />
      </div>
      <hr>
    </div>
    
    <div class="row mt-3">
      <AuditObjectHazards
        v-if="!isSupportServices"
        :object="object"
      />
    </div>

    <div class="row mt-3">
      <AuditObjectSigns
        v-if="!isSupportServices"
        :object="object"
      />
    </div>

    <div class="row mt-3">
      <AuditObjectRisk
        v-if="isHazard"
        :risks="object.risks"
        :object="object"
        :audit="audit"
      />
    </div>

    <div class="row mt-3">
      <AuditObjectRecommendations
        :object="object"
        :recommendations="object.recommendations"
      />
    </div>

    <div class="row mt-3">
      <AuditObjectComments
        :object="object"
        :comments="object.comments"
      />
    </div>
    <AuditObjectEditModal
      :object="editObject"
      @close="showEditAuditModal = false"
      @save="saveUpdate"
      @cancel="cancelUpdate"
      :errors="errors"
      :show="showEditAuditModal"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Audit from "@/models/audit";
import AuditObject from "@/models/audit_object";
import ObjectSubtype from "@/models/object_subtype";
import AuditObjectEditModal from "@/components/AuditObject/AuditObjectEditModal.vue"
import AuditObjectMetadata from "@/components/AuditObject/AuditObjectMetadata.vue"
import AuditObjectHazards from "@/components/AuditObject/AuditObjectHazards.vue"
import AuditObjectSigns from "@/components/AuditObject/AuditObjectSigns.vue"
import AuditObjectUserGroups from "@/components/AuditObject/AuditObjectUserGroups.vue"

export default {
  name: "ObjectEdit",
  components: {
    AuditObjectEditModal,
    AuditObjectMetadata,
    AuditObjectHazards,
    AuditObjectSigns,
    AuditObjectUserGroups
  },
  props: {
    auditId: {
      type: [Number, String],
      required: true
    },
    objectId: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      showEditAuditModal: false,
      list: false,
      type_id: null,
      editObject: {},
      selectedObjects: [],
      errors: {},
    };
  },
  watch: {
    '$route.params.objectId': {
      handler: function() {
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    ...mapGetters({
      isAdmin: "auth/isAdmin",
      isAuditor: "auth/isAuditor"
    }),
    audit() {
      return Audit.query().with('beach').with('objects').with('objects.subtype').find(this.object.audit_id)
    },
    object() {
      return AuditObject.query().with('hazards').with('hazardChildren').with('signs').with('signChildren').with('assessment').with('type').with('subtype').with('audit').with('audit.beach').with('risks').with('media').with('comments').with('comments.user').with('recommendations').with('recommendations.user').find(this.objectId)
    },
    subtypes() {
      return ObjectSubtype.query().where('type_id', this.object.type_id).get()
    },
    isHazard() {
      return this.object.type_id === 16
    },
    isSupportServices() {
      return this.object.type_id === 13
    },
    subtypesAsOptions() {
      var formatedOptions = [];
      if (this.subtypes.length > 0) {
        _.forEach(this.subtypes, function(subtype) {
          let option = {};
          option.value = subtype.id;
          option.text = subtype.title
          formatedOptions.push(option);
        });
      }
      return formatedOptions;
    },
  },
  methods: {
    async exist(file) {
      const imageCache = await caches.open('images')
      const response = await imageCache.match(file)

      if(response.ok) {
        return true
      }
      return false
    },
    openEditModal () {
      this.editObject = JSON.parse(JSON.stringify(this.object)) // create deep copy of object
      this.showEditAuditModal = true
    },
    saveUpdate (object) {
      this.errors = {}
      this.running = true

      var params = {
        id: object.id,
        title: object.title,
        subtype_id: object.subtype_id,
        status: object.audit.status,
        metadata: object.metadata
      }

      AuditObject.dispatch('updateObject', params).then(
        response => {
          this.running = false
          this.errors = response.data.errors;
          if (this.errors) {
            let text = "<ul>"
            for (let key in this.errors) {
              text += "<li>" + this.errors[key][0] + "</li>"
            }
            this.$swal({
              icon: "error",
              title: "Audit Object",
              html:
                  "<div class='text-left error-padding'>Please fix the following errors: " + text + "</ul></div>"
            });
          } else {
            this.$swal({
              icon: "success",
              title: "Object updated"
            });
            this.showEditAuditModal = false
            this.errors = {}; // reset errors
          }
        },
        error => {
          console.error(error);
          this.running = false
          this.$swal({
            icon: "error",
            title: "Audit Object",
            text: "Error Editing Object :("
          });
        }
      );
    },
    cancelUpdate () {
      this.$swal({
        icon: "warning",
        title: "Are you sure you want to cancel? Any unsaved changes may be lost.",
        showCancelButton: true,
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          this.showEditAuditModal = false
        } else {
          return false
        }
      })
    },
  }
};
</script>

<style scoped>
</style>
