<template>
  <div
    class="col-12"
    v-if="audit && currentObjectType"
  >
    <div
      class="w-100 py-2"
    >
      <div class="text-muted">
        {{ audit.assessment.title }}
        <icon :icon="['fal','angle-right']" /><icon :icon="['fal','angle-right']" /> {{ audit.title }}
        <icon :icon="['fal','angle-right']" /><icon :icon="['fal','angle-right']" /> <span v-if="Number.isInteger(currentObjectType)">{{ objectType.title }}</span> <span v-else>{{ currentObjectType }}</span>
      </div>
    </div>

    <div
      class="col-12 pb-2"
      v-if="selectedObjects && selectedObjects.length > 0"
    >
      <h3 v-if="Number.isInteger(currentObjectType)">
        Type: {{ objectType.title }}
        <div class="float-right">
          <button
            class="btn btn-primary btn-sm"
            @click.prevent="newAudit(currentObjectType)"
            dusk="New-Audit-Object"
          >
            <icon :icon="['fal','plus']" />
            New
          </button>
        </div>
      </h3>
    </div>
    <div
      class="col-12 pb-2"
      v-if="selectedObjects && selectedObjects.length > 0"
    >
      <div
        id="objects"
      >
        <AuditObjectHeader
          :object="object"
          :object-type="objectType"
          v-for="(object) in selectedObjects"
          :key="object.id"
        />
      </div>
    </div>


    <div
      class="text-center py-5 bg-info col-12"
      v-if="selectedObjects && selectedObjects.length === 0 && Number.isInteger(currentObjectType) > 0"
    >
      <h3 v-if="Number.isInteger(currentObjectType)">
        Type: {{ objectType.title }}
      </h3>
      <h3 class="text-dark">
        Nothing here yet. 😞
      </h3>

      <button
        class="btn btn-primary btn-sm"
        @click.prevent="newAudit(currentObjectType)"
        dusk="New-Audit-Object"
      >
        <icon :icon="['fal','plus']" />
        New
      </button>
    </div>
    <div v-if="currentObjectType === 'risks'">
      <AuditRisks
        :audit="audit"
      />
    </div>
    <div
      v-if="currentObjectType === 'beach'"
      class="beach-details"
    >
      <div class="col-12">
        <h3 class="pt-2">
          <icon :icon="['fal','umbrella-beach']" />
          {{ audit.beach.title }}
          <small class="text-muted">{{ audit.beach.key }}</small>
        </h3>
      </div>

      <AuditBeach :audit="audit" />
    </div>


    <div v-if="currentObjectType === 'map'">
      <MapDisplay
        :objects="audit.objects"
        :latitude="audit.beach.latitude"
        :longitude="audit.beach.longitude"
      />
    </div>
  </div>
</template>

<script>
// import { mapGetters } from "vuex";
import Audit from "@/models/audit";
import AuditObject from "@/models/audit_object";
import ObjectType from "@/models/object_type";
import ObjectSubtype from "@/models/object_subtype";
import AuditObjectHeader from "@/components/AuditObject/AuditObjectHeader.vue";
import MapDisplay from "@/components/Location/MapDisplay.vue";
import AuditBeach from "@/components/Audit/AuditBeach.vue";
import AuditRisks from "@/components/Audit/AuditRisks.vue";

export default {
  name: "ObjectGroupList",
  components: {
    AuditObjectHeader,
    MapDisplay,
    AuditBeach,
    AuditRisks
  },
  props: {
    auditId: {
      type: [Number, String],
      required: true
    },
    objectTypeId: {
      type: [Number, String],
      required: true
    },
    currentObjectType: {
      type: [Number, String],
      required: true
    }
  },
  // data() {
  //   return {
  //     currentObjectType: null
  //   };
  // },
  // watch: {
  //   objectTypeId () {
  //     this.currentObjectType = this.$route.params.objectTypeId
  //   }
  // },
  computed: {
    audit() {
      return Audit.query()
        .with('beach')
        .with('assessment')
        .with('objects')
        .with('objects.media')
        .with('objects.type')
        .with('objects.subtype')
        .with('objects.audit')
        .with('objects.assessment')
        .with('media')
        .with('comments')
        .with('comments.user')
        .with('comments.auditObject')
        .with('risks')
        .with('risks.auditObject')
        .find(this.auditId)
    },
    selectedObjects() {
      return AuditObject.query().with('type').with('subtype').with('audit').with('assessment')
        .where('type_id', this.currentObjectType).where('audit_id', this.auditId).get()
    },
    objectType() {
      return ObjectType.query().find(this.currentObjectType)
    },
    subtypes() {
      return ObjectSubtype.query().where('type_id', this.currentObjectType).orderBy('title', 'asc').get()
    },
    risks() {
      return _.sortBy(this.audit.risks,'score').reverse()
    },
  },
  // mounted() {
  //   this.currentObjectType = this.$route.params.objectTypeId
  // },
  methods: {
    subtypesAsOptions() {
      const inputOptions = new Map
      if (this.subtypes.length > 0) {
        _.forEach(this.subtypes, function(subtype) {
          inputOptions.set(subtype.id, subtype.title)
        });
      }
      return inputOptions;
    },
    newAudit (selectedType) {
      this.type_id = selectedType
      const Wizard = this.$swal.mixin({
        confirmButtonText: 'Next',
        reverseButtons: true,
        showCancelButton: true,
        customClass: { input: 'form-control custom-select',},
        progressSteps: ['1']
      })
      let steps = [
        {
          title: 'Type',
          input: 'select',
          inputOptions: this.subtypesAsOptions(),
          inputValidator: (value) => {
            return !value && 'You need to choose something!'
          }
        }
        // ,{
        //   title: 'Title',
        //   input: 'text',
        //   inputAttributes: {
        //     'dusk': 'New-Audit-Title'
        //   },
        //   inputValidator: (value) => {
        //     return !value && 'You need to choose something!'
        //   }
        // }
      ]

      Wizard.queue(steps).then((result) => {
        if (result.value) {

          var objectSubtype = ObjectSubtype.query().find(parseInt(result.value[0]))

          var params = {
            type_id: this.type_id,
            subtype: objectSubtype,
            title: objectSubtype.title,
            assessment_id: this.audit.assessment_id,
            audit_id: this.audit.id,
            audit_status: this.audit.status
          }

          AuditObject.dispatch('submitAuditObject', params).then(
            response => {
              // this.loading = false;
              this.errors = response.data.errors;
              if (this.errors) {
                this.$swal({
                  icon: "error",
                  title: "Audit",
                  text:
                "Please fill in all. " + this.validation + " missing fields"
                });
              } else {
                this.list = false
                this.$swal({
                  icon: "success",
                  title: "Good Job!",
                  text: "You had created a audit object. Please add the details."
                });
                this.$router.push({ name: 'AuditObjectEdit' , params: { assessmentId: response.data.object.assessment_id, auditId: response.data.object.audit_id, objectId: response.data.object.id }});
              }
            },
            error => {
              console.error(error);
              // this.loading = false;
              this.$swal({
                icon: "error",
                title: "Assessment",
                text: "Error saving :("
              });
            }
          );
        }
      })
    }
  }
};
</script>
